AI UGC Video Generation Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1664,
        944
      ],
      "id": "1be5f5de-37c6-41ff-882e-97eed9b96df3",
      "name": "Telegram Trigger",
      "webhookId": "fe242d7c-304f-40ad-90e6-4ae381cd882d",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e02677a-b4c5-4e21-b97e-6536d336181b",
              "name": "bot id",
              "value": "8351768336:AAF9RLjBvcUpcYeO_bnIGDGodALvUFCPy3s",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        944
      ],
      "id": "783a74a1-f450-4df6-bcc1-acf6a0c3f6fe",
      "name": "Edit Fields - Bot ID 1"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        944
      ],
      "id": "ddba8dc4-1d39-4c40-83f3-1e0bb488d1d2",
      "name": "HTTP Request - Image Path"
    },
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 304,
        "width": 1456,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        864
      ],
      "typeVersion": 1,
      "id": "15721ec0-eee8-474b-93d5-fc452e2e1c7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"image_urls\": [\n    \"https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $('HTTP Request - Image Path').item.json.result.file_path }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        1536
      ],
      "id": "b146399f-3134-47ea-b21d-47f808662abf",
      "name": "HTTP Request - Create Image 1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -544,
        1536
      ],
      "id": "a91c2c68-6c20-403a-b810-7edc608f4661",
      "name": "Wait - 30s",
      "webhookId": "42daef01-5775-4a27-b76f-99d3e98fbaaa"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key  <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        1536
      ],
      "id": "86d35c58-e9e1-4265-a20f-97263ade2384",
      "name": "HTTP Request - Get Image 1"
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 416,
        "width": 1504,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        1424
      ],
      "typeVersion": 1,
      "id": "7f2bf6ae-0c04-4c73-954e-b09354f604c9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scenes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scene 1\": { \"type\": \"string\" },\n        \"scene 2\": { \"type\": \"string\" }\n      },\n      \"required\": [\"scene 1\", \"scene 2\"]\n    }\n  },\n  \"required\": [\"scenes\"]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        1136
      ],
      "id": "20d0a69c-1605-45fe-8dc3-725884b5204f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        928
      ],
      "id": "6ccc5ab6-24cb-41b5-8a67-ad1c3a4e28d3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json['output.scenes'] }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"imageUrls\": \"{{ $('HTTP Request - Get Image 1').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        928
      ],
      "id": "32efaac9-0b02-4ab4-9713-bd95138d7c21",
      "name": "HTTP Request - Make Video 1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        992
      ],
      "id": "d7cc2082-4403-4fc3-b09b-e27d6bb215e5",
      "name": "HTTP Request - Get Video"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 416,
        "width": 1568,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        864
      ],
      "typeVersion": 1,
      "id": "c50fa943-a418-4e7c-a720-1d433e82c75e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        1584
      ],
      "id": "958d3a39-711d-4b57-86e2-250a69e23e84",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key  <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        1584
      ],
      "id": "8348d627-4356-494d-8c53-107c798eb252",
      "name": "HTTP Request - Final Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.video.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        1584
      ],
      "id": "3029b68c-9029-4ef4-9f31-07991e476a6f",
      "name": "Send a video",
      "webhookId": "ab78e37e-9d9f-44a9-90e1-3ee3f6a126c7",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Combine Videos",
        "height": 512,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1408
      ],
      "typeVersion": 1,
      "id": "b54d0c8f-3240-4d8e-a909-5c9da3620638",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "product_description = _('Analyze image').item.json.content\nuser_instructions = _('Telegram Trigger').item.json.message.caption\n\nprompt = f\"\"\"\nCreate video prompts for 3 connected scenes.\n\nCRITICAL - EXACT PRODUCT DETAILS FROM REFERENCE IMAGE:\n{product_description}\n\nYOU MUST use these EXACT product details in ALL 3 scenes:\n- Same product color\n- Same packaging design\n- Same brand text\n- Same product type\nDO NOT change or invent ANY product details.\n\nUser's scene instructions:\n{user_instructions}\n\nLANGUAGE REQUIREMENT: All dialogue must be in ENGLISH only.\n\nGenerate 3 progressive scenes with the EXACT SAME product shown in the reference image above.\n\"\"\"\n\nreturn {'chatInput': prompt}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        928
      ],
      "id": "612f8299-cada-4e2e-a06f-694c4e1a8296",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nfor item in _input.all():\n    scene = item.json['output.scenes']\n    \n    scene = ' '.join(scene.split())\n    \n    scene = scene.replace('\"', \"'\")\n    \n    item.json['output.scenes'] = scene\n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        928
      ],
      "id": "f98630b6-ffe8-4ca8-b01d-dfbacc8a8666",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        1584
      ],
      "id": "99817e7e-ea0a-48ee-b071-cf777a9ae36a",
      "name": "Wait 60s",
      "webhookId": "15c70af5-94aa-4162-8333-2f182dd58da1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key  <YOUR_API_KEY_HERE>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\n    \"{{ $input.all()[0].json.video_url }}\",\n    \"{{ $input.all()[1].json.video_url }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1584
      ],
      "id": "68f5ee4f-3f05-4006-80a3-01bc8ee64868",
      "name": "HTTP Request - Combine"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://just-determination-production-fea7.up.railway.app/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.resultUrls[0][0] }}\",\n  \"start_time\": 0,\n  \"end_time\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1456
      ],
      "id": "34a8856e-5e09-4287-9a52-e73703b8f752",
      "name": "Trim Scene 1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://just-determination-production-fea7.up.railway.app/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.resultUrls[0][1] }}\",\n  \"start_time\": 0,\n  \"end_time\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1696
      ],
      "id": "9c117b73-3a1f-4c2b-b534-2338208452a9",
      "name": "Trim Scene 2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        1568
      ],
      "id": "1e0cd853-05ad-40e5-a7d8-7083d39ba45f",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=🔍 Product Analysis\n\n{{ $json.content }}\n\n\nPlease confirm:\n\n✅ APPROVE - Continue to video generation\n🔄 RETRY - Re-analyze image\n❌ CANCEL - Stop workflow",
        "responseType": "freeText",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        944
      ],
      "id": "370ca53b-1a8f-4009-af6e-5ac4a55d110c",
      "name": "Send message and wait for response",
      "webhookId": "e80dcc83-7e57-45d6-a296-101e2fb7d016",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9acb8a4c-b46e-4a56-bfd5-5bb08cb2a7f2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "=APPROVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3e08cd5-c721-44a5-90b6-5ae404911430"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d94079d2-acbf-4f5c-96a3-15699485244a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec015a16-eb72-48b6-a55c-47f63e082c41",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CANCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        912
      ],
      "id": "02357e6d-23b4-4fc2-a3c6-8f31d6d1b76a",
      "name": "Switch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $input.first().json.data.text\n\n// Clean and normalize\nconst cleaned = userMessage.trim().toUpperCase();\n\n// Determine action\nlet action = '';\n\nif (cleaned === 'APPROVE' || cleaned === 'YES' || cleaned === 'Y') {\n  action = 'APPROVE';\n} else if (cleaned === 'RETRY' || cleaned === 'AGAIN') {\n  action = 'RETRY';\n} else if (cleaned === 'CANCEL' || cleaned === 'NO' || cleaned === 'N' || cleaned === 'STOP') {\n  action = 'CANCEL';\n} else {\n  action = 'INVALID';\n}\n\nreturn {\n  json: {\n    action: action,\n    original_message: userMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        944
      ],
      "id": "ba98a4c0-6c8e-48d1-99fa-0a4471ec34b5",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1424,
        1232
      ],
      "id": "3d2765bd-cf3d-46ee-ab70-4813d7ab32f1",
      "name": "Cancelled"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Process Cancelled",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1584,
        1232
      ],
      "id": "30f9a04c-a9fe-4821-8e41-13c76b48d6a8",
      "name": "Send a text message",
      "webhookId": "350c7788-5880-4e8f-96b8-dcbb78759b2c",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow Cancelled",
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        1184
      ],
      "typeVersion": 1,
      "id": "54846076-a44d-4a90-96c9-644cfc558050",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🟢 Your request is being processed…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        1536
      ],
      "id": "c7cd3ed3-e8b7-4d0a-b636-bf493f0eef21",
      "name": "Send a text message1",
      "webhookId": "4e3fc035-efb4-4e0b-8a23-e7e1819d977f",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Perform a full detailed analysis of the image. Describe every visible object, pattern, color, and element. Extract ALL visible text exactly as shown (case-sensitive), including partial or obscured text. For each detail and text, specify its location and relevance in the image.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1040,
        944
      ],
      "id": "03f5b0bf-7291-4e9d-a827-709b995f5936",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1088,
        1728
      ],
      "id": "47a68bff-2936-4f06-ae43-db867f4157c0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7wRe2whxERwY0gjz",
          "name": "OpenAi account 2 | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1488,
        1744
      ],
      "id": "e68882aa-f0cf-493c-84d7-5cd6ded67e8a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7wRe2whxERwY0gjz",
          "name": "OpenAi account 2 | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        1168
      ],
      "id": "1b969c0f-8652-46cc-8f68-70ea910acdae",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "7wRe2whxERwY0gjz",
          "name": "OpenAi account 2 | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Image Description: {{ $('Analyze image').item.json.content }}\n\nCaption: {{ $('Telegram Trigger').item.json.message.caption }}\n\n",
        "options": {
          "systemMessage": "You create simple scene descriptions for UGC video generation.\n\nINPUT:\n- Image Description (contains product details)\n- User Caption (contains scene instructions)\n\nOUTPUT FORMAT:\nProduct: [COMPLETE description with ALL visual details from image]\nCharacter: [simple description]\nSetting: [minimal description]\nAudio & Voice: [one of three templates only]\n\nRULES:\n\n1. PRODUCT (CRITICAL - NO LENGTH LIMIT):\n   \n   Extract and include EVERY visual detail from the image description:\n   - Exact brand name and spelling\n   - Product type\n   - ALL colors mentioned (packaging, labels, text, backgrounds)\n   - Logo details (shape, position, colors)\n   - Text placement (what's at top, center, bottom)\n   - Background patterns or designs\n   - Any distinctive visual elements\n   \n   DO NOT summarize. DO NOT simplify. Include EVERYTHING.\n   \n   BAD: \"Walkers Bugles pepper snacks\"\n   GOOD: \"Walkers Bugles pepper snacks packet, brown color theme, red oval with yellow swoosh containing 'WALKERS' text at top center, large white 'BUGLES' text below, smaller white 'pepper' text underneath, pinkish-red and brown background pattern with snack image, blue rectangular section at top left\"\n\n2. CHARACTER: Keep under 15 words. Age, clothing, one expression.\n   Example: \"Energetic girl, 18-20, brown ponytail, excited smile, holding product\"\n\n3. SETTING: Keep under 10 words. Location and lighting only.\n   Example: \"Clean, softly lit background, simple pastel colors\"\n\n4. AUDIO: Use EXACTLY one of these (copy/paste, no changes):\n   \n   ENERGETIC:\n   \"Bright, enthusiastic voice with natural conversational energy. Background: light ambient room sounds, optional soft upbeat music.\"\n   \n   CALM:\n   \"Warm, calm, and inviting voice. Soothing, conversational tone. Background: gentle ambient sounds, optional soft instrumental music.\"\n   \n   FRIENDLY:\n   \"Light, friendly, and cheerful voice with natural speaking pace. Background: soft ambient room noise, optional light background music.\"\n\n5. EXTRACTION PRIORITY:\n   - Read the ENTIRE image description carefully\n   - Extract EVERY color mentioned\n   - Extract EVERY text detail\n   - Extract EVERY visual element\n   - Preserve exact spelling and capitalization\n   - Maintain order of elements (top to bottom)\n\n6. LENGTH: \n   - Product: ANY length needed (30-60 words typical)\n   - Character: Under 15 words\n   - Setting: Under 10 words\n   - Audio: Exact template (no changes)\n\nOUTPUT: Plain text, no markdown, no extra commentary.\n\nCRITICAL: The product description determines video accuracy. Include EVERYTHING from the image description."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1408,
        1536
      ],
      "id": "5a14fd49-5d22-4670-a585-6db09a64fe08",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make one image prompt.\n\nEnsure you use the details of the reference image as accurately as possible for your final output.\n\nUser Instructions:\n{{ $json.output }}\n\nDescription of the reference image:\n{{ $('Analyze image').item.json.content }}",
        "options": {
          "systemMessage": "Role: You create image prompts.\n\nMain objective: Insert the subject (person, scene, or object from a reference image) into realistic, themed everyday situations. The output should look like authentic content captured casually by people or influencers on their phones, matching the theme of the image.\n\nSubjects should always be described as realistic and lifelike.\n\nIf the user gives vague instructions, use this structure: place the (subject) into a scene that fits the theme, with (character, environment, or activity).\n\nUGC focus: When the user wants authentic, user-generated content, assume casual, themed everyday scenes unless told otherwise.\n\nPerspective notes:\n\nIf the scene is in a car, the perspective should be from in front of the character, with the headrest visible.\n\nIf it’s outdoors or lifestyle, use angles that feel natural, like a snapshot.\n\nStyle guidelines: All results should feel natural, authentic, and in-theme. Specifically:\n\nThemed, relatable real-world settings\n\nSubjects should match the theme (e.g., poolside = summer, beach = vacation, café = casual lifestyle)\n\nCasual, unposed expressions and body language\n\nNatural lighting, sunlight on skin, environmental details\n\niPhone snapshot look, amateur but high-detail\n\nRULES:\n\nAlways use single quotes ('')\n\nOnly output the image prompt itself. No extra text.\n\nNo dialogue or video instructions, only still image prompts\n\nFollow any user-specified style, setting, or theme\n\nNever use hyphens or dashes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1088,
        1536
      ],
      "id": "90f4330f-6284-40c2-a845-a7770176a1ad",
      "name": "AI Agent - Image Prompt"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI agent that generates UGC video prompts for a single continuous 15 to 18 second clip split into three 5 to 6 second connected moments.\n\nCRITICAL: These are THREE CONNECTED MOMENTS in ONE VIDEO, not three separate videos. The model/person moves naturally and continuously throughout all scenes. There is no spoken dialogue. Subtle, appealing background music plays throughout.\n\nCharacter & Setting Consistency:\n\nEXACT SAME model/person appearance (hair, outfit, accessories, makeup) in all 3 scenes\n\nEXACT SAME location and background in all 2 scenes\n\nEXACT SAME lighting and time of day in all 3 scenes\n\nScene Progression:\n\nEach scene is a CONTINUATION of the previous moment, showing natural movement and interaction with the environment or props\n\nScene 1 (Hook): Model is positioned naturally, e.g., lounging, walking, or posing, engaging with the camera or surroundings to grab attention.\n\nScene 2 (Progression): Model continues movement, interacting naturally with the environment or adjusting pose, showing progression from Scene 1.\n\nStyle & Technical Rules:\n\nContinuous natural movement across all 3 scenes\n\nKeep the SAME model/person and setting across all scenes, only change actions for progression\n\nSubtle, appealing background music plays throughout, non-distracting\n\nKeep each scene under 50 words\n\nOne continuous paragraph per scene\n\nCamera angles and framing should look like casual UGC (iPhone snapshot style, slightly handheld, natural lighting)\n\nOutput must maintain structure intact\n\nNo spoken dialogue or text in the video"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        928
      ],
      "id": "7d1683fa-9f9d-42b6-b359-10b493e00b71",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        928
      ],
      "id": "e250bd33-e746-4ff2-8cc4-2c0349bba0de",
      "name": "Wait 5m",
      "webhookId": "1792afdd-653c-4079-a66d-e6536ca1a4c5"
    },
    {
      "parameters": {
        "content": "## For Tiktok Upload\n\n[Tiktok For Developers](https://developers.tiktok.com/app/7568099330684225548/pending)\n\n[Client key](\nawueea9a9ibxpnd3)\n\n[Client secret](\nPtNO3aWgbHkCPFClAoSg7ZoEUXH5wE41)\n\n\n## Facebook \nCredentials for fb graph API expires ever 1-2 hrs",
        "height": 336,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -176
      ],
      "typeVersion": 1,
      "id": "1f3fe366-134b-46ab-893d-3b2b54669ff3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Take note of costs\n\n# * Fal.AI\n# * Railway.com\n# * Kie.ai\n\n\n\n\n# [Spreadsheet](https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=sharing)\n\n\n# [Files for Video Trimming](https://github.com/RandomSci/workflows/tree/7de868fc91976fc5f06420469321b3bb450aff27/Custom_Projects6)",
        "height": 528,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -272
      ],
      "typeVersion": 1,
      "id": "bc15a202-a75a-46e3-a70b-c8bdce95fb40",
      "name": "Sticky Note9"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Bot ID 1": {
      "main": [
        [
          {
            "node": "HTTP Request - Image Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Image Path": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video 1": {
      "main": [
        [
          {
            "node": "Wait 5m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Trim Scene 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trim Scene 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Final Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "HTTP Request - Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Combine": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Scene 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Scene 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request - Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
