AlgoNova_Labs_FB_Groups_Page.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -176
      ],
      "id": "04d81847-6974-4731-abbb-e2c1c736536c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "channelId": "UCr2Q0TirO6tHV-ZTEFNzfGQ"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -480,
        -272
      ],
      "id": "490ec3bd-ec02-44e3-bb46-d7be49ae7907",
      "name": "Get a channel",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime\nimport pytz\n\n# Get current weekday in PH\nph_tz = pytz.timezone(\"Asia/Manila\")\nnow_ph = datetime.now(ph_tz)\nweekday_ph = now_ph.strftime(\"%A\")\n\n# Fetch channel data\nchannel_data_algonova = _('Get a channel').all()\nchannel_data_echonova = _('Get a channel1').all()\n\nchannel_data = [item.to_py() for item in channel_data_algonova + channel_data_echonova]\nchannel_data_str = json.dumps(channel_data, indent=2)\n\nprompt = f\"\"\"\nCURRENT_WEEKDAY_PHT: {weekday_ph}\n\nBelow is the latest YouTube channel data for AlgoNova and EchoNova. Combine both channels into a single professional post per platform, showing milestones, numbers, and handles/links:\n\nCHANNEL_DATA:\n{channel_data_str}\n\nYou are a content generator for professional, adult-focused social posts.\nFollow the content pattern below based on the weekday provided above.\nAlways return clean JSON only — no explanations, no markdown, no comments.\n\nCONTENT THEMES BY DAY:\nMon:\n  fb_page: milestone\n  fb_group: poll\n  linkedin: milestone\nTue:\n  fb_page: short_clip\n  fb_group: mini_challenge\n  linkedin: short_clip\nWed:\n  fb_page: ai_automation_tip\n  fb_group: engagement_question\n  linkedin: automation_tip\nThu:\n  fb_page: sneak_peek\n  fb_group: fun_gif_style_post\n  linkedin: sneak_peek\nFri:\n  fb_page: milestone_update\n  fb_group: poll\n  linkedin: milestone_update\nSat:\n  fb_page: animation_clip\n  fb_group: free_discussion\n  linkedin: animation_clip\nSun:\n  fb_page: weekly_recap\n  fb_group: mini_challenge\n  linkedin: weekly_recap\n\nRULES:\n- Text should be concise, professional, and engaging for an adult audience.\n- Include subscriberCount, viewCount, and videoCount for both channels when mentioning milestones.\n- Reference both channel handles (customUrl) or links.\n- Include an image_prompt for each platform that is visually appealing and relevant.\n- Follow the content theme for the current weekday.\n- Do NOT repeat the same structure daily.\n\nThe JSON must follow this exact schema:\n\n{{\n  \"date_to_post\": \"\",\n  \"fb_page\": {{\n    \"text\": \"\",\n    \"image_prompt\": \"\"\n  }},\n  \"fb_group\": {{\n    \"text\": \"\",\n    \"image_prompt\": \"\"\n  }},\n  \"linkedin\": {{\n    \"text\": \"\",\n    \"image_prompt\": \"\"\n  }}\n}}\n\nGenerate the output based on CURRENT_WEEKDAY_PHT, combining both channels in each platform post.\n\"\"\"\n\nreturn {\"chatInput\": prompt}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -176
      ],
      "id": "baa0ab28-3482-4422-8f20-0b0fd6c40358",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a content generator for professional social posts. \n\nRULES:\n- Target audience: adult professionals, entrepreneurs, and animation enthusiasts. No references to children, fantasy, or magical elements.\n- Text must highlight achievements, milestones, or relevant content updates.\n- Include actual subscriberCount, viewCount, videoCount, and channel handle or link where appropriate.\n- Image prompts must be visually appealing, professional, and relevant to the content. No cartoon, fantasy, or magical style.\n- Text should be concise, scroll-stopping, and polished."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -176
      ],
      "id": "fc4b5bdc-2f1d-435a-833a-3f9dcd8dd224",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "621077c9-79d3-46d6-a2f2-e603e4ff3c65",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"channel\": \"AlgoNova\",\n    \"date_to_post\": \"\",\n    \"fb_page\": { \"text\": \"\", \"image_prompt\": \"\" },\n    \"fb_group\": { \"text\": \"\", \"image_prompt\": \"\" },\n    \"linkedin\": { \"text\": \"\", \"image_prompt\": \"\" }\n  },\n  {\n    \"channel\": \"EchoNova\",\n    \"date_to_post\": \"\",\n    \"fb_page\": { \"text\": \"\", \"image_prompt\": \"\" },\n    \"fb_group\": { \"text\": \"\", \"image_prompt\": \"\" },\n    \"linkedin\": { \"text\": \"\", \"image_prompt\": \"\" }\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        48
      ],
      "id": "f568fa8b-3e98-484c-8e32-f0c67e030ec0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "channelId": "UC7BRsd4QwkA_OGqDIxzwQnQ"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -480,
        -80
      ],
      "id": "66519564-0266-4afb-bbba-758ea781a9b8",
      "name": "Get a channel1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lP6X79rHDtk0jfT5",
          "name": "Youtube_Account_EchoNovaLabs"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -176
      ],
      "id": "b4ac28bb-64e0-4f34-876b-6366ed58d40e",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        -192
      ],
      "id": "74ff480c-07f1-4224-b3e5-b3dcf014be1f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output[0].fb_page.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        544,
        -368
      ],
      "id": "28b763cb-3530-4aff-ae10-0b3b784433c3",
      "name": "FB Page Image Gen",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output[0].fb_group.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        544,
        -176
      ],
      "id": "4d232716-8560-445c-b32d-924b32aaeccf",
      "name": "FB Group Image Gen",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output[0].linkedin.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        544,
        16
      ],
      "id": "de257925-57e1-4785-86c3-480edb68dd2d",
      "name": "LinkedIn Image Gen",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item.json.output[0].fb_page.image_prompt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1R4AaK6a98B7Ool5mWb7TQQSJsQEANkek",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        -368
      ],
      "id": "5cb7070f-6efb-41b8-b0da-efd57ed81f3f",
      "name": "Upload Image For FB Page",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item.json.output[0].fb_group.image_prompt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1wWwJPlZIok5Nczap6JuOEVPKWm7Rm9FD",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        -176
      ],
      "id": "ffc2ca9e-cfed-4a33-ac84-a42577b7f517",
      "name": "Upload Image For FB Group",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item.json.output[0].linkedin.image_prompt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1I9m6hRDLj4G8TzHtMOtxNKWrseD3FsBY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        16
      ],
      "id": "45476946-4c51-4bfe-8b56-95b18c650988",
      "name": "Upload Image For LInkedIn",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a channel": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "FB Page Image Gen",
            "type": "main",
            "index": 0
          },
          {
            "node": "FB Group Image Gen",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get a channel1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Page Image Gen": {
      "main": [
        [
          {
            "node": "Upload Image For FB Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Group Image Gen": {
      "main": [
        [
          {
            "node": "Upload Image For FB Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Image Gen": {
      "main": [
        [
          {
            "node": "Upload Image For LInkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image For FB Page": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image For FB Group": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload Image For LInkedIn": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
