Auto-Post Content.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4176,
        272
      ],
      "id": "818fb027-1a27-42a8-b8af-474c1523704d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4176,
        48
      ],
      "id": "6dfe3347-2f3c-4b05-ac70-f4be01cc0e06",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5296,
        48
      ],
      "id": "b4940525-a598-4b0e-a82c-20d1a43aeff0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# [Spreadsheet](https://docs.google.com/spreadsheets/d/1KuxCw3LPw-qtgEe3oqIq0iuwy79YIiru3uku2WbzHus/edit?usp=sharing)",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3408,
        -304
      ],
      "typeVersion": 1,
      "id": "a693b90f-61b5-4151-b4ce-a3021e7d6b5f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "channelId": "UCr2Q0TirO6tHV-ZTEFNzfGQ"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -5072,
        48
      ],
      "id": "d5f89fa6-37d0-4796-bb70-2d01d378f48c",
      "name": "Get a channel",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 1,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -4848,
        48
      ],
      "id": "8b5ed583-00db-41eb-a395-6757fd51299b",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4624,
        48
      ],
      "id": "4a138f8e-4ddb-4110-aec6-772970e005cd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4400,
        -144
      ],
      "id": "8c78b996-941a-4167-86a2-3a5c9b77cfdb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "Youtube_Title = _input.first().json.snippet.title\n\nprompt = f\"\"\"\nYou are connected to a spreadsheet tool. Retrieve all the data related to this YouTube video:\nTitle: {Youtube_Title}\n\nOutput format MUST be exact JSON like this:\n\n{{\n  \"Data\": [\n    {{\n      \"row_number\": 1,\n      \"Date\": \"MM/DD/YYYY\",\n      \"Time\": \"HH:MM\",\n      \"YouTube Title\": \"...\",\n      \"YouTube Description\": \"...\",\n      \"TikTok Description\": \"...\",\n      \"Facebook Reel Description\": \"...\",\n      \"Instagram Description\": \"...\",\n      \"Additional Notes\": {{\n        \"Hashtags\": [...],\n        \"Trends\": [...],\n        \"PostingTips\": [...]\n      }},\n      \"Video Url View\": \"...\",\n      \"Video Url Download\": \"...\",\n      \"col_11\": \"...\"\n    }}\n  ]\n}}\n\nNo extra words, no explanations, no quotes around the outer JSON. Return only valid JSON.\n\"\"\"\n\nreturn {\"chatInput\": prompt}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        48
      ],
      "id": "7d3dcd9c-84d0-4244-ba85-1089ae4c7f8f",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "AlgoNova Youtube Title",
              "lookupValue": "={{ $('Loop Over Items').item.json.snippet.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4048,
        272
      ],
      "id": "c491d97a-8819-4955-9856-6d5f87cb0d87",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\nimport random\n\nnow = datetime.now()\ndate_str = now.strftime(\"%m/%d/%Y\")\ntime_str = now.strftime(\"%H:%M\")\n\n# Characters to randomly reference for flavor\ncharacter = random.choice([\n    \"Cheerful Girl in Pink\",\n    \"Tiny Mermaid Girl\",\n    \"Adorable Elf Girl\",\n    \"Joyful Princess\",\n    \"Cute Wizard Girl\",\n    \"Playful School Girl\"\n])\n\n# URLs\nYoutube_Channel_Url = \"https://youtube.com/@algonovalabs?si=p6UJAPdolW5Mfdq5\"\nYoutube_Channel_name = \"AlgoNova Labs\"\nYoutube_Video_Url = f\"https://www.youtube.com/shorts/{_('Get many videos').first().json.id.videoId}\"\n\nprompt = f\"\"\"\nIMPORTANT:\nUse the exact YouTube video and channel URLs below for posts,\nbut NOT for YouTube comments (those are posted directly on that same video).\n\nVideo URL:\n{Youtube_Video_Url}\n\nChannel URL:\n{Youtube_Channel_Url}\n\nTASK:\nFor each platform below, generate 5 completely unique and creative variations. \nDo NOT reuse fixed templates — invent new phrases every time while maintaining the tone.\n• Facebook  \n• Instagram  \n• X (Twitter) — under 280 characters, must include both links  \n• YouTube Community — must include both the video + channel links  \n• YouTube Comment — should feel like the AlgoNova world calling the viewer to *enter*, purely dynamic and whimsical, no links, no hashtags\n\nTONE:\n- Whimsical ✨ Dreamlike 🌙 Playfully Mysterious 🍭  \n- Sound like a living fairytale inviting people in — “step through,” “come closer,” “follow the light,” etc.  \n- Encourage interaction (“What would you bring if you visited?” / “Which door would you open first?”).  \n- Lightly FOMO-driven: tease the beauty or emotion inside the short without spoiling it.  \n- Feel personal, curious, alive — *never corporate*.\n\nRULES:\n1. Include BOTH URLs exactly as provided (except YouTube comments).  \n2. YouTube Comment: NO URLs, NO hashtags — just pure engagement.  \n3. Each variation must be unique; words, sentence structures, and metaphors should differ.  \n4. Use emojis and vivid, sensory language.  \n5. Output ONLY valid JSON.\n\nOUTPUT FORMAT (STRICT):\nReturn ONLY valid JSON using this structure (use the FIRST variation per platform as default):\n\n{{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"Facebook Post\": \"FIRST CREATIVE VARIATION HERE\",\n  \"Instagram Post\": \"FIRST CREATIVE VARIATION HERE\",\n  \"X Post\": \"FIRST CREATIVE VARIATION HERE (must include both links, <280 chars)\",\n  \"Youtube Post\": \"FIRST CREATIVE VARIATION HERE. Watch till the end! {Youtube_Channel_name}: {Youtube_Channel_Url}\",\n  \"Youtube Comment\": \"FIRST DYNAMIC WHIMSICAL COMMENT GENERATED BY AI\",\n  \"Status\": \"Ready to Post\",\n  \"Category\": \"Community Engagement\",\n  \"Notes\": \"Each variation must feel freshly invented — whimsical, engaging, and alive. Let the AI explore endless magical phrasing, metaphors, and curiosity triggers.\"\n}}\n\"\"\"\n\nreturn {'chatInput': prompt}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        48
      ],
      "id": "cd472346-ecad-459e-88f7-f1a1e7a78c66",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $json[\"output\"];\n\naiOutput = aiOutput.replace(/^```json\\s*|\\s*```$/g, '');\n\nconst parsedOutput = JSON.parse(aiOutput);\n\nconst dataArray = parsedOutput.Data;\n\nconst finalArray = typeof dataArray === 'string' ? JSON.parse(dataArray) : dataArray;\n\nreturn finalArray.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3824,
        48
      ],
      "id": "741daa57-5bbe-4b1a-875c-cd38fe0e0b1b",
      "name": "Spreadsheet Data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2704,
        48
      ],
      "id": "25888315-ac6c-4bc1-8640-3e5bdfe57656",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2640,
        272
      ],
      "id": "a26b4f6c-a2dd-46ea-9b76-a88836da3bc4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"Video Url View\"] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3600,
        48
      ],
      "id": "88f9af36-4919-4bba-825d-b61283c61010",
      "name": "Download file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3376,
        48
      ],
      "id": "dc51bc78-854b-4773-8775-102092fa82eb",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "Video_Details = _input.first().json.content.parts[0].text\n\nprompt = f\"\"\"\nThis is the Video Details: {Video_Details}\n\nCreate a cinematic pastel 3D render inspired by the video's magical theme. \nIt must look professional, clean, and emotionally uplifting — with the same whimsical mood as:\n\n\"A cinematic 3D pastel render of a floating magical light above an enchanted meadow, surrounded by gentle sparkles and pastel petals. Soft glow, balanced composition, no faces, no text, no characters.\"\n\nNow, come up with a **unique, creative variation** of that scene idea.\nYou may change:\n- The main magical focus (e.g., glowing portal, floating island, crystal heart, enchanted flower, soft light waves, celestial pond)\n- The setting (e.g., pastel clouds, garden, seaside, sky, forest, dream realm)\n- The color palette (keep pastel but vary tone: mint, pink, lavender, baby blue, gold)\n- The lighting mood (morning glow, twilight sparkle, gentle sunrise)\n\nRULES:\n- Always keep the pastel, cinematic, whimsical aesthetic.\n- Keep the composition balanced and minimal.\n- Include NO text, NO faces, NO characters.\n- Avoid darkness, clutter, and harsh contrast.\n- Output must feel visually premium, magical, and uniquely creative.\n\nGoal: Each result should feel like a new chapter of the same whimsical world — different scene, same dreamlike energy.\n\"\"\"\n\nreturn {'prompt': prompt}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        48
      ],
      "id": "890eac92-4284-4445-8b50-fba448e052c2",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nai_output = items[0]['json']['output']\n\nmatch = re.search(r'```json\\s*(\\{.*?\\})\\s*```', ai_output, re.DOTALL)\n\nif match:\n    json_str = match.group(1).strip()\nelse:\n    match = re.search(r'(\\{.*?\\})', ai_output, re.DOTALL)\n    if not match:\n        raise ValueError(\"No JSON object found in AI output\")\n    json_str = match.group(1).strip()\n\nparsed = json.loads(json_str)\n\nreturn [{\"json\": parsed}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        48
      ],
      "id": "debaa6b8-24b1-402a-a11d-17423675ead3",
      "name": "Code in Python (Beta)4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KuxCw3LPw-qtgEe3oqIq0iuwy79YIiru3uku2WbzHus",
          "mode": "list",
          "cachedResultName": "Scheduled Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KuxCw3LPw-qtgEe3oqIq0iuwy79YIiru3uku2WbzHus/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KuxCw3LPw-qtgEe3oqIq0iuwy79YIiru3uku2WbzHus/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Time": "={{ $json.Time }}",
            "Facebook Post": "={{ $json[\"Facebook Post\"] }}",
            "Instagram Post": "={{ $json[\"Instagram Post\"] }}",
            "X Post": "={{ $json[\"X Post\"] }}",
            "Youtube Post": "={{ $json[\"Youtube Post\"] }}",
            "Image URL": "=none",
            "Status": "={{ $json.Status }}",
            "Category": "={{ $json.Category }}",
            "Notes": "={{ $json.Notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Post",
              "displayName": "Instagram Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Post",
              "displayName": "Youtube Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2128,
        48
      ],
      "id": "d93e7331-4a27-4a12-bc1d-e6aaa75d2545",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1904,
        -48
      ],
      "id": "8b2ce724-043a-4de8-b4cd-344cb377eae4",
      "name": "Facebook Graph API1",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "KMspAwgUmqwyOsNp",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput",
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "content": "Credentials for fb graph API expires ever 1-2 hrs",
        "height": 224,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        -112
      ],
      "typeVersion": 1,
      "id": "3897bf2c-f8eb-490d-a4c2-e1dbed322f11",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "text": "={{ $json[\"X Post\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -1904,
        -240
      ],
      "id": "cf90ed69-b154-4882-a25d-f4332afa629b",
      "name": "Create Tweet",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "5D5HJ8WIowbKcvzG",
          "name": "X account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1680,
        160
      ],
      "id": "25f21ea4-9aff-45a7-a764-300a2406d911",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://youtube.com/post/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        336
      ],
      "id": "f2352285-682a-43a6-b6e1-83c42891f32c",
      "name": "Instagram Post",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://youtube.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet.videoId",
              "value": "={{ $('Loop Over Items').item.json.id.videoId }}"
            },
            {
              "name": "snippet.topLevelComment.snippet.textOriginal",
              "value": "={{ $('Code in Python (Beta)4').item.json[\"Youtube Comment\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        144
      ],
      "id": "40764d68-cd2a-43b4-b5c0-6b48eebbde92",
      "name": "YouTube Comment Post",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Spreadsheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a channel": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet Data": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)4": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Comment Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "YouTube Comment Post": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
