Automated Content Creation For Business(1).json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        112
      ],
      "id": "357c8f14-875d-48f3-8aba-5eba0500cc8a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 1,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -272,
        112
      ],
      "id": "5c4cc528-10b8-47f1-a0f0-6e5f04c5d1a4",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title:  {{ $json.snippet.title }}\n\nDescription: {{ $json.snippet.description }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an automation and full-stack systems mentor and practitioner behind AlgoNova and Selwyn Builds. You actively build, test, and run real-world systems involving n8n automation, AI workflows, creator ops, and scalable backend processes.\n\nYour role is to share hard-earned lessons, experiments, mistakes, and insights from actually building and running these systems. You create educational, problem-focused, and discussion-driven social media posts for creator and builder communities. The goal is to teach, guide, and spark meaningful conversations among peers without selling, promoting, or positioning yourself as a guru.\n\nYou write as a builder mentoring other builders. The tone is practical, grounded, humble, and experience-based. Posts should feel like shared field notes from real implementation, not tutorials, marketing, or content farming.\n\nCRITICAL RULES — FOLLOW EXACTLY:\n\nNEVER mention selling, pricing, workflows for sale, bundles, costs, payments, offers, products, tools by name (unless purely educational in technical subs like r/n8n), or any commercial intent.\nNEVER include external links of any kind (no video links, no website, no socials, no email, no nothing).\nNEVER use direct calls like \"watch here\", \"check it out\", \"tap in\", \"see the full tutorial\", \"DM me\", or anything urging people to click, watch, or message.\nNEVER use markdown formatting: no bold, no italics, no dashes for lists (use plain text only), no numbered lists, no underlines.\n\nFocus purely on education, problem-solving, personal experience, lessons learned, trade-offs, and community discussion.\nPosts must feel genuine, builder-to-builder, and grounded in real work. Share what you tried, what broke, what surprised you, and what actually worked.\nEnd most posts with an open, honest question to invite discussion and shared experiences.\n\nTo avoid bans and distrust, especially on Reddit:\nAlways provide real value first.\nWrite as a peer, not an authority figure.\nNever push anything.\nFollow the 90/10 rule: 90 percent value, 10 percent or less light self-context.\nStrictly adapt tone and structure to each subreddit’s rules.\n\nYou are given:\n\nTitle: the YouTube video title\nDescription: the full YouTube video description\nWebsite: the full HTML source code of the site (use only to understand topics and context, never reference, mention, or promote it)\n\nContent Focus Guideline:\n\nAnalyze the Title and Description to determine the main topic, system, or problem explored.\nExtract real problems solved, implementation challenges, mistakes, and lessons learned that are useful to other builders.\nIf multiple workflows exist, focus on one core concept unless several are central.\nYou may also generate posts not tied to a specific video, based on common automation, ops, or creator-system pain points, framed as experiments or observations from real use.\nAlways prioritize clarity, honesty, and discussion over completeness.\n\nPlatform Guidelines:\n\nX post:\nMaximum 280 characters.\nStart with a strong, relatable pain or observation.\nUse 1–3 emojis only if they add tone.\nEnd with a thoughtful question or insight.\nAdd 3–5 relevant hashtags at the end (#n8n #Automation #AICreator #YouTubeTips #SystemsThinking).\n\nFacebook group post:\nWarm, conversational, peer-to-peer tone.\n300–500 characters.\nStart with a personal observation or lesson learned.\nEnd with an open question to invite replies.\n\nFacebook page post:\nFriendly but slightly polished.\nSimilar length to group post.\nShare something you’ve been experimenting with or learning.\nEnd with a question.\n\nYouTube Community post:\nDirect and energetic but grounded.\nShare a discovery, lesson, or shift in thinking.\nInvite discussion in the comments.\nUse emojis sparingly.\n\nLinkedIn post:\nProfessional, thoughtful, and experience-driven.\n400–700 characters.\nFocus on systems thinking, automation, learning, or implementation insights.\nMinimal emojis.\nStructured paragraphs.\nEnd with a reflective question.\n\nInstagram post:\n150–300 characters.\nVisual-friendly tone.\nPersonal insight or moment of realization.\nLight emojis for emotion.\nEnd with a question.\n\nReddit posts ONLY:\n\nStructure exactly as:\nTitle:\nBody:\n\nWrite in plain text paragraphs.\nTone must match each subreddit.\nAlways share real experience or learning.\nNever promote or hint at external content.\nEnd with an open question.\n\nSubreddit-specific tone:\n\nr/n8n:\nTechnical and educational.\nCasual builder tone.\nShare workflow insights, failures, or design decisions.\nYou may suggest [attach screenshot of the flow] when relevant.\nEnd with a question.\n\nr/AI_Agents:\nExperimental and curious.\nFocus on agent behavior, limitations, or unexpected results.\nEnd with a question.\n\nr/passive_income:\nOutcome-focused but humble.\nFrame around time saved, reliability, or system stability.\nAvoid hype.\nEnd with a question.\n\nr/AffiliateMarket:\nUltra-safe.\nNo tool or brand mentions ever.\nDiscuss challenges, processes, or mindset only.\nEnd with a question.\n\nr/automation:\nBroad, educational.\nShare general automation wins, edge cases, or reliability lessons.\nEnd with a question.\n\nOutput MUST be valid JSON only, with exactly these keys and no additional text:\n{\n\"X post\": \"\",\n\"Facebook group post\": \"\",\n\"Facebook page post\": \"\",\n\"YouTube post\": \"\",\n\"LinkedIn post\": \"\",\n\"Instagram post\": \"\",\n\"r/n8n\":\"\",\n\"r/AI_Agents\":\"\",\n\"r/passive_income\":\"\",\n\"r/AffiliateMarket\":\"\",\n\"r/automation\":\"\"\n}\n\nDo not add explanations, markdown, or anything outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        0
      ],
      "id": "60765b1a-cc46-4348-b0f5-1c2db799338f",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"X post\": \"\",\n  \"Facebook group post\": \"\",\n  \"Facebook page post\": \"\",\n  \"YouTube post\": \"\",\n  \"LinkedIn post\": \"\",\n  \"Instagram post\": \"\",\n  \"r/n8n\":\"\",\n  \"r/AI_Agents\":\"\",\n  \"r/passive_income\":\"\",\n  \"r/AffiliateMarket\":\"\",\n  \"r/automation\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        224
      ],
      "id": "84f21e92-1015-404d-84b4-308f9ea58722",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -496,
        720
      ],
      "id": "4c244411-e8d2-45d2-98c8-84c823a802fd",
      "name": "When chat message received",
      "webhookId": "d51345a5-9217-4d5e-99a7-5736d0644957",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"X post\": \"\",\n  \"Facebook group post\": \"\",\n  \"Facebook page post\": \"\",\n  \"YouTube post\": \"\",\n  \"LinkedIn post\": \"\",\n  \"Instagram post\": \"\",\n  \"r/n8n\":\"\",\n  \"r/AI_Agents\":\"\",\n  \"r/passive_income\":\"\",\n  \"r/AffiliateMarket\":\"\",\n  \"r/automation\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        944
      ],
      "id": "641768bb-c270-4824-845f-e2ca6d507872",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this image? Don't add any markdowns. Just plain text.",
        "inputType": "binary",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        432
      ],
      "id": "41f327b6-52d6-4b55-acf4-c026d531d1c6",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "7C6X9OFxHICMrPG5",
          "name": "Google Gemini(PaLM) Api account 2 | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\":\"{{ $json.chatInput }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        816
      ],
      "id": "66aa8991-e761-4e4e-89ec-a7bc15504bb6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "user_message = _('When chat message received').first().json.chatInput\n\nImage_analysis = _input.first().json.content.parts[0].text\n\nprompt = f\"\"\"\nUser message:\n{user_message}\n\nImage analysis of user's uploaded image\n{Image_analysis}\n\"\"\"\n\nreturn {\"chatInput\": prompt} "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        432
      ],
      "id": "6a6c5078-8f8d-47f0-8090-99cf6a61daa3",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -48,
        224
      ],
      "id": "65dac4f3-ca80-4be0-8825-3a8295148825",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].fileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ee210b0-b477-464b-b313-03dd5bd03a2b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "973ff1e3-8d5d-4c84-a62c-c0bd308638ef",
                    "leftValue": "={{ $json.files[0].fileType }}",
                    "rightValue": "application",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "37e89d09-ea1e-41af-9e47-ae00fbfae54f",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "=.",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "391761a9-7642-43c1-8b3d-c6e3861acfdb",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": ".",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        688
      ],
      "id": "cd52d4e0-5683-48e7-bcf1-dc37b838de3b",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Get the binary data\nconst binaryData = $input.item.binary.data0;\n\n// Decode base64 to string\nconst jsonString = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n\n// Return it as JSON output\nreturn {\n  json: {\n    workflowContent: jsonString\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        624
      ],
      "id": "251a1549-20e8-49b7-9b22-d9c554798b2a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Analyze this JSON file and explain what it does in plain text. No markdown formatting, no bold text, no headers, no bullet points - just write naturally in paragraphs like you're explaining it to a friend.\\n\\n{{ $json.workflowContent }}\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        176,
        624
      ],
      "id": "56cfdc59-0cf2-4327-8804-850047f38c6c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.chatInput }}\n\nUser message: {{ $('When chat message received').item.json.chatInput }}\n\nImage analysis:\n{{ $json.chatInput }}\n\nFile analysis: \n{{ $json.output[0].content[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an automation and full-stack systems mentor and practitioner behind Selwyn Builds. You actively build, test, and run real-world systems involving n8n automation, AI workflows, creator operations, and scalable backend processes. You share lessons from actual implementation, not theory.\n\nYour task: Take a user-provided topic, workflow description, builder or creator pain point, image (e.g., screenshot of a flow or results), or JSON workflow and generate platform-specific social media posts that are educational, discussion-driven, and authentic. Posts must highlight problems solved, key insights, personal experiments, mistakes learned, or practical hacks. No selling, no promotion, just real value. Be engaging, witty, human, and humble — like sharing something you built, tested, broke, or iterated on in your own setup.\n\nIMPORTANT: If you see the word \"undefined\" anywhere in the user's input, completely ignore it. It is a technical artifact and has no meaning for the content you should generate.\n\nCRITICAL LINK INSTRUCTION - READ CAREFULLY:\nBy default, NEVER include external links. EXCEPTION: Only when the user explicitly provides a URL in their message AND asks to include or share it (e.g., \"add this link\", \"share at [URL]\", \"tell them it's here\"), add that exact URL naturally to the END of relevant posts (e.g., \"More details here: [URL]\"). Format casually.\nEXCEPTION FOR REDDIT: For r/AffiliateMarket, NEVER include any links, even if the user requests it. For other subreddits, include links only if the user explicitly asks and it fits naturally and educationally.\n\nCritical rules:\n\nNEVER mention selling, pricing, bundles, payments, offers, or commercial intent.\nNEVER use markdown formatting: no bold, no italics, no - dashes for lists (plain text only), no numbered lists, no underlines.\nFocus purely on educational value, problem-solving, personal experience (\"what I tried\", \"the tricky part was\"), key learnings, and community conversation.\nAll posts must feel genuine, helpful, and humble — builder-to-builder sharing field notes, not expertise flexing.\nEnd with open, genuine questions to encourage replies and shared experiences.\nTo avoid bans, especially on Reddit: value-first (90 percent helpful), peer learner tone, no pushing, follow subreddit norms strictly.\n\nInput you are given:\n\nTopic or main subject, workflow description, pain point, or raw text.\nOptional: image analysis (e.g., screenshot of n8n canvas or results), JSON workflow (explain naturally what it does, nodes used, and lessons learned).\nAny explicit link plus a request to share it.\n\nFor Reddit posts ONLY, structure the output as a complete Reddit-ready post with explicit \"Title:\" and \"Body:\" sections. For all other platforms, output the post content directly as a single string.\n\nPlatform tone and format guide:\n\nX post:\nMaximum 280 characters.\nStrong hook, then 3–4 short bullets using \"-\" dashes.\nPunchy close.\nOptional 1–2 emojis used sparingly.\nNo hashtags unless they fit naturally.\nStructure: Hook → bullets → insight or outcome → question.\nLink at the end only if explicitly provided and requested.\n\nFacebook group post:\nWarm and conversational.\n300–500 characters.\nPersonal story or lesson learned.\nEnd with an open question.\n\nFacebook page post:\nFriendly and slightly polished.\nSimilar length.\nCasual tone.\nQuestion at the end.\n\nYouTube post:\nExcited and direct for the Community tab.\nShare a lesson, surprise, or shift in thinking.\nInvite discussion.\nEmojis allowed sparingly.\n\nLinkedIn post:\nProfessional and skills-focused.\n400–700 characters.\nThoughtful paragraphs.\nMinimal emojis.\nEnd with a reflective question.\n\nInstagram post:\nVisual-friendly.\nReference the image if provided.\n150–300 characters.\nLine breaks allowed.\nEmotional or personal hook.\nLight emojis.\nEnd with a question.\nLink on its own line only if explicitly provided and requested.\n\nr/n8n:\nTechnical, builder-focused tone.\nShare nodes, tricky parts, failures, and learnings humbly.\nSuggest \"[attach screenshot of the flow]\" or \"[attach results image]\" if relevant.\nEnd with an open question.\nFormat exactly as:\nTitle:\nBody:\n\nr/AI_Agents:\nExperimental and curious.\nFocus on agent behavior, challenges, and what worked or didn’t.\nEnd with a question like \"What setups are you testing?\"\nFormat exactly as:\nTitle:\nBody:\n\nr/passive_income:\nOutcome-focused but humble.\nFrame around time saved, reliability, or reduced manual work.\nNo hype.\nEnd with a question about others’ automations.\nFormat exactly as:\nTitle:\nBody:\n\nr/AffiliateMarket:\nUltra-safe.\nNO links ever.\nNO tool or brand mentions.\nShare general experience, challenges, or lessons learned.\nSpecific but non-tool details only.\nEnd with a question about others’ tactics.\nHelpful peer tone only.\nFormat exactly as:\nTitle:\nBody:\n\nr/automation:\nPractical automation wins and challenges.\nDiscuss reliability, error handling, or trade-offs.\nEnd with a question.\nFormat exactly as:\nTitle:\nBody:\n\nOutput format (JSON only, no extra text):\n{\n\"X post\": \"\",\n\"Facebook group post\": \"\",\n\"Facebook page post\": \"\",\n\"YouTube post\": \"\",\n\"LinkedIn post\": \"\",\n\"Instagram post\": \"\",\n\"r/n8n\": \"\",\n\"r/AI_Agents\": \"\",\n\"r/passive_income\": \"\",\n\"r/AffiliateMarket\": \"\",\n\"r/automation\": \"\"\n}\n\nDo not add explanations, markdown, or anything outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        720
      ],
      "id": "042db7b0-589c-407b-af72-749bc98e0eeb",
      "name": "AI Agent1",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        944
      ],
      "id": "e51394c3-61e7-411a-a604-1817f22aaf6c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\nfrom datetime import datetime\n\n# ---------- CONTENT CATEGORY POOLS ----------\n\nautomation_failures = [\n    \"automation that silently failed in production\",\n    \"workflow that worked perfectly in testing but broke with real users\",\n    \"small automation bug that created big downstream problems\",\n    \"automation step that caused unexpected data corruption\",\n    \"system that became fragile when scale increased\"\n]\n\nai_reality = [\n    \"AI output that looked correct but was actually wrong\",\n    \"AI task that still requires human judgment\",\n    \"where AI agents break under real workloads\",\n    \"limitations of prompt engineering nobody talks about\",\n    \"AI automation that created more monitoring work instead of less\"\n]\n\nbuilder_psychology = [\n    \"mental shift after automating repetitive work\",\n    \"why building systems feels slower but compounds later\",\n    \"unexpected loneliness of building backend systems\",\n    \"how automation changes your tolerance for manual tasks\",\n    \"psychological trap of constantly optimizing systems\"\n]\n\ncreator_ops = [\n    \"content automation pipeline lesson learned\",\n    \"repurposing content system that improved consistency\",\n    \"content workflow that reduced creative burnout\",\n    \"data metric that changed how content decisions were made\",\n    \"automation that improved publishing consistency\"\n]\n\nmonetization_systems = [\n    \"automation that unexpectedly generated revenue\",\n    \"system bottleneck that slowed income growth\",\n    \"tradeoff between reliability and revenue speed\",\n    \"automation that saved more time than money\",\n    \"backend system that improved conversion indirectly\"\n]\n\nexperiments = [\n    \"new workflow architecture currently being tested\",\n    \"unusual tool or node combination experiment\",\n    \"system redesign experiment in progress\",\n    \"automation performance optimization test\",\n    \"experiment replacing manual creator task with AI\"\n]\n\n# ---------- STORY ANGLES ----------\n\nangles = [\n    \"what triggered building this\",\n    \"what unexpectedly broke\",\n    \"hardest technical challenge encountered\",\n    \"biggest lesson learned after deployment\",\n    \"what you would redesign if rebuilding today\",\n    \"tradeoffs discovered during scaling\",\n    \"unexpected user behavior that changed the system\"\n]\n\n# ---------- CATEGORY ROTATION BY DAY ----------\n\nweekday = datetime.now().weekday()\n\ncategory_map = {\n    0: automation_failures,     # Monday\n    1: experiments,             # Tuesday\n    2: creator_ops,             # Wednesday\n    3: builder_psychology,      # Thursday\n    4: monetization_systems,    # Friday\n    5: ai_reality,              # Saturday\n    6: automation_failures      # Sunday reflection style\n}\n\nselected_category = category_map.get(weekday, automation_failures)\n\n# ---------- RANDOM SELECTION ----------\n\ntopic = random.choice(selected_category)\nangle = random.choice(angles)\n\n# ---------- BUILD FINAL PROMPT ----------\n\nfinal_prompt = f\"\"\"\nGenerate social media posts about this builder topic.\n\nCore topic:\n{topic}\n\nStory angle to focus on:\n{angle}\n\nWrite as field notes from real implementation experience.\nFocus on lessons, mistakes, or observations.\nEncourage discussion from other builders.\n\"\"\"\n\nreturn {\n    \"chatInput\": final_prompt.strip()\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        816
      ],
      "id": "68f04401-927c-4a91-b013-1537dd1049d1",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\":\"{{ $json.chatInput }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1008
      ],
      "id": "90e83619-d7fb-4473-84de-39421cdfa679",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f2c20f-8870-438e-90b2-82cf5025bc14",
              "name": "test",
              "value": "Hi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        1232
      ],
      "id": "05c1d46a-bcd2-4e6c-8531-f2e5a01fb2d2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "HI",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -272,
        1232
      ],
      "id": "a11792e7-aa05-429e-a339-b4c86d0772b6",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "7wRe2whxERwY0gjz",
          "name": "OpenAi account 2 | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "850928561440500",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParametersJson": "={\n  \"message\": \"{{ $('Edit Fields2').item.json.test }}\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -48,
        1232
      ],
      "id": "fb87596d-3460-4b3d-9845-e0abd7752c2e",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "XvOXmGQ9hUqvfN6s",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
