Special_Commands.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "694c3ce9-ac78-4b6c-b119-7f7f06829020",
      "name": "Telegram Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        48
      ],
      "webhookId": "55acc711-c248-4ac9-b6cd-e295c2d33f4b",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "command = _input.first().json.message.text\n\nprompt = f'''\nUser Query: {command}\n\nIMPORTANT: \n- If this query is about current date/time, recent events, or anything time-sensitive, you MUST use Brave Search first\n- Base your answer ONLY on the search results, NOT on your training data\n- Your training data is outdated - trust the search results\n\nAnswer the query: {command}\n'''\n\nreturn {'chatInput': prompt}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ],
      "id": "e2ca9286-e736-4f6e-95a4-b2131eddb591",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "78d86c65-ea30-40f3-8355-f48a15813481"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c85a368-53a8-4ff1-a0e0-06cabe5cb4df",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        32,
        48
      ],
      "id": "d42beb48-601a-4bcc-812b-44801ccabb47",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant with web search capabilities.\n\nCRITICAL RULES:\n1. When you use Brave Search, YOU MUST base your answer ONLY on the search results\n2. NEVER use your training data for questions about current time, dates, news, or recent events\n3. If search results contradict your knowledge, TRUST THE SEARCH RESULTS\n4. Always mention \"According to current search results...\" when using search data\n\nFor date/time queries: ALWAYS search first, then answer based on results."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        192
      ],
      "id": "3101cf00-2d5f-425b-a48c-410b2b333dc6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        416
      ],
      "id": "aa6146cd-4042-46f8-b970-72a65437d284",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "message": "System Command Detected",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -112
      ],
      "id": "d882e79b-1e33-44ef-9346-55cfdfaf7174",
      "name": "Send a text message",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eNLpDREMr0o0dUpm",
          "mode": "list",
          "cachedResultUrl": "/workflow/eNLpDREMr0o0dUpm",
          "cachedResultName": "Video Automation For Story Driven Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1504,
        -208
      ],
      "id": "84bd0aa5-a89b-4522-b416-3814544e1b36",
      "name": "Call 'Video Automation For Story Driven Content'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b312c8a5-66df-4964-b60c-7bc0b268f3e2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        -112
      ],
      "id": "63708a3e-cd29-4d4d-a884-665541ea6427",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        -208
      ],
      "id": "2e3f6d72-08cb-4638-91c6-a590bfad9d5a",
      "name": "Approved",
      "webhookId": "4832387d-a393-45ae-bde2-b445cd01b26b",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        -16
      ],
      "id": "b7fa1129-064d-4c78-b2ff-bbbf716785ec",
      "name": "Cancelled",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1T_smq46mrPg1xDyt3EV_SjEDeqUPVVSm",
          "mode": "list",
          "cachedResultName": "SystemProtocolInitiated.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1T_smq46mrPg1xDyt3EV_SjEDeqUPVVSm/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -208
      ],
      "id": "d1a2be11-82ce-4694-bdfc-e5af20ca1636",
      "name": "Approve Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "17TWntDc5GDKJAFz2h9AUOZFzf-4ig0f8",
          "mode": "list",
          "cachedResultName": "InitiationCancelled.png",
          "cachedResultUrl": "https://drive.google.com/file/d/17TWntDc5GDKJAFz2h9AUOZFzf-4ig0f8/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -16
      ],
      "id": "cf9bc6f6-5824-47e5-b672-b230a6ab5157",
      "name": "Disapprove",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "🎬 CONTENT FORGE IGNITED \nAutonomous synthesis in progress... \nETA: 3-5 minutes",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -208
      ],
      "id": "a5f4aad9-d189-4025-93b1-87cca01084c0",
      "name": "Wait Message",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.replace(/[*_[\\]`]/g, '') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        192
      ],
      "id": "17822603-aaa2-492a-89b4-d171846b41d2",
      "name": "Response",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalParameters": {
          "country": "PH"
        }
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        400,
        416
      ],
      "id": "8e9eaff6-c9ad-4d42-a6e4-f4d90231b1fa",
      "name": "Brave Search",
      "credentials": {
        "braveSearchApi": {
          "id": "yWPuBONN9BexjXnA",
          "name": "Brave Search account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Message Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Approve Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disapprove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Wait Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Image": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disapprove": {
      "main": [
        [
          {
            "node": "Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Message": {
      "main": [
        [
          {
            "node": "Call 'Video Automation For Story Driven Content'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
