Special_Commands.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "207bd4b1-c46e-4a4b-8d37-020db555cdcf",
      "name": "Telegram Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        1088
      ],
      "webhookId": "55acc711-c248-4ac9-b6cd-e295c2d33f4b",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "78d86c65-ea30-40f3-8355-f48a15813481"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfe93c75-5ee3-40ae-843b-81ab6a6e3411",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "data",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c85a368-53a8-4ff1-a0e0-06cabe5cb4df",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "={{\"upload\" || \"data\"}}",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        1072
      ],
      "id": "970c8f8c-191f-412f-af92-f47f44f00089",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant with web search capabilities.\n\nCRITICAL RULES:\n1. When you use Brave Search, YOU MUST base your answer ONLY on the search results\n2. NEVER use your training data for questions about current time, dates, news, or recent events\n3. If search results contradict your knowledge, TRUST THE SEARCH RESULTS\n4. Always mention \"According to current search results...\" when using search data\n\nFor date/time queries: ALWAYS search first, then answer based on results."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        976
      ],
      "id": "f3f4cfc6-c387-4f26-96de-496aac17271e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        1200
      ],
      "id": "843696cf-576c-4ca3-88fd-8cd5086de39e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "message": "System Command Detected",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        784
      ],
      "id": "fdd55c0e-ea2a-45b4-9c3c-29aff7b06d79",
      "name": "Send a text message",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b312c8a5-66df-4964-b60c-7bc0b268f3e2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        784
      ],
      "id": "1faf912d-2dad-49d7-a2cb-0adbb1f03640",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        688
      ],
      "id": "c1e6d2be-0793-4f0e-a78e-af50de715ff8",
      "name": "Approved",
      "webhookId": "4832387d-a393-45ae-bde2-b445cd01b26b",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        992
      ],
      "id": "1a19c46f-0c81-4cca-aaff-636c9f69dfdd",
      "name": "Cancelled",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1T_smq46mrPg1xDyt3EV_SjEDeqUPVVSm",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        688
      ],
      "id": "5f1a69d3-1200-478e-b585-f3036a849ad3",
      "name": "Approve Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "17TWntDc5GDKJAFz2h9AUOZFzf-4ig0f8",
          "mode": "list",
          "cachedResultName": "InitiationCancelled.png",
          "cachedResultUrl": "https://drive.google.com/file/d/17TWntDc5GDKJAFz2h9AUOZFzf-4ig0f8/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        992
      ],
      "id": "b682bbde-7585-4296-bc5b-a22f22050308",
      "name": "Disapprove",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "🎬 CONTENT FORGE IGNITED \nAutonomous synthesis in progress... \nETA: 3-5 minutes",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        688
      ],
      "id": "00443ec4-848c-471d-8e79-6fce8dfd5be4",
      "name": "Wait Message",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.replace(/[*_[\\]`]/g, '') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        1088
      ],
      "id": "bddfac38-abb7-49e5-a747-850e245a874a",
      "name": "Response",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const command = $input.first().json.message.text;\n\nconst prompt = `\nUser Query: ${command}\n\nIMPORTANT:\n- If this query is about current date/time, recent events, or anything time-sensitive, you MUST use Brave Search first\n- Base your answer ONLY on the search results, NOT on your training data\n- Your training data is outdated - trust the search results\n\nAnswer the query: ${command}\n`;\n\nreturn {\n  chatInput: prompt\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        1088
      ],
      "id": "22e49e71-2a8e-4165-a56e-8fbd441cc757",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        1376
      ],
      "id": "5c671f69-eca0-47bf-8beb-acd99fff2c3b",
      "name": "Approved1",
      "webhookId": "4832387d-a393-45ae-bde2-b445cd01b26b",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1T_smq46mrPg1xDyt3EV_SjEDeqUPVVSm",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        1376
      ],
      "id": "1e33d649-827a-439a-85ea-2ae0c83c843c",
      "name": "Approve Image1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "🎬 SOCIAL PROSPECTOR IGNITED |Autonomous synthesis in progress... ETA: 3-5 minutes",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        1376
      ],
      "id": "460646c6-8ae5-433f-83f7-74ebaddb95cb",
      "name": "Wait Message1",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "907cba9d-fe87-4c0f-9b93-fc00f786c21d",
              "leftValue": "={{ $json.Title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1376
      ],
      "id": "2c068a0b-259b-4a41-afc7-1dcd0f182d4c",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "✅ Social Prospector completed successfully!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        1088
      ],
      "id": "7484cd6c-d17c-4750-9816-cc282bea158f",
      "name": "Sent Successfully!",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message Trigger').item.json.message.chat.id }}",
        "text": "❌ Social Prospector workflow failed to execute",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        1472
      ],
      "id": "b1f21bde-d110-4483-8ee5-65d8f1b736d0",
      "name": "Failed to Send!",
      "webhookId": "b1362959-c345-4ea2-a0d2-96b727ce5739",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3To9OcBjxuwyB282",
          "mode": "list",
          "cachedResultUrl": "/workflow/3To9OcBjxuwyB282",
          "cachedResultName": "Social Prospector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        1376
      ],
      "id": "c3fc3193-5d1c-46d8-8d59-a0aacf0e87eb",
      "name": "Social Prospector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rl0FreViD8mxgeeu",
          "mode": "list",
          "cachedResultUrl": "/workflow/rl0FreViD8mxgeeu",
          "cachedResultName": "X Auto Post | AlgoNova Labs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1056,
        688
      ],
      "id": "bc938309-d340-4d63-88e6-820266033e21",
      "name": "Call 'X Auto Post | AlgoNova Labs'"
    }
  ],
  "connections": {
    "Telegram Message Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approve Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Approve Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disapprove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Wait Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Image": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disapprove": {
      "main": [
        [
          {
            "node": "Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Message": {
      "main": [
        [
          {
            "node": "Call 'X Auto Post | AlgoNova Labs'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved1": {
      "main": [
        [
          {
            "node": "Wait Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Image1": {
      "main": [
        [
          {
            "node": "Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Message1": {
      "main": [
        [
          {
            "node": "Social Prospector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Sent Successfully!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed to Send!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Prospector": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
