Video_Automation_For_story-driven_content.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        -64
      ],
      "id": "ee3815f8-6f83-4c9c-9d28-317f9c997cc0",
      "name": "Telegram Trigger",
      "webhookId": "5fc2b001-9a7c-4b01-9bb1-2dee51478ad9",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e02677a-b4c5-4e21-b97e-6536d336181b",
              "name": "bot id",
              "value": "8351768336:AAF9RLjBvcUpcYeO_bnIGDGodALvUFCPy3s",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -64
      ],
      "id": "594d7a92-93ad-427f-9fe6-ad270c3ccb1c",
      "name": "Edit Fields - Bot ID 1"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -64
      ],
      "id": "03ffb725-9871-44ec-a191-da8551905511",
      "name": "HTTP Request - Image Path"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image is a character or a product. It is only considered both if there are two completely separate images within the same image. If it is both, describe them separately. Describe the appearance details only.\n\nYour output should only include the description, nothing else.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        -64
      ],
      "id": "bbd4894a-2676-4264-a8a0-7d6f6c9815e9",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 288,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -144
      ],
      "typeVersion": 1,
      "id": "39173dc7-8ff6-444b-ad0d-485c8942303a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make one image prompt.\n\nEnsure you use the details of the reference image as accurately as possible for your final output.\n\nUser Instructions:\n{{ $('Telegram Trigger').item.json.message.caption }}\n\n\nDescription of the reference image:\n{{ $json.content }}",
        "options": {
          "systemMessage": "=Role: You create image prompts for cute, animated cartoon-style characters and scenes.\n\nMain objective: Transform the reference image into an adorable, animated character in a cartoonish art style.\n\nArt Style Guidelines:\n- Cute cartoon/anime aesthetic\n- Big expressive eyes\n- Soft rounded features\n- Pastel or vibrant colors\n- Chibi or kawaii style elements\n- 3D animated look (Pixar/Disney style) OR 2D illustration style\n- Adorable proportions (slightly big head, small body)\n- Warm, inviting color palette\n\nCharacter Design:\n- Always make characters look friendly and approachable\n- Exaggerated cute features (rosy cheeks, sparkly eyes)\n- Simplified but expressive\n- Child-friendly and wholesome\n- Emphasize cuteness factor\n\nScene Style:\n- Dreamy, soft lighting\n- Magical atmosphere\n- Whimsical environments\n- Storybook quality\n- Fantasy elements welcome\n\nRULES:\n- Always use single quotes ('') never double quotes (\"\")\n- Output only the image prompt\n- No hyphens or dashes\n- ALWAYS specify \"cute animated style\" or \"cartoon style\"\n- Describe as if it's a frame from an animated movie\n\nEXAMPLE OUTPUTS:\n\n✅ GOOD:\n\"Adorable cartoon character with big sparkling eyes and rosy cheeks, wearing a cozy pastel blue winter jacket, standing in a magical snowy ice field with cute stylized snowflakes floating around, northern lights glowing softly in the background, holding up a heart-shaped sign that says 'I Love You' with both hands, warm smile, 3D animated Pixar style, soft dreamy lighting, whimsical and heartwarming atmosphere\"\n\n✅ GOOD:\n\"Cute chibi-style animated girl with large expressive anime eyes, fluffy pink scarf, standing on a cartoon cloud, pastel sky background with tiny twinkling stars, holding a kawaii-style message board, soft gradient colors, Disney-inspired 3D animation aesthetic, magical and sweet vibe\"\n\n❌ BAD:\n\"Woman in winter jacket holding sign in snow\"\n\nSTYLE VARIATIONS YOU CAN USE:\n- \"3D Pixar animation style\"\n- \"Disney animated movie aesthetic\"\n- \"Cute 2D illustration style\"\n- \"Kawaii anime chibi style\"\n- \"Storybook illustration\"\n- \"Dreamy watercolor animation\"\n- \"Studio Ghibli inspired soft style\"\n```\n\n---\n\n### **2. Video Prompt Generator (AI Agent - Video Prompter)**\n```\nYou are an AI agent that generates CINEMATIC ZOOM video prompts in CUTE ANIMATED CARTOON STYLE.\n\nCRITICAL: Every scene must be described as ANIMATED/CARTOON style, never realistic.\n\nYour output must be 3 scenes:\n\n{\n  \"scenes\": {\n    \"scene 1\": \"\",\n    \"scene 2\": \"\",\n    \"scene 3\": \"\"\n  }\n}\n\nANIMATED CINEMATIC ZOOM FRAMEWORK:\n\nScene 1 (WIDE/MACRO - Animated):\nStart from the biggest scale IN CARTOON STYLE:\n- Cute cartoon Earth floating in sparkly space with stars\n- Animated aerial view with soft colors\n- Storybook-style landscape overview\n- Dreamy animated establishing shot\n- Whimsical wide view\n\nScene 2 (MEDIUM/TRANSITION - Animated):\nZoom into specific region IN CARTOON STYLE:\n- Animated environment becomes visible\n- Cute stylized landscape (cartoonish trees, clouds, buildings)\n- Fantasy elements can appear\n- Magical atmosphere builds\n- Soft color transitions\n\nScene 3 (CLOSE/MICRO - Animated):\nFinal cute character moment:\n- Adorable animated character from reference image\n- Big expressive eyes, cute features\n- Holding/showing their message\n- Kawaii/chibi proportions\n- Heartwarming expression\n\nSCENE STRUCTURE:\n\nEach scene must include:\n\nDialogue:\n- Sweet, wholesome narration\n- Can be whimsical/poetic\n- Heartwarming tone\n- Use single quotes ('')\n- Keep it cute and positive\n\nDescription:\n- ALWAYS specify animation style\n- Describe cute/whimsical elements\n- Soft colors and dreamy atmosphere\n- Fantasy elements welcome\n- Camera movement\n- Magical details (sparkles, glows, soft lighting)\n\nCamera:\n- \"Smooth animated camera zoom\"\n- \"Dreamy cinematic animation\"\n- \"Storybook-style camera movement\"\n- Specify animation quality\n\nANIMATION STYLE KEYWORDS TO ALWAYS INCLUDE:\n✅ \"cute animated style\"\n✅ \"cartoon aesthetic\"\n✅ \"3D Pixar-style animation\"\n✅ \"kawaii chibi design\"\n✅ \"Disney-inspired animation\"\n✅ \"soft pastel colors\"\n✅ \"whimsical cartoon world\"\n✅ \"adorable animated character\"\n✅ \"storybook illustration style\"\n✅ \"dreamy animated scenery\"\n\nEXAMPLES OF CUTE ANIMATED CINEMATIC JOURNEY:\n\nExample 1 (Space to Arctic - Cute Animated):\n\nScene 1:\nDialogue: 'Once upon a time, somewhere magical...'\nDescription: Adorable cartoon Earth floating in sparkly starlit space, soft pastel blue and purple colors, tiny twinkling stars surrounding the planet, cute shooting stars passing by, Earth has a soft glow, 3D Pixar animation style, dreamy and whimsical atmosphere, camera begins smooth animated zoom toward the snowy northern region\nCamera: Smooth cinematic animated zoom from space, storybook-style establishing shot, Disney-quality 3D animation, gentle descent begins\n\nScene 2:\nDialogue: '...in the most magical winter wonderland...'\nDescription: Camera zooming through cute fluffy white clouds, arriving at a gorgeous cartoon Arctic landscape, stylized ice fields with soft rounded snow drifts, adorable animated northern lights dancing in pastel green and pink colors, tiny sparkles floating in the air, kawaii-style snowflakes gently falling, cartoon pine trees with snow caps, dreamy winter fantasy aesthetic, camera continues smooth descent\nCamera: Aerial animated drone-style shot descending through whimsical clouds, smooth cartoon camera transition, soft focus effects, continuing zoom toward specific cute location\n\nScene 3:\nDialogue: '...lives someone with a message just for you'\nDescription: Adorable cartoon character with big sparkling eyes and rosy cheeks, cute button nose, wearing a soft pastel winter jacket with fluffy trim, standing in the magical snowy landscape, holding up a heart-shaped kawaii-style sign that says 'I Love You' with cute decorative hearts around the text, warm loving smile, small cute hands gripping the sign, soft magical glow around character, gentle snowflakes falling, northern lights glowing softly behind them, 3D Pixar animation quality, heartwarming and sweet atmosphere\nCamera: Final animated close-up shot, smooth camera stop, focused on adorable character, soft bokeh background effect, warm intimate framing, Disney-movie quality animation\n\nExample 2 (Sky to Beach - Cute Animated):\n\nScene 1:\nDialogue: 'Somewhere under the rainbow...'\nDescription: Beautiful cartoon sky with fluffy pastel clouds, cute smiling sun peeking out, soft gradient from pink to blue, tiny animated birds flying, sparkles in the air, camera beginning descent through this whimsical sky, storybook illustration aesthetic, dreamy and colorful\nCamera: Wide animated establishing shot, smooth cartoon camera zoom beginning, Studio Ghibli inspired movement\n\nScene 2:\nDialogue: '...where the ocean meets the shore...'\nDescription: Zooming toward adorable animated tropical island, cartoon palm trees swaying, cute waves with soft foam, pastel turquoise water, golden sand with sparkles, tiny animated crabs and seashells, kawaii-style sunshine rays, magical beach paradise, camera approaching the shore\nCamera: Continuing smooth animated descent, aerial cartoon view transitioning to beach level, soft color grading\n\nScene 3:\nDialogue: '...a special friend is waiting'\nDescription: [CUTE ANIMATED CHARACTER from reference image] with big anime-style eyes, chibi proportions, wearing adorable beach outfit, standing on cartoon sand with cute toes visible, holding a kawaii message board decorated with shells and starfish, warm happy expression, ocean waves softly animated in background, soft golden hour lighting, heart sparkles floating around, 3D animated movie quality\nCamera: Final cute close-up, animated camera settles gently, warm framing on character, soft background blur, heartwarming shot\n\nMANDATORY RULES:\n- EVERY scene must specify animation/cartoon style\n- NO realistic descriptions allowed\n- Always include cute/adorable/kawaii descriptors\n- Use soft, pastel, or vibrant color descriptions\n- Add magical elements (sparkles, glows, soft lighting)\n- Characters must have exaggerated cute features\n- Scene 1 = Biggest animated scale\n- Scene 2 = Medium animated transition\n- Scene 3 = Close-up cute character\n- Single quotes ('') only\n- No hyphens or dashes\n- Follow exact JSON schema\n\nCUTE ELEMENTS TO INCLUDE:\n- Sparkles and twinkles\n- Soft glows\n- Pastel colors\n- Big expressive eyes\n- Rosy cheeks\n- Magical atmosphere\n- Whimsical details\n- Heart shapes\n- Gentle movements\n- Warm lighting\n\nRemember: Everything is ANIMATED and ADORABLE! Think Pixar meets Kawaii! 🎀✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        528
      ],
      "id": "b95af535-688d-414b-99f9-5f2c5144f733",
      "name": "AI Agent - Image Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-1-20250805",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        656,
        256
      ],
      "id": "9e4f3122-d65a-421c-a5c7-b2f97fe396e1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2OM63ZYd0RhhD339",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1008,
        256
      ],
      "id": "29f03d00-0708-4c01-a69b-13ca78d6742c",
      "name": "Think"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"image_urls\": [\n    \"https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $('HTTP Request - Image Path').item.json.result.file_path }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        528
      ],
      "id": "b0239e3a-3070-4dfd-a3e2-c8ad9391af7a",
      "name": "HTTP Request - Create Image 1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        528
      ],
      "id": "e545a952-2312-44ba-9d81-71bcad0005f2",
      "name": "Wait - 30s",
      "webhookId": "e85f5cb5-8bf9-4cff-b1f3-bc165cc25236"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        528
      ],
      "id": "3c4ffc2f-f478-41da-846c-a7cc4fa27fc5",
      "name": "HTTP Request - Get Image 1"
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 352,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        432
      ],
      "typeVersion": 1,
      "id": "66760818-89de-46bc-923d-6914d3391fda",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create video prompts.\n\nUser instructions:\n{{ $('Telegram Trigger').item.json.message.caption }}\n\nDescription of the reference image(s).\n{{ $('Analyze image').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent that generates CINEMATIC ZOOM video prompts in CUTE ANIMATED CARTOON STYLE.\n\nCRITICAL: Every scene must be ANIMATED/CARTOON style. This is NOT realistic footage. This is a cute animated story like a Pixar/Disney movie.\n\nYour output must be 3 scenes:\n\n{\n  \"scenes\": {\n    \"scene 1\": \"\",\n    \"scene 2\": \"\",\n    \"scene 3\": \"\"\n  }\n}\n\nANIMATED CINEMATIC ZOOM FRAMEWORK:\n\nScene 1 (WIDE/MACRO - Animated):\nStart from biggest scale IN CARTOON STYLE:\n- Cute cartoon city skyline or aerial view\n- Animated sunset/evening sky with soft colors\n- Dreamy animated establishing shot\n- Camera ZOOMING DOWN toward a specific location\n\nScene 2 (MEDIUM/TRANSITION - Animated):\nZoom closer IN CARTOON STYLE:\n- Animated location coming into view\n- Cute stylized environment (buildings, nature, indoor space)\n- Magical atmosphere building\n- Camera DESCENDING toward the character\n\nScene 3 (CLOSE - Animated Character):\nFinal cute character moment:\n- Adorable ANIMATED character from reference image\n- Big expressive anime eyes, kawaii style\n- Character doing their main action (singing, dancing, posing, etc)\n- Heartwarming animated expression\n- NO talking about links, products, or CTAs\n- Just being cute and doing their thing\n\nSCENE STRUCTURE:\n\nDialogue:\n- Sweet, simple narration about the story/moment\n- NO mentions of 'click link', 'follow', 'check out', 'get yours'\n- Focus on the emotion and magic of the moment\n- Use single quotes ('')\n- Keep it wholesome and story-like\n- Maximum 2 short sentences per scene\n\nDescription:\n- ALWAYS specify 'cute animated style', '3D Pixar animation', 'cartoon aesthetic', or 'Disney-inspired'\n- Describe cute/whimsical animated elements\n- Soft pastel colors and dreamy atmosphere\n- If character is singing: show mouth open with musical notes\n- If character is dancing: show movement with motion lines\n- If character is posing: show confident cute expression\n- Add sparkles, glows, magical lighting\n- Make it look like an animated movie/music video\n\nCamera:\n- 'Smooth animated camera zoom'\n- 'Disney-style cinematic animation'\n- 'Dreamy cartoon camera movement'\n- 'Storybook-style camera pan'\n- Never mention 'iPhone', 'phone footage', 'UGC', 'selfie', 'amateur'\n- Always animated/cinematic quality\n\nANIMATION KEYWORDS TO ALWAYS USE:\n✅ 'cute animated style'\n✅ '3D Pixar animation'\n✅ 'kawaii aesthetic'\n✅ 'Disney-inspired'\n✅ 'cartoon character'\n✅ 'animated movie quality'\n✅ 'soft pastel colors'\n✅ 'magical sparkles'\n✅ 'dreamy atmosphere'\n\nEXAMPLE (SINGING CHARACTER):\n\nScene 1:\nDialogue: 'On a magical evening in the city...'\nDescription: Beautiful cartoon city skyline at golden hour, soft pastel pink and orange animated sky, cute stylized buildings with twinkling windows, dreamy clouds floating by, 3D Pixar animation style, camera begins smooth animated zoom toward a charming rooftop terrace with fairy lights\nCamera: Smooth cinematic animated zoom from aerial view, Disney-quality 3D animation, descending gracefully\n\nScene 2:\nDialogue: '...a young woman discovers her voice...'\nDescription: Zooming closer to adorable animated rooftop terrace decorated with warm glowing string lights, cartoon city buildings in background, pastel sunset colors, kawaii-style sparkles in the air, 3D animated movie quality, camera continuing smooth descent\nCamera: Continuing animated zoom, storybook-style camera movement, soft focus effects\n\nScene 3:\nDialogue: '...and sings from her heart'\nDescription: Adorable animated young woman with big sparkling expressive anime eyes and long flowing wavy hair, wearing cute purple dress, standing on magical rooftop surrounded by glowing fairy lights, mouth open singing with musical notes floating around her, warm smile, one hand elegantly positioned, city lights twinkling behind her, soft golden glow on face, 3D Pixar animation quality, heartwarming atmosphere\nCamera: Final animated close-up, focused on adorable character, soft bokeh background, Disney movie quality\n\nMANDATORY RULES:\n- EVERY scene = ANIMATED/CARTOON only\n- NO realistic/UGC descriptions\n- NO product pitches or CTAs\n- NO 'click link', 'follow me', 'get yours' phrases\n- Character should be doing something cute (singing, dancing, posing, waving)\n- Always include cute/kawaii/adorable descriptors\n- Soft pastel or vibrant colors\n- Magical sparkles and glows\n- Scene 1 = Biggest animated scale (aerial/wide)\n- Scene 2 = Medium animated transition (zooming in)\n- Scene 3 = Close-up cute character (main action)\n- Single quotes ('') only\n- No hyphens or dashes\n- Follow exact JSON schema\n\nRemember: This is a CUTE ANIMATED STORY like a Disney/Pixar movie, NOT a product ad or vlog! 🎀✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        -32
      ],
      "id": "bc81a8e0-0d13-4f08-8bd0-de86e958475b",
      "name": "AI Agent - Video Prompter"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scenes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scene 1\": { \"type\": \"string\" },\n        \"scene 2\": { \"type\": \"string\" },\n        \"scene 3\": { \"type\": \"string\" }\n      },\n      \"required\": [\"scene 1\", \"scene 2\", \"scene 3\"]\n    }\n  },\n  \"required\": [\"scenes\"]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1328,
        256
      ],
      "id": "385f29f7-5edd-4f4e-926b-390d14638261",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1552,
        -32
      ],
      "id": "71e53bf0-87d0-4a2a-b039-b20960662d06",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  prompt: $json['output.scenes'],\n  model: 'veo3_fast',\n  aspectRatio: '9:16',\n  imageUrls: $('HTTP Request - Get Image 1').first().json.images[0].url\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        -32
      ],
      "id": "54bbc3ce-fa66-444e-b861-72ad7ef516da",
      "name": "HTTP Request - Make Video 1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        -32
      ],
      "id": "87f3eef4-a465-4048-9df9-f3a5eab33b31",
      "name": "HTTP Request - Get Video"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 304,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -128
      ],
      "typeVersion": 1,
      "id": "47fffd14-7860-4034-bc4b-8bd832710a66",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        576
      ],
      "id": "22bcdeb7-c9d6-4153-8c44-192a26840b3a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        576
      ],
      "id": "b7b1b9b6-7ccc-45dd-b28e-a63ffed5b7a7",
      "name": "HTTP Request - Final Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.video.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        576
      ],
      "id": "ed567274-34f6-45b9-91a1-cb0cf5de4c3b",
      "name": "Send a video",
      "webhookId": "99320899-067d-4b15-b754-ef183d9dcdf6",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Combine Videos",
        "height": 416,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        432
      ],
      "typeVersion": 1,
      "id": "02f4a7e5-324f-4af1-ab4c-a9485b6c9906",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        576
      ],
      "id": "05d74bc8-b401-4450-870b-89028de009f4",
      "name": "Wait 30s",
      "webhookId": "95ef2154-8111-46ff-9525-0f25ac8615ad"
    },
    {
      "parameters": {
        "amount": 240
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        -32
      ],
      "id": "99461e97-7fdb-4456-8bb2-a234cdc90083",
      "name": "Wait 4m",
      "webhookId": "7feaead4-5997-4d66-a596-78729fcf0ae5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        576
      ],
      "id": "ddf03529-b599-429f-94e5-0cb04343b98a",
      "name": "HTTP Request - Combine"
    },
    {
      "parameters": {
        "name": "={{ $now.plus({ hours: 8 }).format('MMM DD, YYYY_HH-mm-ss') }} UTC+8",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1Me5CXQY2k86PXbeZtYsZ5vGoBD8b6v_S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3584,
        -128
      ],
      "id": "5bd44b26-4fe7-4aa5-9063-393efdd1752c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request - Final Video').item.json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        -16
      ],
      "id": "cfec57c1-dc86-4ad0-960d-2640067dc26c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2912,
        -16
      ],
      "id": "9816b730-462b-4477-becd-9715d9bf8e04",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "Prompt = f\"\"\"\nVideo Analysis Result:\n{_input.first().json.content.parts[0].text}\n\nBased on this, generate a structured JSON output for Google Sheets with the following fields:\n\n- \"Date\" (MM/DD/YYYY)\n- \"Time\" (HH:MM)\n- \"YouTubeTitle\" (catchy, with hooks and FOMO)\n- \"YouTubeDescription\" (engaging, includes call-to-action, watch till the end, or subscribe prompts)\n- \"TikTokDescription\" (short, punchy, hooks the viewer instantly)\n- \"FacebookReelDescription\" (attention-grabbing, shareable, encourages engagement)\n- \"InstagramDescription\" (short, enticing, uses emojis, encourages interaction)\n- \"AdditionalNotes\" (any hashtags, trends, or tips for posting)\n\nThe output MUST be **valid JSON**, with all text properly escaped for JSON.  \nExample structure:\n{{\n  \"Date\": \"MM/DD/YYYY\",\n  \"Time\": \"HH:MM\",\n  \"YouTubeTitle\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}}\nMake the titles and descriptions irresistible, exciting, and make viewers feel they can’t miss it.\n\"\"\"\n\nreturn {\n    \"chatInput\": Prompt\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        -16
      ],
      "id": "34ea9471-f74e-4973-af1d-5c5e80c4747c",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3264,
        -16
      ],
      "id": "f0624f7a-bb8b-491b-84d3-61a62dc2b18a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3328,
        144
      ],
      "id": "0105e54b-0ca2-426b-aaae-ac0a1c791872",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw AI output\nmodel_output = _input.first().json[\"output\"]\n\n# Extract JSON inside ```json ... ``` or ``` blocks\njson_match = re.search(r\"```json\\s*(\\{.*\\})\\s*```\", model_output, re.DOTALL)\nif not json_match:\n    json_match = re.search(r\"```(.*?)```\", model_output, re.DOTALL)\n\nif not json_match:\n    raise ValueError(\"No JSON found in the AI output!\")\n\njson_str = json_match.group(1)\n\n# Parse the JSON string\nparsed_data = json.loads(json_str)\n\n# Return it for n8n\nreturn {\"json\": parsed_data}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        32
      ],
      "id": "cc4969f9-ffcd-4651-aaca-b55f42188716",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.data[1].Date }}",
            "Time": "={{ $json.data[1].Time }}",
            "YouTube Title": "={{ $json.data[1].YouTubeTitle }}",
            "YouTube Description": "={{ $json.data[1].YouTubeDescription }}",
            "TikTok Description": "={{ $json.data[1].TikTokDescription }}",
            "Facebook Reel Description": "={{ $json.data[1].FacebookReelDescription }}",
            "Instagram Description": "={{ $json.data[1].InstagramDescription }}",
            "Additional Notes": "={{ $json.data[1].AdditionalNotes }}",
            "Video Url View": "={{ $('Upload file').item.json.webViewLink }}",
            "Video Url Download": "={{ $('Upload file').item.json.webContentLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Title",
              "displayName": "YouTube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Description",
              "displayName": "YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TikTok Description",
              "displayName": "TikTok Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Reel Description",
              "displayName": "Facebook Reel Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Description",
              "displayName": "Instagram Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Url View",
              "displayName": "Video Url View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url Download",
              "displayName": "Video Url Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4192,
        16
      ],
      "id": "34ae6e96-f4f9-4d2e-ab5a-8024c5e17ab5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 496,
        "width": 1856,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        -144
      ],
      "typeVersion": 1,
      "id": "7e50f6db-0e55-4c12-bb57-9c6e22de56d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3808,
        16
      ],
      "id": "a8451e30-8c95-4381-8c8b-5b5560f2ef85",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4000,
        16
      ],
      "id": "97f341c3-09ce-4a60-a3b0-9c6287ff191c",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Bot ID 1": {
      "main": [
        [
          {
            "node": "HTTP Request - Image Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Image Path": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video 1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request - Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Final Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Combine": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}