Video Automation_For_Scenery_Long_Form.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 448,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4000,
        560
      ],
      "typeVersion": 1,
      "id": "1a41b850-4f48-4505-9ffa-44cca4ea3e92",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nYou create high quality cinematic photorealistic rain tent camping scenery prompts.\nYour objective is to transform the reference image into a short, accurate, visually rich, realistic environment prompt with static camera and rain effects.\n\nArt Style Guidelines:\n\nPhotorealistic rain tent camping scenery\nReal world textures, natural wet lighting, atmospheric rain depth\nCinematic environment quality film grade\nNo stylization unless present in the reference image\nRich environmental detail with tent, wet ground, puddles, rain streaks, reflections\nStrong sense of rainy camping mood and atmosphere\n\nCamera Requirements:\n\nCRITICAL: Camera must be completely static, locked, and fixed in position\nNever describe camera movement, panning, tilting, zooming, or tracking\nAlways use terms like 'static', 'fixed', 'locked', 'stationary', 'steady frame'\nOnly rain, water droplets, and environmental elements should move\n\nScene Requirements:\n\nPure rain tent camping environment only\nNo people, no characters, no animals, no silhouettes\nNo imaginary creatures, no cartoon elements\nDescribe what exists in rainy camping scenes\nFocus on rain weather, wet textures, lighting, composition, natural elements\nRain must be visible with streaks, puddles, wet surfaces\n\nRules:\n\nAlways use single quotes\nOutput only one concise image prompt\nMake it short, direct, cinematic, realistic\nUse only details visible in the reference image\nNo added characters or lifeforms\nNo narrative, no story, no filler\nNo hyphens or dashes\nAlways include environmental lighting\nAlways describe the scene like a film still with static camera\nNever use cartoon, anime, or animated terminology\nWeather must describe rain, wet conditions, puddles, reflections\n\nPrompt Structure:\n\nAlways produce one short photorealistic scenery prompt in this format:\n\n'brief cinematic photorealistic description of rain tent camping scenery using reference image details with static locked camera heavy rainfall wet surfaces puddles rain streaks including lighting weather mood environment and textures'",
        "options": {
          "systemMessage": "=Role:\nYou create high quality cinematic photorealistic scenery prompts.\nYour objective is to transform the reference image into a short, accurate, visually rich, realistic environment prompt never characters and never fictional additions.\n\nArt Style Guidelines:\n\nPhotorealistic scenery\nReal world textures, natural lighting, atmospheric depth\nCinematic environment quality film grade\nNo stylization unless present in the reference image\nRich environmental detail with terrain, sky, weather, light, color, materials\nStrong sense of mood and atmosphere with fog, heavy snow, whiteout flakes, dense blizzard conditions\n\nScene Requirements:\n\nPure environment only\nNo people, no characters, no animals, no silhouettes\nNo imaginary creatures, no cartoon elements\nDescribe what exists or what logically supports the scenery\nNever invent structures not present\nFocus on weather, lighting, texture, composition, natural elements, architecture\nSnow must be extremely dense and falling heavily, near whiteout, thick visibility loss\n\nRules:\n\nAlways use single quotes\nOutput only one concise image prompt\nMake it short, direct, cinematic, realistic\nUse only details visible in the reference image\nNo added characters or lifeforms\nNo narrative, no story, no filler\nNo hyphens or dashes\nAlways include environmental lighting\nAlways describe the scene like a film still\nNever use cartoon, anime, or animated terminology\nWeather must describe heavy dense snowfall or whiteout conditions when present\n\nPrompt Structure:\n\nAlways produce one short photorealistic scenery prompt in this format:\n\n'brief cinematic photorealistic description of the scenery using only reference image details with extremely heavy snowfall and whiteout atmosphere including lighting weather mood environment and textures'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3600,
        1232
      ],
      "id": "7ed589d2-7fe8-47e8-97ef-61c3a7b0c0b3",
      "name": "AI Agent - Image Prompt",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"={{ $('AI Agent - Image Prompt').item.json.output }}\",\n  \"image_urls\": [\n    \"{{ $node['Code in Python (Beta)4'].json.img_link }}\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3264,
        1232
      ],
      "id": "1008c44f-8c7b-4410-8b02-986972de5f11",
      "name": "HTTP Request - Create Image 1",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2816,
        1232
      ],
      "id": "221d4e1f-2827-48d4-bb2d-2a1b096bb03d",
      "name": "HTTP Request - Get Image 1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 368,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4016,
        1136
      ],
      "typeVersion": 1,
      "id": "9f351bab-34c5-45bb-b57a-58af81e2d1bf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create video prompts.\n\nUser instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nDescription of the reference image(s).\n{{ $('Analyze image1').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent that generates high-quality photorealistic scenery prompts for rain tent camping scenes. The prompt must describe purely realistic outdoor environments with tents during rainfall. Do not include characters, humans, or animals. Focus on camping locations, rain weather effects, atmospheric elements, lighting, wet textures, and realistic composition. Show the tent and rainy environment immediately. Include natural outdoor elements such as forests, clearings, riversides, grassy fields, wet ground, puddles, foliage, trees, and branches. Include dynamic environmental details such as falling rain streaks, water droplets on tent fabric, reflective puddles, rain motion blur, rippling water, wet leaves, and atmospheric rain effects. Describe lighting such as overcast daylight, soft diffused light, cloudy sky ambiance, cool bluish tones, or natural wet reflections, as appropriate for rainy scenes. Convey a cinematic, immersive, peaceful, cozy, or serene rainy camping mood. Use realistic color palettes reflecting natural rainy weather lighting and wet environments. The camera must remain completely static and locked in position with a fixed steady frame. Include camera perspective such as static ground level front angle, fixed slightly elevated side view, locked wide angle showing tent and surroundings, or stationary low angle with rain in foreground. The camera should never move, pan, tilt, zoom, or track. Only environmental elements like rain, water, and leaves should be in motion. Describe all visible environmental elements in detail including tent fabric texture, wet ground, puddles, surrounding vegetation, rain streaks, reflections on water surfaces, and natural textures. Include lighting, shadows, reflections, and atmospheric rain effects. Avoid narrative, text, quotes, or story elements. Make the scene visually rich, realistic, and immersive. Focus on true-to-life outdoor rainy camping appearance with visible rain, wet surfaces, and natural environment. Use single quotes only and do not include hyphens or dashes. Always emphasize static camera, fixed frame, locked position, steady shot, and no camera movement. Keywords you may include are 'photorealistic rain tent', 'wet camping scene', 'realistic rain textures', 'natural outdoor environment', 'immersive rainy atmosphere', 'true-to-life weather effects', 'static camera', 'fixed frame', and 'locked steady shot'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2064,
        656
      ],
      "id": "a0b27953-b578-4f4a-b1c9-03abb5725a3f",
      "name": "AI Agent - Video Prompter",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 448,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        560
      ],
      "typeVersion": 1,
      "id": "5c4b8c66-7688-4fce-9acd-62d16882b92c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "6472037679",
        "file": "={{ $json.data.response.resultUrls[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        656
      ],
      "id": "9947ff5d-9736-406e-8b12-852a68f4bbcd",
      "name": "Send a video",
      "webhookId": "1fcf03dc-ad0f-4839-afb1-35e932b5d70d",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "={{ $now.plus({ hours: 8 }).format('MMM DD, YYYY_HH-mm-ss') }} UTC+8",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ",
          "mode": "list",
          "cachedResultName": "Generated Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        1168
      ],
      "id": "90d760f7-8026-4995-b766-8691f8ca7f81",
      "name": "Upload file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request - Get Video').item.json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        1264
      ],
      "id": "46c85288-cb31-46a5-bbbc-91e0bbd383c0",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2016,
        1264
      ],
      "id": "d59a9435-dd18-4f40-bced-3a526c5c9621",
      "name": "Analyze video",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "KbKuvqHOuDvNua6Q",
          "name": "jaymeselwyn_YouTube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\nimport random\n# Get real current date and time\nnow = datetime.now()\ndate_str = now.strftime(\"%m/%d/%Y\")\ntime_str = now.strftime(\"%H:%M\")\n# Define some dynamic hooks and actions\nhook_phrases = [\n    \"When {character} {action}!\",\n    \"You won't believe what {character} does!\",\n    \"Watch {character} {action} in pastel magic!\",\n    \"I can't believe {character} just {action}!\",\n    \"{character} {action} and it's adorable!\"\n]\nactions = [\n    \"dances in the candy clouds\",\n    \"discovers a rainbow waterfall\",\n    \"giggles while floating on lanterns\",\n    \"throws a sparkly magic spell\",\n    \"plays hide-and-seek in the pastel garden\",\n    \"slides down a fluffy cloud slide\",\n    \"spins under the twinkling stars\",\n    \"sings with magical sparkles around\",\n    \"jumps between floating petals\"\n]\n# Example character (you can replace with your generated character)\ncharacter = random.choice([\n    \"Cheerful Girl in Pink\", \n    \"Tiny Mermaid Girl\", \n    \"Adorable Elf Girl\", \n    \"Joyful Princess\", \n    \"Cute Wizard Girl\", \n    \"Playful School Girl\"\n])\naction = random.choice(actions)\ntitle = random.choice(hook_phrases).format(character=character, action=action)\n# Build the prompt for AI node\nPrompt = f\"\"\"\nVideo Analysis Result:\n{_input.first().json.content.parts[0].text}\nBased on this, generate a structured JSON output for Google Sheets with the following fields:\n- \"Date\" (MM/DD/YYYY)\n- \"Time\" (HH:MM)\n- \"YouTubeTitle\" (catchy, FOMO-style, MUST be under 90 characters)\n- \"YouTubeTitle2\" (DIFFERENT catchy title, under 90 characters, use a different hook/angle than YouTubeTitle)\n- \"YouTubeDescription\" (engaging, includes CTA like 'watch till the end' or 'subscribe for more')\n- \"YouTubeDescription2\" (DIFFERENT description with different CTA and angle than YouTubeDescription)\n- \"TikTokDescription\" (short, punchy, instant hook)\n- \"FacebookReelDescription\" (attention-grabbing, shareable, engaging)\n- \"InstagramDescription\" (short, emoji-rich, interaction-focused)\n- \"AdditionalNotes\" (hashtags, trends, posting tips)\nSTRICT RULES:\n1. Both \"YouTubeTitle\" and \"YouTubeTitle2\" MUST NOT exceed 90 characters.\n2. YouTubeTitle and YouTubeTitle2 MUST be COMPLETELY DIFFERENT - use different hooks, emotions, or angles.\n3. YouTubeDescription and YouTubeDescription2 MUST be COMPLETELY DIFFERENT - vary the CTAs and storytelling.\n4. The \"Date\" and \"Time\" should be accurate based on the current date and time provided below:\n   - CurrentDate: {date_str}\n   - CurrentTime: {time_str}\n5. The output MUST be valid JSON, properly escaped.\nExample structure:\n{{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"YouTubeTitle\": \"{title}\",\n  \"YouTubeTitle2\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"YouTubeDescription2\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}}\nCRITICAL: YouTubeTitle and YouTubeTitle2 must be DISTINCT. YouTubeDescription and YouTubeDescription2 must be DISTINCT. Do NOT repeat the same content.\nGenerate irresistible, high-CTR titles and descriptions that make viewers feel they CAN'T miss the video.\n\"\"\"\nreturn {\n    \"chatInput\": Prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1264
      ],
      "id": "ebb4f846-0c91-4905-94fb-6ac52ac767cb",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1632,
        1264
      ],
      "id": "12847f5e-5452-4abf-9798-690c48482438",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nmodel_output = _input.first().json[\"output\"]\n\njson_match = re.search(r\"```json\\s*(\\{.*\\})\\s*```\", model_output, re.DOTALL)\nif not json_match:\n    json_match = re.search(r\"```(.*?)```\", model_output, re.DOTALL)\n\nif not json_match:\n    raise ValueError(\"No JSON found in the AI output!\")\n\njson_str = json_match.group(1)\n\nparsed_data = json.loads(json_str)\n\nreturn {\"json\": parsed_data}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        1312
      ],
      "id": "0ba1bb66-4017-4c70-a855-a75b21b76d14",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "content": "## Analyze Video | Create Descriptions",
        "height": 432,
        "width": 1696,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        1136
      ],
      "typeVersion": 1,
      "id": "92938073-f894-4f0b-a0db-61ae12b16e88",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        1264
      ],
      "id": "4348cbc0-ec68-4dc7-b890-b691779810dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -912,
        1264
      ],
      "id": "9b6a7f26-8b6e-4c12-b444-d1beeaa40214",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Upload Videos",
        "height": 480,
        "width": 2048,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        528
      ],
      "typeVersion": 1,
      "id": "1ef92162-2828-4a79-bf19-2fa567a363ff",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $json['Video Url Download'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        672
      ],
      "id": "cb955d6f-3dff-4c7e-88ab-8dcd5ee93815",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.data[1].Date }}",
            "TikTok Description": "={{ $json.data[1].TikTokDescription }}",
            "Facebook Reel Description": "={{ $json.data[1].FacebookReelDescription }}",
            "Instagram Description": "={{ $json.data[1].InstagramDescription }}",
            "Additional Notes": "={{ $json.data[1].AdditionalNotes }}",
            "Video Url View": "={{ $('Upload file').item.json.webViewLink }}",
            "Video Url Download": "={{ $('Upload file').item.json.webContentLink }}",
            "Time ": "={{ $json.data[1].Time }}",
            "AlgoNova Youtube Title": "={{ $json.data[1].YouTubeTitle }}",
            "EchoNova Youtube Title": "={{ $json.data[1].YouTubeTitle2 }}",
            "AlgoNova YouTube Description": "={{ $json.data[1].YouTubeDescription }}",
            "EchoNova YouTube Description": "={{ $json.data[1].YouTubeDescription2 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova Youtube Title",
              "displayName": "AlgoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova Youtube Title",
              "displayName": "EchoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova YouTube Description",
              "displayName": "AlgoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova YouTube Description",
              "displayName": "EchoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TikTok Description",
              "displayName": "TikTok Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Reel Description",
              "displayName": "Facebook Reel Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Description",
              "displayName": "Instagram Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Url View",
              "displayName": "Video Url View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url Download",
              "displayName": "Video Url Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        1264
      ],
      "id": "4c33e675-34cd-45dd-a634-611b6a2c2961",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        672
      ],
      "id": "af3c9b25-3e62-4f26-ac2c-251be949e448",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -480,
        672
      ],
      "id": "99c5d4fb-eca9-40be-8e07-d6cafe9aa7d5",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        672
      ],
      "id": "8cb191ae-f6b2-448e-97d9-10037c76ac4b",
      "name": "Wait",
      "webhookId": "7762396d-b7cf-4d31-a968-5e38376aa9de"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image contains a landscape/scenery, a product, or a character.\nIf the image contains more than one completely separate subject (for example, a product AND a scenery, or two distinct images inside one image), describe each separately.\nOnly describe what is visually present.\nDo NOT add characters, people, animals, figures, silhouettes, or anything not actually in the image.\nYour output must ONLY include the appearance description — nothing else.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2640,
        800
      ],
      "id": "31b901a9-40c0-403c-ae92-bb95f6c315b7",
      "name": "Analyze image1",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3904,
        784
      ],
      "id": "fed9c54e-2033-4aa6-b7a8-08ec42b60627",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\nfrom datetime import datetime\n\ndef escape_quotes(s):\n    return s.replace('\"', '\\\\\"')\n\nnow = datetime.now()\n\n# --- Realistic Rain Tent Scenes ---\nlocations = [\n    \"camping site in a lush forest clearing\",\n    \"grassy field with scattered trees\",\n    \"secluded riverside campsite\",\n    \"small forest glade with natural undergrowth\",\n    \"tent pitched on damp mossy ground\",\n    \"forest floor with leafy branches around\",\n]\n\n# --- Weather (Rain) ---\nweather = [\n    \"heavy torrential rain\",\n    \"steady pouring rain with droplets visible\",\n    \"intense wet downpour\",\n    \"strong rain creating reflective puddles\",\n    \"stormy rainfall with motion blur on water\",\n]\n\n# --- Mood ---\nmoods = [\n    \"calm and immersive\",\n    \"cozy yet rainy\",\n    \"natural outdoor serenity\",\n    \"peaceful wet camping atmosphere\",\n    \"immersive rainy environment\",\n]\n\n# --- Camera (STATIC ONLY) ---\ncamera = [\n    \"static ground-level front-angle close-up of tent with camera locked in fixed position\",\n    \"fixed slightly elevated side view showing tent and wet ground with stationary camera\",\n    \"locked wide-angle showing tent, puddles, and surrounding foliage with no camera movement\",\n    \"stationary low-angle shot with rain streaks in foreground and completely still frame\",\n    \"fixed camera position at ground level capturing tent with steady locked composition\",\n]\n\n# --- Lighting ---\nlighting = [\n    \"overcast daylight with soft diffused light\",\n    \"cloudy sky casting natural wet reflections\",\n    \"cool bluish ambient lighting with subtle shadows\",\n    \"soft natural lighting with reflective wet surfaces\",\n]\n\n# --- Foreground Elements ---\nforeground = [\n    \"wet leaves and branches partially in frame\",\n    \"grass blades glistening with rain\",\n    \"small puddles reflecting tent and trees\",\n    \"muddy ground with subtle water ripples\",\n]\n\n# --- Themes ---\nthemes = [\n    \"Realistic Rain on Tent\",\n    \"Wet Camping Scene\",\n    \"Immersive Outdoor Rain\",\n    \"Heavy Downpour Over Tent\",\n    \"Natural Rainy Campsite\",\n]\n\n# --- Generate ---\nlocation = random.choice(locations)\nweather_type = random.choice(weather)\nmood = random.choice(moods)\ncamera_type = random.choice(camera)\nlight = random.choice(lighting)\nforeground_element = random.choice(foreground)\ntheme = random.choice(themes)\n\ngenerated_title = f\"{theme} | {location} in {weather_type}\"\n\ntext_prompt = (\n    f\"Generate a photorealistic image of {location} during {weather_type}. \"\n    f\"CRITICAL: Camera must be completely static, locked, and fixed with absolutely no movement, panning, or tracking. \"\n    f\"Mood should be {mood}. Lighting should be {light}. Use a {camera_type}. \"\n    f\"Include {foreground_element} for depth. Tent fabric should look wet and natural, \"\n    \"with puddles or wet ground around. Focus on realistic textures, true-to-life rain streaks, \"\n    \"reflections on wet surfaces, and immersive outdoor environment. \"\n    \"Only rain, water droplets, and environmental elements should move - camera stays perfectly still and stationary. \"\n    \"No people, no animals, no fantasy elements. Static locked camera with zero camera motion.\"\n)\n\nimage_prompt = (\n    f\"Photorealistic image of {location} under {weather_type}. \"\n    f\"{camera_type}, {light}, {foreground_element}, wet tent fabric, \"\n    \"visible rain streaks, puddles reflecting surroundings, natural wet ground textures. \"\n    \"Static camera with no movement, only rain and water in motion. \"\n    \"True-to-life outdoor appearance. No characters, no fantasy.\"\n)\n\ngenerated_title_escaped = escape_quotes(generated_title)\ntext_prompt_escaped = escape_quotes(text_prompt)\nimage_prompt_escaped = escape_quotes(image_prompt)\n\nreturn {\n    \"chatInput\": f\"\"\"\nEnsure to return the output in this EXACT FORMAT:\n{{\n'imagePrompt':'{image_prompt_escaped}',\n'textPrompt':'{text_prompt_escaped}',\n'generatedTitle':'{generated_title_escaped}'\n}}\n\"\"\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        704
      ],
      "id": "21aaaf9e-e79d-47c9-9e75-d47cb8c2ad72",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nai_output = _input.first().json.get(\"output\", \"\")\n\n# Extract JSON block\njson_match = re.search(r\"\\{.*\\}\", ai_output, re.DOTALL)\nif not json_match:\n    raise ValueError(\"No JSON found in AI output.\")\njson_str = json_match.group(0)\n\n# Replace single quotes with double quotes (for keys and string values)\njson_str = re.sub(r\"(?<!\\\\)'\", '\"', json_str)\n\n# Remove trailing commas\njson_str = re.sub(r\",(\\s*})\", r\"\\1\", json_str)\njson_str = re.sub(r\",(\\s*\\])\", r\"\\1\", json_str)\n\n# Fallback: sanitize backslashes in strings\ndef sanitize_json_string(s):\n    # Escape unescaped backslashes\n    s = re.sub(r'\\\\(?![\"\\\\/bfnrtu])', r'\\\\\\\\', s)\n    return s\n\njson_str = sanitize_json_string(json_str)\n\n# Attempt to parse JSON\ntry:\n    parsed = json.loads(json_str)\nexcept json.JSONDecodeError as e:\n    # As a last resort: remove problematic backslashes entirely\n    json_str_clean = json_str.replace(\"\\\\\", \"\")\n    try:\n        parsed = json.loads(json_str_clean)\n    except Exception as e2:\n        raise ValueError(f\"Failed to parse JSON even after fallback: {e2}\\nContent: {json_str}\")\n\n# Return clean output\nreturn [{\n    \"json\": {\n        \"imagePrompt\": parsed.get(\"imagePrompt\", \"\"),\n        \"textPrompt\": parsed.get(\"textPrompt\", \"\"),\n        \"generatedTitle\": parsed.get(\"generatedTitle\", \"Untitled\")\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        704
      ],
      "id": "07e64bee-b15d-4cd3-adb8-128b9b69a304",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI agent that generates high-quality photorealistic scenery prompts for rain tent camping scenes. The prompt must describe purely realistic outdoor environments with tents during rainfall. Do not include characters, humans, or animals. \n\nCRITICAL CAMERA REQUIREMENT: The camera MUST be completely static, locked, and fixed in position. Never describe camera movement, panning, tilting, zooming, tracking shots, or any motion. Always use terms like 'static', 'fixed', 'locked', 'stationary', 'steady frame', 'completely still camera'. Only environmental elements like rain, water droplets, and leaves should move - the camera itself never moves.\n\nFocus on camping locations, rain weather effects, atmospheric elements, lighting, wet textures, and realistic composition. Show the tent and rainy environment immediately. Include natural outdoor elements such as forests, clearings, riversides, grassy fields, wet ground, puddles, foliage, trees, and branches. \n\nInclude dynamic environmental details such as falling rain streaks, water droplets on tent fabric, reflective puddles, rain motion blur, rippling water, wet leaves, and atmospheric rain effects. Describe lighting such as overcast daylight, soft diffused light, cloudy sky ambiance, cool bluish tones, or natural wet reflections, as appropriate for rainy scenes. \n\nConvey a cinematic, immersive, peaceful, cozy, or serene rainy camping mood. Use realistic color palettes reflecting natural rainy weather lighting and wet environments. \n\nInclude camera perspective such as 'static ground level front angle', 'fixed slightly elevated side view', 'locked wide angle showing tent and surroundings', or 'stationary low angle with rain in foreground'. Always prefix camera descriptions with words like 'static', 'fixed', 'locked', or 'stationary'.\n\nDescribe all visible environmental elements in detail including tent fabric texture, wet ground, puddles, surrounding vegetation, rain streaks, reflections on water surfaces, and natural textures. Include lighting, shadows, reflections, and atmospheric rain effects. \n\nAvoid narrative, text, quotes, or story elements. Make the scene visually rich, realistic, and immersive. Focus on true-to-life outdoor rainy camping appearance with visible rain, wet surfaces, and natural environment. \n\nIn every prompt you generate, explicitly state that the camera is locked and static with no movement. Emphasize that only rain and environmental elements move while the camera remains perfectly still.\n\nUse single quotes only and do not include hyphens or dashes. Keywords you must include are 'static camera', 'fixed frame', 'locked position', 'no camera movement', along with 'photorealistic rain tent', 'wet camping scene', 'realistic rain textures', 'natural outdoor environment', 'immersive rainy atmosphere', and 'true-to-life weather effects'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3456,
        704
      ],
      "id": "8ce51ca1-7914-476a-b520-01b6f0f1790d",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        624
      ],
      "id": "0262a857-a510-46f3-b034-ca1f42c8d984",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3952,
        1232
      ],
      "id": "574be588-473c-436f-83a5-6995a0638c24",
      "name": "Merge1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3776,
        1232
      ],
      "id": "26b82932-3696-4bf3-b3e2-bc92a2d238aa",
      "name": "Limit1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scene\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"scene\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1936,
        848
      ],
      "id": "06785892-8e92-4b71-8d95-cec2b5492335",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "img_link = _input.first().json.webContentLink\n\nreturn {\n  \"img_link\": img_link\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        576
      ],
      "id": "a0ecd2c4-abf2-4620-b88b-b3555d1d9ac9",
      "name": "Code in Python (Beta)4"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        656
      ],
      "id": "4ea8b09b-052c-4c48-8402-7314489fec47",
      "name": "HTTP Request - Get Video",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.scene }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"imageUrls\": \"{{ $('HTTP Request - Get Image 1').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        656
      ],
      "id": "5a71e949-7330-4d97-8baa-c1a47066c8e1",
      "name": "HTTP Request - Make Video1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## For Tiktok Upload\n\n[Tiktok For Developers](https://developers.tiktok.com/app/7568099330684225548/pending)\n\n[Client key](\nawueea9a9ibxpnd3)\n\n[Client secret](\nPtNO3aWgbHkCPFClAoSg7ZoEUXH5wE41)\n\n\n## Facebook \nCredentials for fb graph API expires ever 1-2 hrs",
        "height": 336,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        -160
      ],
      "typeVersion": 1,
      "id": "10c6ff16-38a5-41e2-89dd-e69ea2a48623",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Take note of costs\n\n# * Fal.AI\n# * Railway.com\n# * Kie.ai\n\n\n\n\n# [Spreadsheet](https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=sharing)",
        "height": 528,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -272
      ],
      "typeVersion": 1,
      "id": "7e63e4d4-f272-41f2-ba63-954eb7d5c5fe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Facebook Post",
        "height": 240,
        "width": 246,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        608
      ],
      "typeVersion": 1,
      "id": "6b5a9ad4-2bea-4891-9034-5abb850f55e5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Youtube Post - AlgoNova [Link](https://www.youtube.com/@algonovalabs)",
        "height": 224,
        "width": 486,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        608
      ],
      "typeVersion": 1,
      "id": "e9b906ec-b9b8-4c77-a362-95cf76db2665",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Tiktok Post",
        "height": 240,
        "width": 262,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        608
      ],
      "typeVersion": 1,
      "id": "d0b16768-265d-43cd-8dc9-74c0d316c075",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Instagram Post",
        "height": 224,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        608
      ],
      "typeVersion": 1,
      "id": "81b6eadf-1d0e-4251-8568-465e843c7693",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1168,
        672
      ],
      "id": "51e216fd-5c7a-460e-82bd-7c375c0230bf",
      "name": "Instagram Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "KMspAwgUmqwyOsNp",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        672
      ],
      "id": "6a18d431-a0fd-4e01-bb2e-e6899bbe1f27",
      "name": "Facebook Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "KMspAwgUmqwyOsNp",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "url": "https://example.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        672
      ],
      "id": "31f3cf8d-5f8a-48b5-b9b1-5d1b07d740a9",
      "name": "Tiktok Post",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2256,
        656
      ],
      "id": "b422d0a8-d1a5-4070-9f5e-efe4c3b185cb",
      "name": "Upload file2",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2624,
        1232
      ],
      "id": "938bb45e-8f94-4358-9570-8c119ca279f7",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[UPLOAD CONFIRMED]\nStatus: AUTOMATED PERFECTION\nThe Echonova Engine never sleeps.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        672
      ],
      "id": "0919ace1-9cf2-45db-8496-970098c1c305",
      "name": "Send a text message",
      "webhookId": "32170839-080c-44b0-92fb-b7b404fc1632",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PL3S1q3_3y1Qsv-JtGJakVKjP7OiTeYKH3",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        160,
        672
      ],
      "id": "a4c45506-593d-4a66-be10-ae3ca9b7e43b",
      "name": "Add a playlist item",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lP6X79rHDtk0jfT5",
          "name": "Youtube_Account_EchoNovaLabs"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3872,
        624
      ],
      "id": "32f05e94-b610-470a-ae97-60fb2fbc0441",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3584,
        1408
      ],
      "id": "e835a030-a351-48aa-8d42-b111de358c41",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "KbKuvqHOuDvNua6Q",
          "name": "jaymeselwyn_YouTube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2976,
        704
      ],
      "id": "a5e2a756-41d1-4dbe-a2ab-2bc0a412e3d2",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1696,
        1504
      ],
      "id": "e4d9e493-e437-474e-99fe-c48d280eae5e",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "KbKuvqHOuDvNua6Q",
          "name": "jaymeselwyn_YouTube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2176,
        896
      ],
      "id": "91577d50-84bc-44d7-b2f3-e7a0e51b1b9e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KbKuvqHOuDvNua6Q",
          "name": "jaymeselwyn_YouTube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3504,
        880
      ],
      "id": "25c29108-6cea-4647-a0cd-e85a99ec6f01",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "KbKuvqHOuDvNua6Q",
          "name": "jaymeselwyn_YouTube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Limit').first().json['AlgoNova Youtube Title'] }}",
        "regionCode": "PH",
        "categoryId": "1",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Limit').first().json['EchoNova YouTube Description'] }}",
          "embeddable": true,
          "selfDeclaredMadeForKids": false,
          "tags": "anime shorts, cinematic anime, anime aesthetic, studio quality animation, demon slayer style, makoto shinkai, anime edit, atmospheric anime, viral anime shorts, anime vibes"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -16,
        672
      ],
      "id": "b1efd0a9-1b83-4c40-8015-eae7df953031",
      "name": "Echonova Labs Upload",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lP6X79rHDtk0jfT5",
          "name": "Youtube_Account_EchoNovaLabs"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3040,
        1232
      ],
      "id": "a68e1009-8d5e-4144-b5ce-95b47984b3d6",
      "name": "Wait - 60s",
      "webhookId": "e3bed0b6-fffe-46a3-bbbe-6451f28480da"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1520,
        656
      ],
      "id": "34c88e11-cbeb-4a01-981d-f18a37a45391",
      "name": "Wait 4m",
      "webhookId": "13c932ca-4dc7-4551-8261-73b4e17538c5"
    }
  ],
  "connections": {
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tiktok Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Echonova Labs Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post": {
      "main": [
        []
      ]
    },
    "Facebook Post": {
      "main": [
        []
      ]
    },
    "Tiktok Post": {
      "main": [
        []
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a playlist item": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Echonova Labs Upload": {
      "main": [
        [
          {
            "node": "Add a playlist item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 60s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
