Video Automation For_Scenery_Short_Form.sjon
{
  "nodes": [
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 448,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4000,
        560
      ],
      "typeVersion": 1,
      "id": "14bd4d78-fe87-4061-a83c-c0126263b35e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create one image prompt only.\nUse the visual details from the reference image as accurately as possible.\nKeep the prompt short and focused.\nDo NOT add people, characters, animals, or any elements not present in the reference image.\n\nUser Instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nReference Image Description:\n{{ $json.content }}",
        "options": {
          "systemMessage": "=Role:\nYou create high quality cinematic photorealistic scenery prompts.\nYour objective is to transform the reference image into a short, accurate, visually rich, realistic environment prompt never characters and never fictional additions.\n\nArt Style Guidelines:\n\nPhotorealistic scenery\nReal world textures, natural lighting, atmospheric depth\nCinematic environment quality film grade\nNo stylization unless present in the reference image\nRich environmental detail with terrain, sky, weather, light, color, materials\nStrong sense of mood and atmosphere with fog, heavy snow, whiteout flakes, dense blizzard conditions\n\nScene Requirements:\n\nPure environment only\nNo people, no characters, no animals, no silhouettes\nNo imaginary creatures, no cartoon elements\nDescribe what exists or what logically supports the scenery\nNever invent structures not present\nFocus on weather, lighting, texture, composition, natural elements, architecture\nSnow must be extremely dense and falling heavily, near whiteout, thick visibility loss\n\nRules:\n\nAlways use single quotes\nOutput only one concise image prompt\nMake it short, direct, cinematic, realistic\nUse only details visible in the reference image\nNo added characters or lifeforms\nNo narrative, no story, no filler\nNo hyphens or dashes\nAlways include environmental lighting\nAlways describe the scene like a film still\nNever use cartoon, anime, or animated terminology\nWeather must describe heavy dense snowfall or whiteout conditions when present\n\nPrompt Structure:\n\nAlways produce one short photorealistic scenery prompt in this format:\n\n'brief cinematic photorealistic description of the scenery using only reference image details with extremely heavy snowfall and whiteout atmosphere including lighting weather mood environment and textures'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3600,
        1232
      ],
      "id": "a9993454-7f23-49c0-84c2-f0c74c096278",
      "name": "AI Agent - Image Prompt",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"={{ $('AI Agent - Image Prompt').item.json.output }}\",\n  \"image_urls\": [\n    \"{{ $node['Code in Python (Beta)4'].json.img_link }}\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3264,
        1232
      ],
      "id": "228b0ebe-6e84-4d85-977a-116a1129339c",
      "name": "HTTP Request - Create Image 1",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2816,
        1232
      ],
      "id": "9ebd8093-6459-41d5-805d-7ca7ede0de9d",
      "name": "HTTP Request - Get Image 1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 368,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4016,
        1136
      ],
      "typeVersion": 1,
      "id": "970298c1-551e-44d4-ad9f-c57cee739287",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create video prompts.\n\nUser instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nDescription of the reference image(s).\n{{ $('Analyze image1').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent that generates high-quality cinematic photorealistic scenery prompts. The prompt must describe purely realistic environments. Do not include characters, humans, animals, or any animated/cartoon style elements. Focus on landscapes, natural or urban environments, atmospheric elements, lighting, textures, and cinematic composition. Show the environment immediately in the first frame. Include natural or urban elements such as mountains, forests, rivers, lakes, oceans, deserts, clouds, snow, rain, fog, city streets, rural areas, or architectural structures. Include dynamic environmental details such as moving clouds, falling rain, rippling water, drifting fog, sunlight reflections, blowing leaves, or other atmospheric effects. Describe lighting such as golden hour, sunrise, sunset, overcast, soft diffused light, or moonlight, as appropriate for the scene. Convey a cinematic, dramatic, peaceful, moody, serene, or atmospheric mood. Use realistic color palettes reflecting natural lighting and environment. Include camera perspective such as wide-angle, aerial, drone view, ground-level, or cinematic pan or tracking. Describe all visible environmental elements in detail including terrain, water, sky, vegetation, structures, and textures. Include lighting, shadows, reflections, and atmospheric effects. Avoid narrative, text, quotes, or story elements. Make the scene visually rich, cinematic, and immersive. Use single quotes only and do not include hyphens or dashes. Keywords you may include if appropriate are 'cinematic photorealism', 'realistic lighting', 'atmospheric depth', 'filmic mood', 'natural textures', and 'environment focus'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2064,
        656
      ],
      "id": "24233d35-2879-4e29-8bc2-40dd9447d984",
      "name": "AI Agent - Video Prompter",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 448,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        560
      ],
      "typeVersion": 1,
      "id": "30c40052-f606-47f1-929f-7a3b03c29866",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "6472037679",
        "file": "={{ $json.data.response.resultUrls[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        656
      ],
      "id": "daa5dc43-2cb0-4d68-85f0-013164f3f777",
      "name": "Send a video",
      "webhookId": "181e9a8c-4cec-48a8-aaa2-420441ea8870",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "={{ $now.plus({ hours: 8 }).format('MMM DD, YYYY_HH-mm-ss') }} UTC+8",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ",
          "mode": "list",
          "cachedResultName": "Generated Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        1168
      ],
      "id": "ed1e3c40-f2a8-47ed-b0d1-034e4ef4fe39",
      "name": "Upload file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request - Get Video').item.json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        1264
      ],
      "id": "01324365-96da-4e3a-84dd-81f10e98881a",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\nimport random\n# Get real current date and time\nnow = datetime.now()\ndate_str = now.strftime(\"%m/%d/%Y\")\ntime_str = now.strftime(\"%H:%M\")\n# Define some dynamic hooks and actions\nhook_phrases = [\n    \"When {character} {action}!\",\n    \"You won't believe what {character} does!\",\n    \"Watch {character} {action} in pastel magic!\",\n    \"I can't believe {character} just {action}!\",\n    \"{character} {action} and it's adorable!\"\n]\nactions = [\n    \"dances in the candy clouds\",\n    \"discovers a rainbow waterfall\",\n    \"giggles while floating on lanterns\",\n    \"throws a sparkly magic spell\",\n    \"plays hide-and-seek in the pastel garden\",\n    \"slides down a fluffy cloud slide\",\n    \"spins under the twinkling stars\",\n    \"sings with magical sparkles around\",\n    \"jumps between floating petals\"\n]\n# Example character (you can replace with your generated character)\ncharacter = random.choice([\n    \"Cheerful Girl in Pink\", \n    \"Tiny Mermaid Girl\", \n    \"Adorable Elf Girl\", \n    \"Joyful Princess\", \n    \"Cute Wizard Girl\", \n    \"Playful School Girl\"\n])\naction = random.choice(actions)\ntitle = random.choice(hook_phrases).format(character=character, action=action)\n# Build the prompt for AI node\nPrompt = f\"\"\"\nVideo Analysis Result:\n{_input.first().json.chatInput}\nBased on this, generate a structured JSON output for Google Sheets with the following fields:\n- \"Date\" (MM/DD/YYYY)\n- \"Time\" (HH:MM)\n- \"YouTubeTitle\" (catchy, FOMO-style, MUST be under 90 characters)\n- \"YouTubeTitle2\" (DIFFERENT catchy title, under 90 characters, use a different hook/angle than YouTubeTitle)\n- \"YouTubeDescription\" (engaging, includes CTA like 'watch till the end' or 'subscribe for more')\n- \"YouTubeDescription2\" (DIFFERENT description with different CTA and angle than YouTubeDescription)\n- \"TikTokDescription\" (short, punchy, instant hook)\n- \"FacebookReelDescription\" (attention-grabbing, shareable, engaging)\n- \"InstagramDescription\" (short, emoji-rich, interaction-focused)\n- \"AdditionalNotes\" (hashtags, trends, posting tips)\nSTRICT RULES:\n1. Both \"YouTubeTitle\" and \"YouTubeTitle2\" MUST NOT exceed 90 characters.\n2. YouTubeTitle and YouTubeTitle2 MUST be COMPLETELY DIFFERENT - use different hooks, emotions, or angles.\n3. YouTubeDescription and YouTubeDescription2 MUST be COMPLETELY DIFFERENT - vary the CTAs and storytelling.\n4. The \"Date\" and \"Time\" should be accurate based on the current date and time provided below:\n   - CurrentDate: {date_str}\n   - CurrentTime: {time_str}\n5. The output MUST be valid JSON, properly escaped.\nExample structure:\n{{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"YouTubeTitle\": \"{title}\",\n  \"YouTubeTitle2\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"YouTubeDescription2\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}}\nCRITICAL: YouTubeTitle and YouTubeTitle2 must be DISTINCT. YouTubeDescription and YouTubeDescription2 must be DISTINCT. Do NOT repeat the same content.\nGenerate irresistible, high-CTR titles and descriptions that make viewers feel they CAN'T miss the video.\n\"\"\"\nreturn {\n    \"chatInput\": Prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        1424
      ],
      "id": "358d6ebf-cc9c-4d64-9fd9-9e30577c14dd",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1472,
        1312
      ],
      "id": "4a0f9813-68b8-4fc4-b921-332aec3632a8",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Analyze Video | Create Descriptions",
        "height": 432,
        "width": 1696,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        1136
      ],
      "typeVersion": 1,
      "id": "8ba71089-d69d-4211-8fc4-7311bd002957",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1040,
        1264
      ],
      "id": "bc550b77-72ad-4bb3-bf89-d514ed6c6647",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -848,
        1264
      ],
      "id": "878f4ecc-0a65-47d1-aa2b-6293e38e7beb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Upload Videos",
        "height": 464,
        "width": 2416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        576
      ],
      "typeVersion": 1,
      "id": "9e1594be-6960-4e68-9a6f-b67cbc0097fe",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $json['Video Url Download'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        736
      ],
      "id": "92d50431-f6b7-42d7-98e8-773365a1625b",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('AI Agent').item.json.output.Date }}",
            "TikTok Description": "={{ $('AI Agent').item.json.output.TikTokDescription }}",
            "Facebook Reel Description": "={{ $('AI Agent').item.json.output.FacebookReelDescription }}",
            "Instagram Description": "={{ $('AI Agent').item.json.output.InstagramDescription }}",
            "Additional Notes": "={{ $('AI Agent').item.json.output.AdditionalNotes }}",
            "Video Url View": "={{ $('Upload file').item.json.webViewLink }}",
            "Video Url Download": "={{ $('Upload file').item.json.webContentLink }}",
            "Time ": "={{ $('AI Agent').item.json.output.Time }}",
            "AlgoNova Youtube Title": "={{ $('AI Agent').item.json.output.YouTubeTitle }}",
            "EchoNova Youtube Title": "={{ $('AI Agent').item.json.output.YouTubeTitle2 }}",
            "AlgoNova YouTube Description": "={{ $('AI Agent').item.json.output.YouTubeDescription }}",
            "EchoNova YouTube Description": "={{ $('AI Agent').item.json.output.YouTubeDescription2 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova Youtube Title",
              "displayName": "AlgoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova Youtube Title",
              "displayName": "EchoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova YouTube Description",
              "displayName": "AlgoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova YouTube Description",
              "displayName": "EchoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TikTok Description",
              "displayName": "TikTok Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Reel Description",
              "displayName": "Facebook Reel Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Description",
              "displayName": "Instagram Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Url View",
              "displayName": "Video Url View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url Download",
              "displayName": "Video Url Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        736
      ],
      "id": "45b2b082-de37-4a0e-9da2-f7c02ecd3f0f",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        736
      ],
      "id": "56196f6b-1f20-4bc2-b106-e947f4ecab30",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -144,
        736
      ],
      "id": "6c58ab0f-2956-40b0-b746-e80034732471",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        736
      ],
      "id": "6009bc2b-56af-45d4-897a-977b2f41d984",
      "name": "Wait",
      "webhookId": "652c67f9-5120-4bdc-b427-caa536e7cb4b"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image contains a landscape/scenery, a product, or a character.\nIf the image contains more than one completely separate subject (for example, a product AND a scenery, or two distinct images inside one image), describe each separately.\nOnly describe what is visually present.\nDo NOT add characters, people, animals, figures, silhouettes, or anything not actually in the image.\nYour output must ONLY include the appearance description — nothing else.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2640,
        800
      ],
      "id": "89acad49-ce8a-497c-85e4-833876259a4f",
      "name": "Analyze image1",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3904,
        784
      ],
      "id": "5754a601-21a8-44f6-82f3-4e513c5fd198",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\nfrom datetime import datetime\n\ndef escape_quotes(s):\n    return s.replace('\"', '\\\\\"')\n\nnow = datetime.now()\n\n# --- Realistic Snow Architecture (Aerial/High-Angle Only) ---\nlocations = [\n    \"aerial view of a snow-buried European castle\",\n    \"high-angle shot of a medieval stone fortress almost completely lost in snow\",\n    \"drone view above a winter Bavarian village barely visible beneath heavy snow layers\",\n    \"top-down shot of a snowy old-town square where most structures are hidden under deep snow\",\n    \"aerial perspective of a cliffside castle covered by near-whiteout snow\",\n    \"wide drone shot of a snowy mountain fortress fading into a blizzard\",\n    \"aerial view of a Scandinavian coastal village nearly erased by thick snowfall\",\n    \"high-altitude view of a frozen lakeside castle engulfed in dense snow\",\n    \"drone capture above an old monastery buried under extreme snow\",\n    \"top-down shot of winding snowy streets nearly indistinguishable under heavy accumulation\",\n    \"aerial view of an Alpine village overwhelmed in deep snow layers\",\n    \"wide drone frame of a medieval town nearly lost in a blizzard\",\n    \"aerial look at a mountain-top fortress swallowed by frosted pines and whiteout snow\",\n    \"high-angle winter shot of an old stone church nearly obscured by heavy white coverage\",\n    \"drone view of a historic riverside castle fading into dense snowfall\"\n]\n\n# --- Weather (WHITEOUT / BLIZZARD ONLY) ---\nweather = [\n    \"extreme heavy snowfall creating near-whiteout visibility\",\n    \"thick blizzard conditions obscuring most structures\",\n    \"intense snowstorm with very low visibility\",\n    \"overwhelming heavy snow covering almost everything\",\n    \"full whiteout with continuous dense snow\",\n    \"blizzard-level snowfall burying architectural details\"\n]\n\n# --- Mood ---\nmoods = [\n    \"silent and overwhelming\",\n    \"harsh winter stillness\",\n    \"dreamlike frozen isolation\",\n    \"cold, consuming, and atmospheric\",\n    \"quiet but brutally snowy\",\n    \"immersive whiteout calm\"\n]\n\n# --- Camera ---\ncamera = [\n    \"drone aerial shot\",\n    \"ultra-wide aerial view\",\n    \"high-angle cinematic aerial frame\",\n    \"top-down drone perspective\",\n    \"sweeping aerial wide shot\",\n    \"static high-altitude drone shot\"\n]\n\n# --- Lighting ---\nlighting = [\n    \"diffused overcast whiteout lighting\",\n    \"cold flat winter illumination with no strong shadows\",\n    \"muted gray-white daylight through snowstorm\",\n    \"soft blizzard-filtered ambient light\",\n    \"low-contrast overcast after heavy snowfall\"\n]\n\n# --- Themes ---\nthemes = [\n    \"Whiteout Castle Aerial Scene\",\n    \"Blizzard Fortress Landscape\",\n    \"Snow-Buried Winter Village\",\n    \"Frozen Architecture in a Snowstorm\",\n    \"Silent Whiteout Castle Vista\",\n    \"Aerial View Lost in Snow\",\n    \"Winter Fortress in Heavy Blizzard\",\n    \"Snow-Consumed European Castle\"\n]\n\n# --- Generate ---\nlocation = random.choice(locations)\nweather_type = random.choice(weather)\nmood = random.choice(moods)\ncamera_type = random.choice(camera)\nlight = random.choice(lighting)\ntheme = random.choice(themes)\n\ngenerated_title = f\"{theme} | {location} with {weather_type}\"\n\ntext_prompt = (\n    f\"Generate an extremely heavy-snow, near-whiteout aerial winter scene of {location} under {weather_type}. \"\n    f\"The environment should be almost obscured, with most details buried in snow. Mood is {mood}. \"\n    f\"Lighting should be {light}. Use a {camera_type}. No people, no animals, no characters. \"\n    f\"Visibility should be low, with dense, overwhelming snowfall, deep snow accumulation, and faded architecture. \"\n    f\"Focus on realism, extreme snow coverage, atmospheric snow depth, and cinematic whiteout conditions.\"\n)\n\nimage_prompt = (\n    f\"Photorealistic near-whiteout aerial shot of {location} with {weather_type}. \"\n    f\"{camera_type}, {light}, heavy dense snow, extreme low visibility, \"\n    \"deep snow accumulation, snow-buried details, atmospheric blizzard depth. \"\n    \"No characters or living beings. Pure environment only.\"\n)\n\ngenerated_title_escaped = escape_quotes(generated_title)\ntext_prompt_escaped = escape_quotes(text_prompt)\nimage_prompt_escaped = escape_quotes(image_prompt)\n\nreturn {\n    \"chatInput\": f\"\"\"\nEnsure to return the output in this EXACT FORMAT:\n{{\n'imagePrompt':'{image_prompt_escaped}',\n'textPrompt':'{text_prompt_escaped}',\n'generatedTitle':'{generated_title_escaped}'\n}}\n\"\"\"\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        704
      ],
      "id": "55dc9131-400e-4c4f-8c60-d3386f6888d4",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nai_output = _input.first().json.get(\"output\", \"\")\n\n# Extract JSON block\njson_match = re.search(r\"\\{.*\\}\", ai_output, re.DOTALL)\nif not json_match:\n    raise ValueError(\"No JSON found in AI output.\")\njson_str = json_match.group(0)\n\n# Replace single quotes with double quotes (for keys and string values)\njson_str = re.sub(r\"(?<!\\\\)'\", '\"', json_str)\n\n# Remove trailing commas\njson_str = re.sub(r\",(\\s*})\", r\"\\1\", json_str)\njson_str = re.sub(r\",(\\s*\\])\", r\"\\1\", json_str)\n\n# Fallback: sanitize backslashes in strings\ndef sanitize_json_string(s):\n    # Escape unescaped backslashes\n    s = re.sub(r'\\\\(?![\"\\\\/bfnrtu])', r'\\\\\\\\', s)\n    return s\n\njson_str = sanitize_json_string(json_str)\n\n# Attempt to parse JSON\ntry:\n    parsed = json.loads(json_str)\nexcept json.JSONDecodeError as e:\n    # As a last resort: remove problematic backslashes entirely\n    json_str_clean = json_str.replace(\"\\\\\", \"\")\n    try:\n        parsed = json.loads(json_str_clean)\n    except Exception as e2:\n        raise ValueError(f\"Failed to parse JSON even after fallback: {e2}\\nContent: {json_str}\")\n\n# Return clean output\nreturn [{\n    \"json\": {\n        \"imagePrompt\": parsed.get(\"imagePrompt\", \"\"),\n        \"textPrompt\": parsed.get(\"textPrompt\", \"\"),\n        \"generatedTitle\": parsed.get(\"generatedTitle\", \"Untitled\")\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        704
      ],
      "id": "2478de9f-2165-42a1-b841-95f28b5f4b70",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3456,
        704
      ],
      "id": "d962758f-aae0-477e-bc2f-5eecf002d6dd",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        624
      ],
      "id": "58ee302c-dce7-4fa0-b46b-ad81be06544d",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3952,
        1232
      ],
      "id": "0d2677c9-b1d7-434a-a93f-099791cf2a21",
      "name": "Merge1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3776,
        1232
      ],
      "id": "001ece1f-ea21-4f5f-b855-5b2492807a61",
      "name": "Limit1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scene\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"scene\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1936,
        848
      ],
      "id": "2215a53d-1bbc-4df3-b298-127344054797",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "img_link = _input.first().json.webContentLink\n\nreturn {\n  \"img_link\": img_link\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        576
      ],
      "id": "ea5aed83-a880-4827-b2e1-26cee251bf61",
      "name": "Code in Python (Beta)4"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        656
      ],
      "id": "a016dfc5-4431-4630-911e-10818a37818a",
      "name": "HTTP Request - Get Video",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.scene }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"imageUrls\": \"{{ $('HTTP Request - Get Image 1').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        656
      ],
      "id": "722822dc-ced9-4539-9fdd-7479eca813bc",
      "name": "HTTP Request - Make Video1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## For Tiktok Upload\n\n[Tiktok For Developers](https://developers.tiktok.com/app/7568099330684225548/pending)\n\n[Client key](\nawueea9a9ibxpnd3)\n\n[Client secret](\nPtNO3aWgbHkCPFClAoSg7ZoEUXH5wE41)\n\n\n## Facebook \nCredentials for fb graph API expires ever 1-2 hrs",
        "height": 336,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        -160
      ],
      "typeVersion": 1,
      "id": "e05ea1a5-0301-4c43-866a-27223ea6eb9a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Take note of costs\n\n# * Fal.AI\n# * Railway.com\n# * Kie.ai\n\n\n\n\n# [Spreadsheet](https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=sharing)",
        "height": 528,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -272
      ],
      "typeVersion": 1,
      "id": "520c34f2-7dee-494b-896f-243b911dc189",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Facebook Post",
        "height": 240,
        "width": 246,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        672
      ],
      "typeVersion": 1,
      "id": "ecd6b960-a281-40a1-bf78-2fc10705702e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Youtube Post - AlgoNova [Link](https://www.youtube.com/@algonovalabs)",
        "height": 224,
        "width": 486,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        672
      ],
      "typeVersion": 1,
      "id": "d3ef34df-e356-40ea-b6c8-e09a798e8352",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Tiktok Post",
        "height": 240,
        "width": 262,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        672
      ],
      "typeVersion": 1,
      "id": "02d2f004-71e9-4e70-9a47-15d88551148a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Instagram Post",
        "height": 224,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        672
      ],
      "typeVersion": 1,
      "id": "7ea63cf2-a960-49a1-ae8a-949f854e65bf",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1504,
        736
      ],
      "id": "04bf9911-3eb0-4008-ba67-adf8a59e5b0a",
      "name": "Instagram Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "KMspAwgUmqwyOsNp",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1216,
        736
      ],
      "id": "72a3f2e0-ab97-4d3e-a78b-dd8a521767a1",
      "name": "Facebook Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "KMspAwgUmqwyOsNp",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "url": "https://example.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        736
      ],
      "id": "6250c124-1fa3-4809-a50d-d0daacdeba93",
      "name": "Tiktok Post",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2256,
        656
      ],
      "id": "7f326219-995f-484f-a503-3f540d1f580d",
      "name": "Upload file2",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2624,
        1232
      ],
      "id": "0fed67c8-e2cb-4d61-9ab4-9a4a4f8dded8",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[UPLOAD CONFIRMED]\nStatus: AUTOMATED PERFECTION\nThe Echonova Engine never sleeps.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        736
      ],
      "id": "cd4cf4f6-eda2-45f8-a3bb-ee5a4c144d54",
      "name": "Send a text message",
      "webhookId": "91d775ff-fc06-4ef5-a558-71d4005db620",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PL3S1q3_3y1Qsv-JtGJakVKjP7OiTeYKH3",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        496,
        736
      ],
      "id": "0592d8e9-a75a-4c45-9279-5aa045d1d7da",
      "name": "Add a playlist item",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lP6X79rHDtk0jfT5",
          "name": "Youtube_Account_EchoNovaLabs"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3872,
        624
      ],
      "id": "0599dc31-5742-4aa9-b294-aa95ff219526",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2976,
        704
      ],
      "id": "a0b99a73-fc1b-4883-9c95-f9f7886e1390",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Limit').first().json['AlgoNova Youtube Title'] }}",
        "regionCode": "PH",
        "categoryId": "1",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Limit').first().json['EchoNova YouTube Description'] }}",
          "embeddable": true,
          "selfDeclaredMadeForKids": false,
          "tags": "anime shorts, cinematic anime, anime aesthetic, studio quality animation, demon slayer style, makoto shinkai, anime edit, atmospheric anime, viral anime shorts, anime vibes"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        320,
        736
      ],
      "id": "017ecfce-5e7b-44eb-9fc7-c8638ce22fd3",
      "name": "Echonova Labs Upload",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "lP6X79rHDtk0jfT5",
          "name": "Youtube_Account_EchoNovaLabs"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3040,
        1232
      ],
      "id": "bcabf5fe-9fdd-49ca-8a7b-cd7a81ece723",
      "name": "Wait - 60s",
      "webhookId": "efa928e4-2e1f-4ea9-b526-25932ad78aa6"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1520,
        656
      ],
      "id": "d0ec13d6-0dde-4612-8f8d-d2895da98844",
      "name": "Wait 4m",
      "webhookId": "3971b78d-65e6-4140-a6ba-76c13cba3193"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48ddc792-3d49-490c-9341-a23fd5fe5587",
              "name": "chatInput",
              "value": "This video shows an aerial view of a castle blanketed in snow during a blizzard. The castle sits amidst snow dunes and the entire scene is shrouded in mist, creating a hazy, ethereal atmosphere.\\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        1360
      ],
      "id": "2f7a369b-4044-470c-bbb3-9ea3148c6b4e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3600,
        912
      ],
      "id": "800994ab-dbf2-4764-80d7-e618bfe68705",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3568,
        1408
      ],
      "id": "4893a1e2-3e2c-4bf0-9836-a651348b823d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2128,
        880
      ],
      "id": "2bccf460-07cc-4b2a-8611-5cf8a32e85ba",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1472
      ],
      "id": "5653b813-c273-482e-ac31-455f044d7614",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"YouTubeTitle\": \"{title}\",\n  \"YouTubeTitle2\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"YouTubeDescription2\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1280,
        1472
      ],
      "id": "3718875b-8563-46a2-a959-7d7fafb973e6",
      "name": "Structured Output Parser1"
    }
  ],
  "connections": {
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tiktok Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Echonova Labs Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post": {
      "main": [
        []
      ]
    },
    "Facebook Post": {
      "main": [
        []
      ]
    },
    "Tiktok Post": {
      "main": [
        []
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a playlist item": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Echonova Labs Upload": {
      "main": [
        [
          {
            "node": "Add a playlist item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 60s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
