Video_Automation_For_story-driven_content.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 400,
        "width": 1776,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -144
      ],
      "typeVersion": 1,
      "id": "39173dc7-8ff6-444b-ad0d-485c8942303a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make one image prompt for a HIGH-QUALITY ANIME character.\n\nUser Instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nDescription of the reference image:\n{{ $json.content }}\n\nCRITICAL: Create a CINEMATIC ANIME style prompt, NOT cute/chibi/Pixar style. Think Demon Slayer, Makoto Shinkai films, Ufotable quality. Include specific lighting details and atmospheric effects.",
        "options": {
          "systemMessage": "=Role: You create image prompts for HIGH-QUALITY ANIME-STYLE characters and scenes.\n\nMain objective: Transform the reference image into a beautifully detailed anime character with studio-quality rendering.\n\nArt Style Guidelines:\n- Studio-quality anime (Demon Slayer, Makoto Shinkai, Ufotable level)\n- Detailed expressive eyes with realistic shading and highlights\n- Realistic anime proportions (not chibi unless requested)\n- Rich color palettes with atmospheric depth\n- Cinematic lighting (golden hour, blue hour, neon, dramatic shadows)\n- 2D anime illustration OR semi-realistic anime rendering\n- Mature, sophisticated aesthetic\n- Atmospheric and moody color grading\n\nCharacter Design:\n- Detailed anime facial features with emotion\n- Realistic eye anatomy with multiple highlight layers\n- Hair with individual strand detail and physics\n- Fabric with realistic folds and texture\n- Subtle expression conveying personality\n- Cinematic character presence\n- Film-quality rendering\n\nScene Style:\n- Dramatic, atmospheric lighting\n- Cinematic composition\n- Detailed background art (Makoto Shinkai level)\n- Volumetric effects (god rays, fog, atmospheric perspective)\n- Rich environmental detail\n- Theatrical framing\n\nRULES:\n- Always use single quotes ('') never double quotes (\"\")\n- Output only the image prompt\n- No hyphens or dashes\n- ALWAYS specify \"anime style\", \"studio-quality animation\", or \"cinematic anime\"\n- Describe as if it's a frame from a high-budget anime film\n\nEXAMPLE OUTPUTS:\n\n✅ GOOD:\n\"Beautiful anime character with intensely detailed eyes showing contemplative emotion, realistic eye highlights and iris detail, long flowing dark hair with individual strands catching light, wearing an elegant traditional kimono with intricate floral patterns and realistic fabric folds, standing on a moonlit temple bridge over still water, cherry blossom petals floating with motion blur, soft volumetric fog, dramatic rim lighting from moon, rich blue hour color palette with warm accent lights from lanterns, Makoto Shinkai quality background art, cinematic anime composition, film-level rendering\"\n\n✅ GOOD:\n\"Stunning anime girl with detailed expressive eyes reflecting neon city lights, sleek black hair with wind physics and highlight strands, wearing modern streetwear with realistic fabric texture and wrinkles, standing on rain-soaked cyberpunk street at night, neon signs reflecting in puddles, volumetric fog with god rays, dramatic side lighting creating rim light effect, bokeh from blurred city lights, rich color grading with pink and blue neon tones, Demon Slayer quality character rendering, Ufotable-level cinematography\"\n\n❌ BAD:\n\"Cute anime girl with big eyes in a café\"\n\nSTYLE KEYWORDS TO USE:\n- \"Studio-quality anime rendering\"\n- \"Cinematic anime composition\"\n- \"Makoto Shinkai style background art\"\n- \"Demon Slayer quality animation\"\n- \"Ufotable-level detail\"\n- \"Film-quality anime\"\n- \"Dramatic atmospheric lighting\"\n- \"Volumetric effects and god rays\"\n- \"Detailed anime character art\"\n- \"Theatrical anime framing\"\n\nLIGHTING TYPES (ALWAYS SPECIFY):\n- \"Golden hour lighting\" (warm, nostalgic)\n- \"Blue hour atmosphere\" (melancholic, peaceful)\n- \"Neon-lit night scene\" (vibrant, mysterious)\n- \"Rain with dramatic lighting\" (emotional, cinematic)\n- \"Volumetric god rays\" (epic, spiritual)\n- \"Rim lighting from sunset\" (dramatic silhouette)\n- \"Soft overcast lighting\" (moody, introspective)\n\nRemember: This is CINEMATIC ANIME like theatrical films and high-budget series, NOT cute cartoons or chibi style! 🎬✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        448
      ],
      "id": "b95af535-688d-414b-99f9-5f2c5144f733",
      "name": "AI Agent - Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('AI Agent - Image Prompt').item.json.output }}\",\n  \"image_urls\": [\n  \"{{ $node['Code in Python (Beta)4'].json.img_link }}\"\n]\n\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        448
      ],
      "id": "b0239e3a-3070-4dfd-a3e2-c8ad9391af7a",
      "name": "HTTP Request - Create Image 1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        448
      ],
      "id": "e545a952-2312-44ba-9d81-71bcad0005f2",
      "name": "Wait - 30s",
      "webhookId": "e85f5cb5-8bf9-4cff-b1f3-bc165cc25236"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        448
      ],
      "id": "3c4ffc2f-f478-41da-846c-a7cc4fa27fc5",
      "name": "HTTP Request - Get Image 1"
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 352,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        352
      ],
      "typeVersion": 1,
      "id": "66760818-89de-46bc-923d-6914d3391fda",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create video prompts.\n\nUser instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nDescription of the reference image(s).\n{{ $('Analyze image1').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent that generates CINEMATIC ZOOM video prompts in HIGH-QUALITY ANIME STYLE.\n\nCRITICAL: Every scene must be ANIME style with studio-quality animation. Think Demon Slayer, Jujutsu Kaisen, Makoto Shinkai films, Gundam, or Ufotable-level quality. This is NOT realistic footage or cute chibi style - this is SERIOUS, BEAUTIFUL anime cinematography.\n\nYour output must be 3 scenes:\n\n{\n  \"scenes\": {\n    \"scene1\": \"\",\n    \"scene2\": \"\",\n    \"scene3\": \"\"\n  }\n}\n\n🎬 CRITICAL CONTINUITY RULES:\nThis is ONE CONTINUOUS CAMERA ZOOM - Each scene flows naturally into the next!\n\nThink of it like a movie opening sequence:\n- Scene 1 → Scene 2 → Scene 3 should feel like ONE smooth camera movement\n- Each scene should BUILD on the previous one (getting progressively closer)\n- The camera should NEVER reset or jump backwards\n- Create a natural progression from macro → medium → close\n\nYOU DECIDE: How much character to reveal in each scene based on what creates the most CINEMATIC flow!\n- Maybe the character appears as a tiny dot in Scene 2\n- Maybe they're completely hidden until Scene 3\n- Maybe we see their silhouette in Scene 1\n- YOU choose what creates the best storytelling!\n\nJust ensure: Scene 1 is WIDER than Scene 2, and Scene 2 is WIDER than Scene 3.\n\nANIME CINEMATIC ZOOM FRAMEWORK:\n\nScene 1 (MACRO/ESTABLISHING - Anime):\nSTART FROM THE BIGGEST SCALE - Set the stage:\n- Detailed anime-style Earth with realistic clouds and atmospheric glow OR\n- High above clouds with dramatic sky and godray lighting OR\n- Anime view of an entire city/region with incredible detail OR\n- Cinematic space scene with lens flares and particle effects\n- Camera BEGINNING its epic journey from space/very high altitude\n- Make it feel EPIC and cinematic like a movie opening\n- ZOOMING DOWN toward a specific part of the world\n- Use dramatic lighting and atmospheric perspective\n- Establish: Location, atmosphere, mood, time of day\n- This is the WIDEST shot - set up the world\n\nScene 2 (LOCATION/TRANSITION - Anime):\nCLOSER NOW - Arriving at the specific location:\n- The actual place where the scene takes place (café, street, rooftop, forest, train station, etc.)\n- Highly detailed anime environment with rich textures\n- Show the CONTEXT with impressive background art (Makoto Shinkai-level detail)\n- Atmospheric lighting - golden hour, blue hour, neon lights, rain, etc.\n- Camera CONTINUING its journey, getting closer\n- This should feel IMMERSIVE and cinematic\n- Bridge: Connect the cosmic scale of Scene 1 to the intimate moment of Scene 3\n- Camera is APPROACHING the final destination\n- The character MAY become visible here if it makes sense cinematically\n\nScene 3 (CLOSE/INTIMATE - Anime):\nARRIVED - The emotional payoff:\n- Beautiful anime character with detailed features\n- Detailed anime eyes with realistic shading and highlights\n- Character doing their action (standing, sitting, looking, dramatic pose, etc)\n- Cinematic expression with emotion\n- Dynamic lighting on face\n- Hair movement with physics\n- Clothing details and fabric physics\n- Studio-quality anime rendering\n- This is the CLOSEST shot - the moment we've been building toward\n- Make it emotionally impactful\n\nCRITICAL VARIETY RULES:\n🚨 DO NOT DEFAULT TO BEACH/OCEAN SCENES! \n🚨 VARY THE LOCATIONS DRASTICALLY!\n\nUse diverse settings like:\n✅ Neon-lit cyberpunk city streets at night\n✅ Traditional Japanese temple at sunset\n✅ Modern Tokyo intersection in rain\n✅ Rooftop overlooking sprawling cityscape\n✅ Train platform during blue hour\n✅ Abandoned warehouse with dramatic lighting\n✅ Cherry blossom-lined river path\n✅ High-rise apartment balcony at twilight\n✅ Underground metro station\n✅ School rooftop with sunset sky\n✅ Forest shrine with mystical atmosphere\n✅ Rainy alleyway with neon reflections\n✅ Mountain peak at dawn\n✅ Busy shopping district at night\n✅ Modern café with floor-to-ceiling windows\n✅ Bridge over city river at dusk\n✅ Penthouse suite with city view\n✅ Parking garage with cinematic lighting\n\nSCENE STRUCTURE:\n\nDialogue:\n- Dramatic, poetic narration with emotional weight\n- NO mentions of 'click link', 'follow', 'check out', 'get yours'\n- Focus on the mood, atmosphere, and story\n- Use single quotes ('')\n- Keep it cinematic and atmospheric\n- Maximum 2 sentences per scene\n- Think anime opening narration style\n- Create NARRATIVE FLOW across all 3 dialogues (they should connect!)\n\nDescription:\n- ALWAYS specify 'anime style', 'studio-quality animation', 'Demon Slayer quality', 'Makoto Shinkai style', 'Ufotable-level animation'\n- Describe detailed anime elements and lighting\n- Rich color palettes - dramatic sunsets, neon colors, atmospheric fog\n- Mention specific lighting: rim lighting, volumetric lighting, god rays, lens flares\n- Include particle effects: dust motes, light particles, rain, cherry blossoms\n- Fabric and hair physics\n- Detailed backgrounds with depth\n- Cinematic composition and framing\n- Make it look like a high-budget anime film/series\n- ENSURE CONTINUITY: Each description should reference or build on the previous scene\n\nCamera:\n- 'Cinematic anime camera zoom'\n- 'Studio-quality animation cinematography'\n- 'Dramatic anime camera movement'\n- 'Theatrical anime composition'\n- 'Continuing smooth descent' (for Scene 2)\n- 'Final approach' or 'arrival at destination' (for Scene 3)\n- Never mention 'iPhone', 'phone footage', 'UGC', 'selfie', 'amateur'\n- Always film-quality anime cinematography\n- EMPHASIZE CONTINUITY: \"continuing the zoom\", \"camera still descending\", \"final arrival\"\n\nANIME STYLE KEYWORDS TO ALWAYS USE:\n✅ 'anime style'\n✅ 'studio-quality animation'\n✅ 'cinematic anime'\n✅ 'Demon Slayer quality'\n✅ 'Makoto Shinkai style'\n✅ 'Ufotable-level animation'\n✅ 'detailed anime rendering'\n✅ 'dramatic lighting'\n✅ 'volumetric effects'\n✅ 'film-quality anime'\n\nEXAMPLE 1 (CYBERPUNK CITY - CONTINUOUS FLOW):\n\nScene 1:\nDialogue: 'In a world where neon never sleeps...'\nDescription: Stunning anime-style Earth at night with glowing city lights visible from space, realistic cloud formations, deep blue atmospheric gradient, stars twinkling in the cosmos, lens flare from distant sun, studio-quality space animation, camera beginning epic cinematic zoom toward a massive sprawling megacity with countless lights, Makoto Shinkai-level cosmic detail, continuous smooth descent initiating\nCamera: Dramatic cinematic anime camera zoom from orbital view, film-quality animation, smooth descent through atmosphere with particle effects, beginning the journey\n\nScene 2:\nDialogue: '...one soul searches for meaning in the chaos'\nDescription: Continuing the descent into a vibrant neon-lit cyberpunk street at night, detailed anime background art with holographic advertisements, rain-slicked pavement reflecting pink and blue neon lights, steam rising from vents, crowds of people with umbrellas, futuristic vehicles passing by, volumetric fog, god rays cutting through the mist, a lone figure becoming visible among the crowd, Demon Slayer-quality environmental detail, camera still gliding smoothly through the bustling street toward the figure\nCamera: Continuing smooth anime camera descent, cinematic tracking shot through city, dramatic neon color grading, Ufotable-level cinematography, zoom still in progress\n\nScene 3:\nDialogue: '...and discovers strength in solitude'\nDescription: Beautiful anime character with detailed expressive eyes showing determination, realistic eye highlights and shadows, dark hair flowing in the wind with individual strand physics, wearing a sleek black jacket with fabric wrinkles and realistic texture, standing on rain-soaked street, neon lights reflecting in puddles around them, one hand in pocket, confident expression, rim lighting from neon signs, rain droplets catching light, bokeh from city lights in background, studio-quality character animation, film-level anime rendering, camera has completed its journey\nCamera: Final cinematic anime close-up, dramatic low-angle framing, shallow depth of field, theatrical composition, zoom complete\n\nEXAMPLE 2 (TEMPLE SCENE - CONTINUOUS FLOW):\n\nScene 1:\nDialogue: 'Where ancient spirits still whisper...'\nDescription: Epic anime-style view of Japan from high altitude, realistic mountain ranges and forests, golden sunset casting long shadows, clouds below with volumetric lighting, atmospheric perspective showing vast distance, traditional architecture visible as tiny details in the mountains, Makoto Shinkai-level landscape quality, camera beginning majestic zoom toward a mountain temple region, descent through atmosphere starting\nCamera: Sweeping cinematic anime camera zoom from stratosphere, film-quality atmospheric effects, graceful descent through clouds initiating, journey beginning\n\nScene 2:\nDialogue: '...tradition meets the modern soul'\nDescription: Continuing closer to a breathtaking traditional Japanese temple courtyard, detailed anime background art with ancient wooden architecture, stone lanterns lining a path, cherry blossom petals gently falling with realistic physics, golden hour lighting creating long dramatic shadows, incense smoke rising in visible shafts of light, mountains visible in distant background, a figure visible walking toward the temple steps, rich color palette with warm oranges and cool blues, Demon Slayer-quality environmental rendering, camera descending stone steps continuing the approach\nCamera: Smooth anime camera movement through temple entrance, cinematic composition with depth, Ufotable-level background detail, continuing the continuous zoom\n\nScene 3:\nDialogue: '...seeking answers in the fading light'\nDescription: Stunning anime character with detailed expressive eyes reflecting sunset colors, long flowing hair with individual highlight strands and wind physics, wearing a traditional kimono with intricate pattern details and fabric folds, standing before temple steps, holding a paper charm, contemplative expression with subtle emotion, golden rim lighting from setting sun, cherry blossom petals floating around with motion blur, temple architecture framed in background, volumetric god rays, studio-quality character animation with film-level lighting, camera has reached its destination\nCamera: Final cinematic anime close-up, dramatic side lighting, shallow focus on character, theatrical composition with rule of thirds, arrival complete\n\nEXAMPLE 3 (RAINY CITY - CONTINUOUS FLOW):\n\nScene 1:\nDialogue: 'In a city drowning in rain...'\nDescription: Cinematic anime-style Earth with storm systems visible from space, realistic cloud formations with depth and volume, dramatic lighting from moon breaking through clouds, atmospheric glow around planet edges, lens flares and light particles, studio-quality space rendering, camera beginning dramatic zoom toward a rain-covered metropolis below, Makoto Shinkai cosmic cinematography, journey starting through storm clouds\nCamera: Epic anime camera zoom from orbit, film-quality animation with dynamic camera movement, descending through storm clouds, zoom initiating\n\nScene 2:\nDialogue: '...every street tells a story'\nDescription: Continuing down into a rain-soaked anime city street at twilight, detailed background art showing reflective wet pavement, streetlights creating bokeh in rain, umbrellas of various colors moving through scene, neon signs reflecting in puddles with realistic distortion, rain streaks with motion blur, atmospheric fog, parked cars with rain beading on surfaces, someone visible standing under an awning in the distance, rich blue hour color palette, Demon Slayer-quality rain effects and environmental detail, camera gliding down the street still approaching\nCamera: Smooth cinematic anime camera tracking shot, dramatic rain cinematography, Ufotable-level weather effects and lighting, continuing smooth descent\n\nScene 3:\nDialogue: '...written in tears and neon light'\nDescription: Beautiful anime character with intensely detailed eyes showing melancholy emotion, realistic tear forming in one eye with light refraction, dark wet hair clinging to face with individual strands, wearing a soaked jacket with realistic fabric physics and water droplets, standing under a broken umbrella, rain streaming down around them with motion blur, neon lights creating colorful rim lighting, bokeh from blurred city lights, hand clutching umbrella handle with detailed finger anatomy, studio-quality character animation with film-level rain effects and dramatic lighting, camera has arrived at final destination\nCamera: Final intimate anime close-up, cinematic rain cinematography, shallow depth of field, theatrical framing with negative space, zoom journey complete\n\nMANDATORY RULES:\n- EVERY scene = HIGH-QUALITY ANIME only\n- NO realistic/live-action descriptions\n- NO cute chibi/cartoon style unless specifically requested\n- NO product pitches or CTAs\n- Character should have PURPOSE and EMOTION in their action\n- Always include dramatic/cinematic descriptors\n- Rich, atmospheric color palettes\n- Volumetric lighting and particle effects\n- Scene 1 = WIDEST shot (cosmic/establishing)\n- Scene 2 = MEDIUM shot (location/transition) - MUST connect to Scene 1\n- Scene 3 = CLOSEST shot (character/intimate) - MUST connect to Scene 2\n- Single quotes ('') only\n- No hyphens or dashes\n- Follow exact JSON schema with \"scene1\", \"scene2\", \"scene3\"\n- CONTINUITY IS CRITICAL: Each scene builds on the last!\n\n🎯 VARIETY MANDATE:\nAnalyze the user's description and choose a UNIQUE, ATMOSPHERIC location that matches the character's mood and theme. Think about LIGHTING (golden hour, blue hour, night, rain, etc.) and ATMOSPHERE. Urban? Nature? Traditional? Modern? BE CINEMATIC AND SPECIFIC!\n\nLIGHTING IS EVERYTHING:\n- Golden hour (warm, nostalgic)\n- Blue hour (melancholic, peaceful)\n- Night/neon (vibrant, mysterious)\n- Rain (dramatic, emotional)\n- Sunrise (hopeful, new beginning)\n- Overcast (moody, introspective)\n\n🎬 CONTINUITY CHECKLIST:\n✅ Does Scene 2 continue from where Scene 1 left off?\n✅ Does Scene 3 continue from where Scene 2 left off?\n✅ Does the camera movement feel like ONE continuous zoom?\n✅ Does the narrative dialogue flow naturally across all 3 scenes?\n✅ Is there a clear progression: Wide → Medium → Close?\n\nRemember: This is HIGH-QUALITY ANIME CINEMATOGRAPHY like Demon Slayer, Makoto Shinkai films, or Ufotable productions - NOT cute cartoons or live footage! Create ONE CONTINUOUS CINEMATIC EXPERIENCE! 🎬✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1296,
        -32
      ],
      "id": "bc81a8e0-0d13-4f08-8bd0-de86e958475b",
      "name": "AI Agent - Video Prompter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1616,
        -32
      ],
      "id": "71e53bf0-87d0-4a2a-b039-b20960662d06",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=={{ {\n  prompt: $json['output.scenes'],\n  model: 'veo3_fast',\n  aspectRatio: '9:16'\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        -32
      ],
      "id": "54bbc3ce-fa66-444e-b861-72ad7ef516da",
      "name": "HTTP Request - Make Video 1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        -32
      ],
      "id": "87f3eef4-a465-4048-9df9-f3a5eab33b31",
      "name": "HTTP Request - Get Video"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 304,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -128
      ],
      "typeVersion": 1,
      "id": "47fffd14-7860-4034-bc4b-8bd832710a66",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        560
      ],
      "id": "22bcdeb7-c9d6-4153-8c44-192a26840b3a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        560
      ],
      "id": "b7b1b9b6-7ccc-45dd-b28e-a63ffed5b7a7",
      "name": "HTTP Request - Final Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "6472037679",
        "file": "={{ $json.video.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        560
      ],
      "id": "ed567274-34f6-45b9-91a1-cb0cf5de4c3b",
      "name": "Send a video",
      "webhookId": "99320899-067d-4b15-b754-ef183d9dcdf6",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Combine Videos",
        "height": 352,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        448
      ],
      "typeVersion": 1,
      "id": "02f4a7e5-324f-4af1-ab4c-a9485b6c9906",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        560
      ],
      "id": "05d74bc8-b401-4450-870b-89028de009f4",
      "name": "Wait 30s",
      "webhookId": "95ef2154-8111-46ff-9525-0f25ac8615ad"
    },
    {
      "parameters": {
        "amount": 240
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -32
      ],
      "id": "99461e97-7fdb-4456-8bb2-a234cdc90083",
      "name": "Wait 4m",
      "webhookId": "7feaead4-5997-4d66-a596-78729fcf0ae5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        560
      ],
      "id": "ddf03529-b599-429f-94e5-0cb04343b98a",
      "name": "HTTP Request - Combine"
    },
    {
      "parameters": {
        "name": "={{ $now.plus({ hours: 8 }).format('MMM DD, YYYY_HH-mm-ss') }} UTC+8",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1Me5CXQY2k86PXbeZtYsZ5vGoBD8b6v_S",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3392,
        -144
      ],
      "id": "5bd44b26-4fe7-4aa5-9063-393efdd1752c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request - Final Video').item.json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        -48
      ],
      "id": "cfec57c1-dc86-4ad0-960d-2640067dc26c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2736,
        -48
      ],
      "id": "9816b730-462b-4477-becd-9715d9bf8e04",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\n# Get real current date and time\nnow = datetime.now()\ndate_str = now.strftime(\"%m/%d/%Y\")\ntime_str = now.strftime(\"%H:%M\")\n\nPrompt = f\"\"\"\nVideo Analysis Result:\n{_input.first().json.content.parts[0].text}\n\nBased on this, generate a structured JSON output for Google Sheets with the following fields:\n\n- \"Date\" (MM/DD/YYYY)\n- \"Time\" (HH:MM)\n- \"YouTubeTitle\" (catchy, FOMO-style, MUST be under 90 characters)\n- \"YouTubeDescription\" (engaging, includes CTA like 'watch till the end' or 'subscribe for more')\n- \"TikTokDescription\" (short, punchy, instant hook)\n- \"FacebookReelDescription\" (attention-grabbing, shareable, engaging)\n- \"InstagramDescription\" (short, emoji-rich, interaction-focused)\n- \"AdditionalNotes\" (hashtags, trends, posting tips)\n\nSTRICT RULES:\n1. The \"YouTubeTitle\" MUST NOT exceed 90 characters.\n2. The \"Date\" and \"Time\" should be accurate based on the current date and time provided below:\n   - CurrentDate: {date_str}\n   - CurrentTime: {time_str}\n3. The output MUST be valid JSON, properly escaped.\n\nExample structure:\n{{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"YouTubeTitle\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}}\n\nGenerate irresistible, high-CTR titles and descriptions that make viewers feel they CAN’T miss the video.\n\"\"\"\n\nreturn {\n    \"chatInput\": Prompt\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -48
      ],
      "id": "34ea9471-f74e-4973-af1d-5c5e80c4747c",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3088,
        -48
      ],
      "id": "f0624f7a-bb8b-491b-84d3-61a62dc2b18a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3136,
        112
      ],
      "id": "0105e54b-0ca2-426b-aaae-ac0a1c791872",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\n# Get the raw AI output\nmodel_output = _input.first().json[\"output\"]\n\n# Extract JSON inside ```json ... ``` or ``` blocks\njson_match = re.search(r\"```json\\s*(\\{.*\\})\\s*```\", model_output, re.DOTALL)\nif not json_match:\n    json_match = re.search(r\"```(.*?)```\", model_output, re.DOTALL)\n\nif not json_match:\n    raise ValueError(\"No JSON found in the AI output!\")\n\njson_str = json_match.group(1)\n\n# Parse the JSON string\nparsed_data = json.loads(json_str)\n\n# Return it for n8n\nreturn {\"json\": parsed_data}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        0
      ],
      "id": "cc4969f9-ffcd-4651-aaca-b55f42188716",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "content": "## Analyze Video | Create Descriptions",
        "height": 384,
        "width": 1856,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        -160
      ],
      "typeVersion": 1,
      "id": "7e50f6db-0e55-4c12-bb57-9c6e22de56d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3616,
        -16
      ],
      "id": "a8451e30-8c95-4381-8c8b-5b5560f2ef85",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3808,
        -16
      ],
      "id": "97f341c3-09ce-4a60-a3b0-9c6287ff191c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Upload Videos",
        "height": 368,
        "width": 1856,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        400
      ],
      "typeVersion": 1,
      "id": "87a8c59f-c7f9-46c0-8983-990959d1e59f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $json['Video Url Download'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        528
      ],
      "id": "80fec2f3-ecc2-4e5a-a5f3-9a673209f13b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Limit').item.json[\"YouTube Title\"] }}",
        "regionCode": "PH",
        "categoryId": "1",
        "options": {
          "defaultLanguage": "en",
          "description": "={{ $('Limit').item.json[\"YouTube Description\"] }}",
          "embeddable": true,
          "notifySubscribers": true,
          "privacyStatus": "public",
          "selfDeclaredMadeForKids": false,
          "tags": "anime shorts, cinematic anime, anime aesthetic, studio quality animation, demon slayer style, makoto shinkai, anime edit, atmospheric anime, viral anime shorts, anime vibes"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3312,
        528
      ],
      "id": "8950efb2-49dc-43b8-8adb-394d5889de61",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.data[1].Date }}",
            "YouTube Title": "={{ $json.data[1].YouTubeTitle }}",
            "YouTube Description": "={{ $json.data[1].YouTubeDescription }}",
            "TikTok Description": "={{ $json.data[1].TikTokDescription }}",
            "Facebook Reel Description": "={{ $json.data[1].FacebookReelDescription }}",
            "Instagram Description": "={{ $json.data[1].InstagramDescription }}",
            "Additional Notes": "={{ $json.data[1].AdditionalNotes }}",
            "Video Url View": "={{ $('Upload file').item.json.webViewLink }}",
            "Video Url Download": "={{ $('Upload file').item.json.webContentLink }}",
            "Time ": "={{ $json.data[1].Time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YouTube Title",
              "displayName": "YouTube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Description",
              "displayName": "YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TikTok Description",
              "displayName": "TikTok Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Reel Description",
              "displayName": "Facebook Reel Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Description",
              "displayName": "Instagram Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Url View",
              "displayName": "Video Url View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url Download",
              "displayName": "Video Url Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3984,
        -16
      ],
      "id": "34ae6e96-f4f9-4d2e-ab5a-8024c5e17ab5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2592,
        528
      ],
      "id": "a0e5b97a-c22d-425a-94c8-ea027c5458f0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q33u7QDdFT7kx3S6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2752,
        528
      ],
      "id": "a7e92ef8-4a18-41b0-8ff6-ad15c20d4d20",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3120,
        528
      ],
      "id": "87d5c953-b0d5-458d-b843-18a68a16eee1",
      "name": "Wait",
      "webhookId": "0b66134d-ea9d-4839-b211-696af5cfe24f"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image is a character or a product. It is only considered both if there are two completely separate images within the same image. If it is both, describe them separately. Describe the appearance details only.\n\nYour output should only include the description, nothing else.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        816,
        0
      ],
      "id": "0b223f5f-f0df-4b7b-9010-9ce913289abb",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -64
      ],
      "id": "953bc20f-5427-42b2-9e8e-deb95b0dd014",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\nfrom datetime import datetime\n\n# --- Determine current date, season, and holiday context ---\nnow = datetime.now()\nmonth = now.month\n\n# Seasonal / holiday context with anime-appropriate themes\nif month in [12, 1]:\n    season = \"Winter ❄️\"\n    theme = random.choice([\"Winter Solstice\", \"New Year\", \"Snowfall\"])\n    lighting = random.choice([\"snowy twilight\", \"winter blue hour\", \"soft snowfall lighting\"])\nelif month in [2, 3]:\n    season = \"Spring 🌸\"\n    theme = random.choice([\"Cherry Blossom\", \"Spring Rain\", \"Renewal\"])\n    lighting = random.choice([\"cherry blossom golden hour\", \"spring morning light\", \"soft pink sunset\"])\nelif month in [4, 5, 6]:\n    season = \"Summer ☀️\"\n    theme = random.choice([\"Rainy Season\", \"Fireworks\", \"Twilight\"])\n    lighting = random.choice([\"summer golden hour\", \"sunset glow\", \"vibrant daylight\"])\nelif month in [7, 8, 9]:\n    season = \"Autumn 🍂\"\n    theme = random.choice([\"Harvest Moon\", \"Autumn Leaves\", \"Evening Breeze\"])\n    lighting = random.choice([\"autumn golden hour\", \"orange sunset\", \"warm afternoon light\"])\nelse:\n    season = \"Late Autumn 🍂\"\n    theme = random.choice([\"Mystic Night\", \"Full Moon\", \"Twilight\"])\n    lighting = random.choice([\"moonlit night\", \"twilight blue\", \"mysterious dusk\"])\n\n# --- Anime-style templates ---\ntemplates = [\n    {\n        \"title_template\": \"{Character} in {Location} | {Mood} Anime Aesthetic {emoji}\",\n        \"characters\": [\"Mysterious Girl\", \"Confident Woman\", \"Melancholic Character\", \"Determined Hero\", \"Lone Wanderer\"],\n        \"locations\": [\"Neon City Streets\", \"Temple Grounds\", \"Rainy Rooftop\", \"Train Platform\", \"Cherry Blossom Path\"],\n        \"moods\": [\"Cinematic\", \"Dramatic\", \"Atmospheric\", \"Melancholic\", \"Epic\"],\n        \"emojis\": [\"🌃\", \"⛩️\", \"🌧️\", \"🚃\", \"🌸\"],\n        \"image_prompt\": \"High-quality anime style, {character} in {location}, {lighting}, studio-quality animation, Demon Slayer level detail, cinematic composition, dramatic atmosphere, detailed anime rendering\"\n    },\n    {\n        \"title_template\": \"{Emotion} Moment | {Setting} Anime Scene {emoji}\",\n        \"emotions\": [\"Contemplative\", \"Defiant\", \"Hopeful\", \"Sorrowful\", \"Determined\"],\n        \"settings\": [\"Urban Night\", \"Mountain Shrine\", \"Rainy Street\", \"Sunset Rooftop\", \"Cyberpunk District\"],\n        \"emojis\": [\"✨\", \"🌅\", \"💫\", \"🌙\", \"⚡\"],\n        \"image_prompt\": \"Cinematic anime style, {emotion} character moment in {setting}, {lighting}, Makoto Shinkai quality, volumetric lighting, detailed background art, film-quality anime\"\n    },\n    {\n        \"title_template\": \"When the {Time} Calls | {Location} Anime {emoji}\",\n        \"times\": [\"Evening Light\", \"Morning Mist\", \"Midnight Hour\", \"Twilight\", \"Dawn\"],\n        \"locations\": [\"City Streets\", \"Forest Path\", \"Rooftop View\", \"River Bridge\", \"Mountain Peak\"],\n        \"emojis\": [\"🌆\", \"🌲\", \"🏙️\", \"🌉\", \"⛰️\"],\n        \"image_prompt\": \"Studio-quality anime, character during {time} at {location}, {lighting}, Ufotable-level animation, atmospheric effects, dramatic cinematography, detailed anime art\"\n    }\n]\n\n# --- Randomize template selection ---\ntemplate = random.choice(templates)\n\n# --- Generate content based on template ---\nif \"characters\" in template and \"locations\" in template:\n    character = random.choice(template[\"characters\"])\n    location = random.choice(template[\"locations\"])\n    mood = random.choice(template[\"moods\"])\n    emoji = random.choice(template[\"emojis\"])\n    title = template[\"title_template\"].format(Character=character, Location=location, Mood=mood, emoji=emoji)\n    title = f\"{title} | {theme} {season}\"\n    image_prompt = template[\"image_prompt\"].format(character=character, location=location, lighting=lighting)\n    text_prompt = f\"Create a {mood.lower()} {theme.lower()}-themed anime scene with {character} in {location} during {lighting}.\"\n\nelif \"emotions\" in template and \"settings\" in template:\n    emotion = random.choice(template[\"emotions\"])\n    setting = random.choice(template[\"settings\"])\n    emoji = random.choice(template[\"emojis\"])\n    title = template[\"title_template\"].format(Emotion=emotion, Setting=setting, emoji=emoji)\n    title = f\"{title} | {theme} {season}\"\n    image_prompt = template[\"image_prompt\"].format(emotion=emotion, setting=setting, lighting=lighting)\n    text_prompt = f\"Create a {theme.lower()}-inspired anime scene showing {emotion.lower()} emotion in {setting} with {lighting}.\"\n\nelse:\n    time = random.choice(template[\"times\"])\n    location = random.choice(template[\"locations\"])\n    emoji = random.choice(template[\"emojis\"])\n    title = template[\"title_template\"].format(Time=time, Location=location, emoji=emoji)\n    title = f\"{title} | {theme} {season}\"\n    image_prompt = template[\"image_prompt\"].format(time=time, location=location, lighting=lighting)\n    text_prompt = f\"Create a {theme.lower()}-themed anime scene during {time} at {location} with {lighting}.\"\n\n# --- Final structured output ---\nprompt = f\"\"\"\nGenerate TWO things:\n\n1. A detailed IMAGE PROMPT for HIGH-QUALITY ANIME image generation (focus on cinematic details, studio-quality animation style, dramatic lighting, atmospheric composition)\n2. A TEXT PROMPT that will be used as the user caption/instruction for the video workflow\n\nBase concept: {title}\n\nReturn ONLY valid JSON in this exact format:\n{{\n  \"ImagePrompt\": \"detailed visual prompt here\",\n  \"TextPrompt\": \"user instruction for video generation here\",\n  \"GeneratedTitle\": \"{title}\"\n}}\n\nMake the ImagePrompt extremely detailed with ANIME style keywords like: \n- Studio-quality animation (Demon Slayer, Makoto Shinkai, Ufotable level)\n- Cinematic anime composition\n- Dramatic lighting: {lighting}\n- Volumetric effects, god rays, lens flares\n- Detailed anime rendering with realistic shading\n- Atmospheric depth and rich colors\n- Film-quality anime cinematography\n\nMake the TextPrompt describe the character's mood, setting, and atmospheric details that should be animated in high-quality anime style.\n\nCRITICAL: This should be CINEMATIC ANIME quality, NOT cute chibi or Pixar style. Think theatrical anime films and high-budget series.\n\"\"\"\n\nreturn {\n    \"chatInput\": prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -64
      ],
      "id": "e8c67567-59c9-4ba5-9a0e-3cb46b5078b4",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "85fb605f-ec28-4175-89bf-8c130aa73015",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nai_output = _input.first().json[\"output\"]\n\njson_match = re.search(r\"```json\\s*(.*?)\\s*```\", ai_output, re.DOTALL)\nif json_match:\n    json_str = json_match.group(1)\nelse:\n    json_match = re.search(r\"\\{.*\\}\", ai_output, re.DOTALL)\n    json_str = json_match.group(0) if json_match else ai_output\n\nparsed = json.loads(json_str)\n\nreturn [{\n    \"json\": {\n        \"imagePrompt\": parsed[\"ImagePrompt\"],\n        \"textPrompt\": parsed[\"TextPrompt\"],\n        \"generatedTitle\": parsed.get(\"GeneratedTitle\", \"Untitled\")\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -64
      ],
      "id": "650244f6-70b8-46f0-97b6-0c1b154019fa",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -64
      ],
      "id": "b821c1d0-ae07-4c7d-8f11-4bac63d16b34",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1we0g8UTGbPhtMv2v9WkuZUN7cVW4ey3j?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        -128
      ],
      "id": "77d4e5e2-c913-48c0-bb5a-490f241f4bf7",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2KupETq4QLi8d9l8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -320,
        448
      ],
      "id": "d2e099d2-c30d-46ed-87e8-2382e43ec7ed",
      "name": "Merge1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -144,
        448
      ],
      "id": "d18fc690-0e1d-41e8-a325-bda4c86b6af3",
      "name": "Limit1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scenes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scene1\": { \"type\": \"string\" },\n        \"scene2\": { \"type\": \"string\" },\n        \"scene3\": { \"type\": \"string\" }\n      },\n      \"required\": [\"scene1\", \"scene2\", \"scene3\"]\n    }\n  },\n  \"required\": [\"scenes\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1504,
        288
      ],
      "id": "385f29f7-5edd-4f4e-926b-390d14638261",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "id": "68d355ab-f7e4-4407-a2af-c1099b5e7710",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Qn2KmHKfcYN7JBvq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "img_link = _input.first().json.webContentLink\n\nreturn {\n  \"img_link\": img_link\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -128
      ],
      "id": "314f077a-6201-4bbf-9756-ddb1f533a157",
      "name": "Code in Python (Beta)4"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        -464
      ],
      "id": "ee3815f8-6f83-4c9c-9d28-317f9c997cc0",
      "name": "Telegram Trigger",
      "webhookId": "5fc2b001-9a7c-4b01-9bb1-2dee51478ad9",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e02677a-b4c5-4e21-b97e-6536d336181b",
              "name": "bot id",
              "value": "8351768336:AAF9RLjBvcUpcYeO_bnIGDGodALvUFCPy3s",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -464
      ],
      "id": "594d7a92-93ad-427f-9fe6-ad270c3ccb1c",
      "name": "Edit Fields - Bot ID 1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -464
      ],
      "id": "03ffb725-9871-44ec-a191-da8551905511",
      "name": "HTTP Request - Image Path",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image is a character or a product. It is only considered both if there are two completely separate images within the same image. If it is both, describe them separately. Describe the appearance details only.\n\nYour output should only include the description, nothing else.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        608,
        -464
      ],
      "id": "bbd4894a-2676-4264-a8a0-7d6f6c9815e9",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video 1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request - Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Final Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Combine": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Bot ID 1": {
      "main": [
        [
          {
            "node": "HTTP Request - Image Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Image Path": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}