Video Automation_For_Story_Driven_Content_For_UGC.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## For Tiktok Upload\n\n[Tiktok For Developers](https://developers.tiktok.com/app/7568099330684225548/pending)\n\n[Client key](\nawueea9a9ibxpnd3)\n\n[Client secret](\nPtNO3aWgbHkCPFClAoSg7ZoEUXH5wE41)\n\n\n## Facebook \nCredentials for fb graph API expires ever 1-2 hrs",
        "height": 336,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        16
      ],
      "typeVersion": 1,
      "id": "5909c0ba-e108-4221-9d33-77815f544c8c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Take note of costs\n\n# * Fal.AI\n# * Railway.com\n# * Kie.ai\n\n\n\n\n# [Spreadsheet](https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=sharing)",
        "height": 528,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -80
      ],
      "typeVersion": 1,
      "id": "f0a8f267-86af-44b5-aea2-bb920664498f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1664,
        992
      ],
      "id": "e786aecc-9d71-45ed-8337-8009a6ef1caa",
      "name": "Telegram Trigger",
      "webhookId": "da5e0ee4-b069-4c99-8d86-363b2419c20a",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e02677a-b4c5-4e21-b97e-6536d336181b",
              "name": "bot id",
              "value": "8351768336:AAF9RLjBvcUpcYeO_bnIGDGodALvUFCPy3s",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        992
      ],
      "id": "d9968714-7ad7-4dde-86f6-f13cba210b09",
      "name": "Edit Fields - Bot ID 1"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        992
      ],
      "id": "f20a99bb-378a-4622-859b-42edf1944209",
      "name": "HTTP Request - Image Path"
    },
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 304,
        "width": 1456,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        912
      ],
      "typeVersion": 1,
      "id": "3152002e-a5cf-4178-aaa2-36a356a23d79",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make one image prompt.\n\nEnsure you use the details of the reference image as accurately as possible for your final output.\n\nUser Instructions:\n{{ $json.output }}\n\nDescription of the reference image:\n{{ $('Analyze image').item.json.content }}",
        "options": {
          "systemMessage": "=Role: You create image prompts.\n\nMain objective: Insert the product (or the item from a reference image) into realistic, everyday situations. These should resemble content captured by regular people or influencers on their phones.\n\nCharacters should always be described as realistic and lifelike.\n\nIf the user gives vague instructions, use this structure: place the (product) into a scene with the (character).\n\nUGC focus: When the user wants authentic, user-generated content, assume casual everyday scenes unless told otherwise.\n\nIf the video takes place in a car, the perspective should be from in front of the character, with the headrest of the seat visible behind their head.\n\nStyle guidelines: All results should feel natural and unstaged, never polished or professional. Specifically:\n\n-Relatable real-world settings\n-Product text must remain untouched and accurate (logos, claims, slogans). Do not invent details or numbers.\n-iPhone snapshot look (basic, amateur quality)\n-Casual poses and unposed expressions\n-Sunlight on the character, skin detail\n\nRULES:\n\nAlways use single quotes ('') never use double quotes (\"\")\n\nYour only output should be the image prompt itself. No other text.\n\nNo need to generate dialogue or video instructions, only still image prompts.\n\nIf the user specifies a different style or setting, follow their direction.\n\nNever use hyphens or dashes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1136,
        1584
      ],
      "id": "201a7a0b-b275-48e2-970e-bb076c7d48bd",
      "name": "AI Agent - Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"image_urls\": [\n    \"https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $('HTTP Request - Image Path').item.json.result.file_path }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        1584
      ],
      "id": "6fc55864-159b-40f7-82de-d65ddfc3fc79",
      "name": "HTTP Request - Create Image 1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        1584
      ],
      "id": "d52e21b6-0d3f-4607-8dbe-21c09c65229c",
      "name": "Wait - 30s",
      "webhookId": "30695efb-5b4a-42f7-ab1c-c61b0cac59f2"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1584
      ],
      "id": "9d75ff64-3a98-4ddb-9043-e58ccbafacad",
      "name": "HTTP Request - Get Image 1"
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 416,
        "width": 1456,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        1472
      ],
      "typeVersion": 1,
      "id": "c2640c5f-8e74-4068-bf5f-9f43621d97e7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scenes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scene 1\": { \"type\": \"string\" },\n        \"scene 2\": { \"type\": \"string\" },\n        \"scene 3\": { \"type\": \"string\" }\n      },\n      \"required\": [\"scene 1\", \"scene 2\", \"scene 3\"]\n    }\n  },\n  \"required\": [\"scenes\"]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        1200
      ],
      "id": "dbb94351-1fcf-48c4-a21e-a6c3fc9a5753",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        992
      ],
      "id": "5f58bd0d-f2dc-49a4-a82d-cfa876115692",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json['output.scenes'] }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"imageUrls\": \"{{ $('HTTP Request - Get Image 1').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        992
      ],
      "id": "c4b707c3-a333-4477-936c-999a5a4ee15e",
      "name": "HTTP Request - Make Video 1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        992
      ],
      "id": "6ad7e498-397e-44e1-9794-7abb9784be12",
      "name": "HTTP Request - Get Video"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 416,
        "width": 1568,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        912
      ],
      "typeVersion": 1,
      "id": "3cb3616c-63d2-4a07-a06c-41d3628d87eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        112,
        1648
      ],
      "id": "0455677a-43be-4170-a71c-5cd69a81bd00",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        1648
      ],
      "id": "6b547c63-b859-4884-b1bd-e8c42fda01e9",
      "name": "HTTP Request - Final Video"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.video.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        1648
      ],
      "id": "47041bd7-04ee-4ac3-a6de-9c18e8e3d0ef",
      "name": "Send a video",
      "webhookId": "67601a6f-71cf-4857-bab1-6d2d79510b08",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Combine Videos",
        "height": 512,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1440
      ],
      "typeVersion": 1,
      "id": "c9e6ca24-a144-4c65-929d-a335f2874329",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 240
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        992
      ],
      "id": "837a615b-b876-41fb-844c-ea6eee4834b8",
      "name": "Wait 4m",
      "webhookId": "97b47dbf-b89f-4d02-a0f8-ef4e35fd2e8b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        1776
      ],
      "id": "84122648-b99c-44b6-9877-4025894d22d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        1200
      ],
      "id": "d2501893-2b6f-44de-9a6e-66f6dcfb1e4e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "product_description = _('Analyze image').item.json.content\nuser_instructions = _('Telegram Trigger').item.json.message.caption\n\nprompt = f\"\"\"\nCreate video prompts for 3 connected scenes.\n\nCRITICAL - EXACT PRODUCT DETAILS FROM REFERENCE IMAGE:\n{product_description}\n\nYOU MUST use these EXACT product details in ALL 3 scenes:\n- Same product color\n- Same packaging design\n- Same brand text\n- Same product type\nDO NOT change or invent ANY product details.\n\nUser's scene instructions:\n{user_instructions}\n\nLANGUAGE REQUIREMENT: All dialogue must be in ENGLISH only.\n\nGenerate 3 progressive scenes with the EXACT SAME product shown in the reference image above.\n\"\"\"\n\nreturn {'chatInput': prompt}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        992
      ],
      "id": "ee21529a-2278-4337-b6b4-c9f9b5931722",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI agent that generates UGC video prompts for a single continuous 15 to 18 second ad split into three 5 to 6 second clips.\n\nCRITICAL: These are THREE CONNECTED MOMENTS in ONE VIDEO, not three separate videos. The character is continuously speaking ENGLISH and moving throughout all scenes.\n\nLANGUAGE REQUIREMENT:\n- ALL dialogue must be in ENGLISH only\n- Character speaks ENGLISH throughout the entire video\n- No other languages allowed\n\nCharacter & Setting Consistency:\n- EXACT SAME 1 character appearance (hair, outfit, accessories) in all 3 scenes\n- EXACT SAME location and background in all 3 scenes\n- EXACT SAME lighting and time of day in all 3 scenes\n\nProduct Consistency (CRITICAL):\n- Use the EXACT product description from the reference image\n- Product color, packaging, brand text must match reference image EXACTLY\n- Do NOT invent or change product colors\n- The product appearance must be IDENTICAL in all 3 scenes\n\nScene Progression (IMPORTANT):\nEach scene is a CONTINUATION of the previous moment, showing natural progression of movement and ENGLISH dialogue.\n\nScene 1 (Hook): Character holds product at waist level and speaks opening line in ENGLISH while looking at camera.\n\nScene 2 (Product): Character continues speaking in ENGLISH WITHOUT greeting again, brings product UP closer to camera to show details, maintaining the same conversational flow.\n\nScene 3 (Call to Action): Character continues speaking in ENGLISH, lowers product slightly and makes CTA gesture (pointing down or thumbs up) while concluding their thought.\n\nDialogue Flow Rules:\n- Scene 1: Opening hook in ENGLISH like 'Okay so I found something amazing'\n- Scene 2: CONTINUES the thought in ENGLISH WITHOUT re-greeting like 'This thing literally' NOT 'Hi again'\n- Scene 3: Concludes naturally in ENGLISH like 'You need to try this'\n- The ENGLISH dialogue flows as if the person never stopped talking\n\nFormat for Each Scene:\n\nStart with: Dialogue in ENGLISH with spoken words in single quotes\n\nThen describe: Character with full details in location with full details holding [EXACT PRODUCT FROM REFERENCE IMAGE WITH CORRECT COLOR AND DETAILS] doing the specific progressive action for THIS moment.\n\nEnd with: Camera and UGC style, character speaking in ENGLISH\n\nCRITICAL INSTRUCTIONS:\n\n1. ALL dialogue MUST be in ENGLISH language only\n2. Product description MUST match the reference image exactly (same color, same packaging, same brand)\n3. In Scene 1: Character holds product at chest or waist level\n4. In Scene 2: Character brings product CLOSER to camera showing movement progression\n5. In Scene 3: Character makes final gesture while holding or lowering product\n6. Copy the SAME character and setting description across all scenes BUT change the action to show natural movement progression\n7. Copy the EXACT SAME product description (color, packaging, brand) across all scenes\n8. DO NOT make character re-introduce themselves or greet again in scene 2 or 3\n9. Each scene should feel like the next second of the same video not a restart\n10. Character speaks ENGLISH in all scenes\n\nExample of CORRECT Progression:\n\nScene 1: Dialogue in ENGLISH: 'You guys I just discovered something incredible.' A woman in her twenties with brown hair in a ponytail wearing a cream sweater sits at a bright kitchen counter, holding an orange bottle of Tree of Life Vitamin C Serum with white cap and orange label at chest level and looking directly at the camera with an excited expression, speaking in English. Camera: casual iPhone selfie video, natural window light, slightly shaky.\n\nScene 2: Dialogue in ENGLISH: 'This vitamin C serum has literally transformed my skin in two weeks.' The same woman with brown hair in a ponytail wearing the same cream sweater at the same bright kitchen counter, now bringing the same orange bottle of Tree of Life Vitamin C Serum with white cap and orange label up closer to the camera to show the dropper and orange liquid, still speaking continuously in English. Camera: closer framing on the product and her hands, maintaining the casual phone footage feel.\n\nScene 3: Dialogue in ENGLISH: 'Seriously you need to grab this, link is right below.' The same woman with brown hair in a ponytail wearing the same cream sweater at the same bright kitchen counter, pointing down with her free hand while holding the same orange bottle of Tree of Life Vitamin C Serum with white cap in the other, giving a warm encouraging smile, speaking in English. Camera: medium shot showing her upper body, casual phone video style.\n\nWRONG Examples - DO NOT DO THIS:\n- Scene 2 greeting again like 'Hey everyone so this serum' is WRONG\n- Scene 2 holding bottle in same position as Scene 1 is WRONG\n- Character speaking in any language other than ENGLISH is WRONG\n- Product color changing between scenes is WRONG\n- Product details not matching reference image is WRONG\n\nTechnical Rules:\n- Keep each scene under 50 words\n- Use single quotes for dialogue never double quotes\n- One continuous paragraph per scene no line breaks\n- Show PROGRESSIVE movement product moves closer then CTA gesture\n- Emphasize that this is ONE continuous take not separate clips in ENGLISH\n- No newlines or special characters in output\n- ALL spoken dialogue must be in ENGLISH language"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        992
      ],
      "id": "be2a5e00-dfb1-4355-8104-41ac8496e376",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nfor item in _input.all():\n    scene = item.json['output.scenes']\n    \n    scene = ' '.join(scene.split())\n    \n    scene = scene.replace('\"', \"'\")\n    \n    item.json['output.scenes'] = scene\n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        992
      ],
      "id": "3a616208-2e56-4203-a1c1-b3b06e247d08",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        1648
      ],
      "id": "9f02a69f-8c29-48bc-b559-030e89f3696e",
      "name": "Wait 60s",
      "webhookId": "b70dc42b-e545-46a1-850f-ac1792a25dd3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\n    \"{{ $input.all()[0].json.video_url }}\",\n    \"{{ $input.all()[1].json.video_url }}\",\n    \"{{ $input.all()[2].json.video_url }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        1648
      ],
      "id": "51426023-ea3e-4b79-888f-15097abdb50e",
      "name": "HTTP Request - Combine"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://just-determination-production-fea7.up.railway.app/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.resultUrls[0][0] }}\",\n  \"start_time\": 0,\n  \"end_time\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1488
      ],
      "id": "23ce441e-d5e3-4d60-a6ca-4281d06d8252",
      "name": "Trim Scene 1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://just-determination-production-fea7.up.railway.app/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.resultUrls[0][1] }}\",\n  \"start_time\": 0,\n  \"end_time\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1648
      ],
      "id": "681f0ba2-905f-4c59-a7bb-9a6c1e97d226",
      "name": "Trim Scene 2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://just-determination-production-fea7.up.railway.app/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.resultUrls[0][2] }}\",\n  \"start_time\": 0,\n  \"end_time\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1824
      ],
      "id": "e8903e4f-01be-4f03-abab-c03b3c923110",
      "name": "Trim Scene 3",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        1632
      ],
      "id": "c0577586-33de-4b2b-a53d-e1676fffb380",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Image Description: {{ $json.content }}\n\nCaption: {{ $('Telegram Trigger').item.json.message.caption }}\n\n",
        "options": {
          "systemMessage": "You create simple scene descriptions for UGC video generation.\n\nINPUT:\n- Image Description (contains product details)\n- User Caption (contains scene instructions)\n\nOUTPUT FORMAT:\nProduct: [COMPLETE description with ALL visual details from image]\nCharacter: [simple description]\nSetting: [minimal description]\nAudio & Voice: [one of three templates only]\n\nRULES:\n\n1. PRODUCT (CRITICAL - NO LENGTH LIMIT):\n   \n   Extract and include EVERY visual detail from the image description:\n   - Exact brand name and spelling\n   - Product type\n   - ALL colors mentioned (packaging, labels, text, backgrounds)\n   - Logo details (shape, position, colors)\n   - Text placement (what's at top, center, bottom)\n   - Background patterns or designs\n   - Any distinctive visual elements\n   \n   DO NOT summarize. DO NOT simplify. Include EVERYTHING.\n   \n   BAD: \"Walkers Bugles pepper snacks\"\n   GOOD: \"Walkers Bugles pepper snacks packet, brown color theme, red oval with yellow swoosh containing 'WALKERS' text at top center, large white 'BUGLES' text below, smaller white 'pepper' text underneath, pinkish-red and brown background pattern with snack image, blue rectangular section at top left\"\n\n2. CHARACTER: Keep under 15 words. Age, clothing, one expression.\n   Example: \"Energetic girl, 18-20, brown ponytail, excited smile, holding product\"\n\n3. SETTING: Keep under 10 words. Location and lighting only.\n   Example: \"Clean, softly lit background, simple pastel colors\"\n\n4. AUDIO: Use EXACTLY one of these (copy/paste, no changes):\n   \n   ENERGETIC:\n   \"Bright, enthusiastic voice with natural conversational energy. Background: light ambient room sounds, optional soft upbeat music.\"\n   \n   CALM:\n   \"Warm, calm, and inviting voice. Soothing, conversational tone. Background: gentle ambient sounds, optional soft instrumental music.\"\n   \n   FRIENDLY:\n   \"Light, friendly, and cheerful voice with natural speaking pace. Background: soft ambient room noise, optional light background music.\"\n\n5. EXTRACTION PRIORITY:\n   - Read the ENTIRE image description carefully\n   - Extract EVERY color mentioned\n   - Extract EVERY text detail\n   - Extract EVERY visual element\n   - Preserve exact spelling and capitalization\n   - Maintain order of elements (top to bottom)\n\n6. LENGTH: \n   - Product: ANY length needed (30-60 words typical)\n   - Character: Under 15 words\n   - Setting: Under 10 words\n   - Audio: Exact template (no changes)\n\nOUTPUT: Plain text, no markdown, no extra commentary.\n\nCRITICAL: The product description determines video accuracy. Include EVERYTHING from the image description."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1472,
        1584
      ],
      "id": "6f8d956d-ce27-4b53-8ba6-9d90d6937aaa",
      "name": "Improve User Prompt"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1472,
        1760
      ],
      "id": "4b4ff09f-a2ea-4770-b517-f9a146c7edb9",
      "name": "Improve User Prompt Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=🔍 Product Analysis\n\n{{ $json.content }}\n\n\nPlease confirm:\n\n✅ APPROVE - Continue to video generation\n🔄 RETRY - Re-analyze image\n❌ CANCEL - Stop workflow",
        "responseType": "freeText",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        992
      ],
      "id": "9d02e621-0634-4a25-9b3b-8a332edab890",
      "name": "Send message and wait for response",
      "webhookId": "41253cdf-bb6e-499d-ba9e-4795f1b3d850",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9acb8a4c-b46e-4a56-bfd5-5bb08cb2a7f2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "=APPROVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3e08cd5-c721-44a5-90b6-5ae404911430"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d94079d2-acbf-4f5c-96a3-15699485244a",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec015a16-eb72-48b6-a55c-47f63e082c41",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CANCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        960
      ],
      "id": "c5ea1c16-791c-4f67-9b35-75e29fd667af",
      "name": "Switch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $input.first().json.data.text\n\n// Clean and normalize\nconst cleaned = userMessage.trim().toUpperCase();\n\n// Determine action\nlet action = '';\n\nif (cleaned === 'APPROVE' || cleaned === 'YES' || cleaned === 'Y') {\n  action = 'APPROVE';\n} else if (cleaned === 'RETRY' || cleaned === 'AGAIN') {\n  action = 'RETRY';\n} else if (cleaned === 'CANCEL' || cleaned === 'NO' || cleaned === 'N' || cleaned === 'STOP') {\n  action = 'CANCEL';\n} else {\n  action = 'INVALID';\n}\n\nreturn {\n  json: {\n    action: action,\n    original_message: userMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        992
      ],
      "id": "c966f2dc-2f4d-4825-b2a4-0ea3c2490c3e",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1424,
        1280
      ],
      "id": "1076758c-4138-4e51-a054-d4be32e04930",
      "name": "Cancelled"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Process Cancelled",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1584,
        1280
      ],
      "id": "92407add-0d7b-4fd3-b877-1d71fb967a4a",
      "name": "Send a text message",
      "webhookId": "dea845ca-0593-4115-b1d9-2857d511b00a",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow Cancelled",
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        1232
      ],
      "typeVersion": 1,
      "id": "9ad45a56-842e-4dd7-b8bc-b23f9094754d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🟢 Your request is being processed…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        1584
      ],
      "id": "cce2e3e6-e3dc-4c90-9023-53712906056b",
      "name": "Send a text message1",
      "webhookId": "d66602b0-8163-486a-acfe-50b8b7ebd51c",
      "credentials": {
        "telegramApi": {
          "id": "k7m8mevEdyBrdj98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Perform a full detailed analysis of the image. Describe every visible object, pattern, color, and element. Extract ALL visible text exactly as shown (case-sensitive), including partial or obscured text. For each detail and text, specify its location and relevance in the image.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $('Edit Fields - Bot ID 1').item.json['bot id'] }}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1040,
        992
      ],
      "id": "36f40f72-e4d4-4e14-87a4-478a25a5caad",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Vwg2FlhVu2bY7dZ6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Use Deepbrain Tool For Better, Accurate Custom avatar\n",
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        736
      ],
      "typeVersion": 1,
      "id": "c7169d94-b07e-4890-9580-3ec3a2d48cf9",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Bot ID 1": {
      "main": [
        [
          {
            "node": "HTTP Request - Image Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Image Path": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 30s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video 1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Trim Scene 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trim Scene 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trim Scene 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Final Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "HTTP Request - Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Combine": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Scene 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Scene 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trim Scene 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request - Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improve User Prompt": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improve User Prompt Model": {
      "ai_languageModel": [
        [
          {
            "node": "Improve User Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields - Bot ID 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Improve User Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
