Video Automation For Scenery | Long_Form.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Content Idea",
        "height": 448,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        848
      ],
      "typeVersion": 1,
      "id": "f83d1ecc-98d0-4151-86d6-d5a964e5e467",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nYou create high quality cinematic photorealistic rain tent camping scenery prompts.\nYour objective is to transform the reference image into a short, accurate, visually rich, realistic environment prompt with static camera and rain effects.\n\nArt Style Guidelines:\n\nPhotorealistic rain tent camping scenery\nReal world textures, natural wet lighting, atmospheric rain depth\nCinematic environment quality film grade\nNo stylization unless present in the reference image\nRich environmental detail with tent, wet ground, puddles, rain streaks, reflections\nStrong sense of rainy camping mood and atmosphere\n\nCamera Requirements:\n\nCRITICAL: Camera must be completely static, locked, and fixed in position\nNever describe camera movement, panning, tilting, zooming, or tracking\nAlways use terms like 'static', 'fixed', 'locked', 'stationary', 'steady frame'\nOnly rain, water droplets, and environmental elements should move\n\nScene Requirements:\n\nPure rain tent camping environment only\nNo people, no characters, no animals, no silhouettes\nNo imaginary creatures, no cartoon elements\nDescribe what exists in rainy camping scenes\nFocus on rain weather, wet textures, lighting, composition, natural elements\nRain must be visible with streaks, puddles, wet surfaces\n\nRules:\n\nAlways use single quotes\nOutput only one concise image prompt\nMake it short, direct, cinematic, realistic\nUse only details visible in the reference image\nNo added characters or lifeforms\nNo narrative, no story, no filler\nNo hyphens or dashes\nAlways include environmental lighting\nAlways describe the scene like a film still with static camera\nNever use cartoon, anime, or animated terminology\nWeather must describe rain, wet conditions, puddles, reflections\n\nPrompt Structure:\n\nAlways produce one short photorealistic scenery prompt in this format:\n\n'brief cinematic photorealistic description of rain tent camping scenery using reference image details with static locked camera heavy rainfall wet surfaces puddles rain streaks including lighting weather mood environment and textures'",
        "options": {
          "systemMessage": "=Role:\nYou create high quality cinematic photorealistic scenery prompts.\nYour objective is to transform the reference image into a short, accurate, visually rich, realistic environment prompt never characters and never fictional additions.\n\nArt Style Guidelines:\n\nPhotorealistic scenery\nReal world textures, natural lighting, atmospheric depth\nCinematic environment quality film grade\nNo stylization unless present in the reference image\nRich environmental detail with terrain, sky, weather, light, color, materials\nStrong sense of mood and atmosphere with fog, heavy snow, whiteout flakes, dense blizzard conditions\n\nScene Requirements:\n\nPure environment only\nNo people, no characters, no animals, no silhouettes\nNo imaginary creatures, no cartoon elements\nDescribe what exists or what logically supports the scenery\nNever invent structures not present\nFocus on weather, lighting, texture, composition, natural elements, architecture\nSnow must be extremely dense and falling heavily, near whiteout, thick visibility loss\n\nRules:\n\nAlways use single quotes\nOutput only one concise image prompt\nMake it short, direct, cinematic, realistic\nUse only details visible in the reference image\nNo added characters or lifeforms\nNo narrative, no story, no filler\nNo hyphens or dashes\nAlways include environmental lighting\nAlways describe the scene like a film still\nNever use cartoon, anime, or animated terminology\nWeather must describe heavy dense snowfall or whiteout conditions when present\n\nPrompt Structure:\n\nAlways produce one short photorealistic scenery prompt in this format:\n\n'brief cinematic photorealistic description of the scenery using only reference image details with extremely heavy snowfall and whiteout atmosphere including lighting weather mood environment and textures'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1520
      ],
      "id": "8e94987f-c83f-4107-826d-b7fe201b27c8",
      "name": "AI Agent - Image Prompt",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"={{ $('AI Agent - Image Prompt').item.json.output }}\",\n  \"image_urls\": [\n    \"{{ $node['Code in Python (Beta)4'].json.img_link }}\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        1520
      ],
      "id": "81652470-4c6c-4689-9b07-dc6e3fec0ec6",
      "name": "HTTP Request - Create Image 1",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key d843d270-9c37-4833-bab7-79b367f9c579:708fd98d6dacdc23103c80d4fc34d5e2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        1520
      ],
      "id": "180b805b-4e63-494d-b773-e18506f58cb4",
      "name": "HTTP Request - Get Image 1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Image Creation",
        "height": 368,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        1424
      ],
      "typeVersion": 1,
      "id": "32830538-3a4c-493c-bfa7-e4db1ba3fc5c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create video prompts.\n\nUser instructions:\n{{ $('Code in Python (Beta)3').item.json.textPrompt }}\n\nDescription of the reference image(s).\n{{ $('Analyze image1').item.json.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent that generates high-quality photorealistic scenery prompts for rain tent camping scenes. The prompt must describe purely realistic outdoor environments with tents during rainfall. Do not include characters, humans, or animals. Focus on camping locations, rain weather effects, atmospheric elements, lighting, wet textures, and realistic composition. Show the tent and rainy environment immediately. Include natural outdoor elements such as forests, clearings, riversides, grassy fields, wet ground, puddles, foliage, trees, and branches. Include dynamic environmental details such as falling rain streaks, water droplets on tent fabric, reflective puddles, rain motion blur, rippling water, wet leaves, and atmospheric rain effects. Describe lighting such as overcast daylight, soft diffused light, cloudy sky ambiance, cool bluish tones, or natural wet reflections, as appropriate for rainy scenes. Convey a cinematic, immersive, peaceful, cozy, or serene rainy camping mood. Use realistic color palettes reflecting natural rainy weather lighting and wet environments. The camera must remain completely static and locked in position with a fixed steady frame. Include camera perspective such as static ground level front angle, fixed slightly elevated side view, locked wide angle showing tent and surroundings, or stationary low angle with rain in foreground. The camera should never move, pan, tilt, zoom, or track. Only environmental elements like rain, water, and leaves should be in motion. Describe all visible environmental elements in detail including tent fabric texture, wet ground, puddles, surrounding vegetation, rain streaks, reflections on water surfaces, and natural textures. Include lighting, shadows, reflections, and atmospheric rain effects. Avoid narrative, text, quotes, or story elements. Make the scene visually rich, realistic, and immersive. Focus on true-to-life outdoor rainy camping appearance with visible rain, wet surfaces, and natural environment. Use single quotes only and do not include hyphens or dashes. Always emphasize static camera, fixed frame, locked position, steady shot, and no camera movement. Keywords you may include are 'photorealistic rain tent', 'wet camping scene', 'realistic rain textures', 'natural outdoor environment', 'immersive rainy atmosphere', 'true-to-life weather effects', 'static camera', 'fixed frame', and 'locked steady shot'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        944
      ],
      "id": "bcb909db-3d17-4b87-b23f-2304ce9c59ff",
      "name": "AI Agent - Video Prompter",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Create Video ",
        "height": 448,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        848
      ],
      "typeVersion": 1,
      "id": "0925015e-9057-488c-8148-815dfac68734",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "6472037679",
        "file": "={{ $json.data.response.resultUrls[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        944
      ],
      "id": "799133cd-000c-4538-be86-ab45a8a1cdad",
      "name": "Send a video",
      "webhookId": "1fcf03dc-ad0f-4839-afb1-35e932b5d70d",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "={{ $now.plus({ hours: 8 }).format('MMM DD, YYYY_HH-mm-ss') }} UTC+8",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ",
          "mode": "list",
          "cachedResultName": "Generated Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-qzP9pteGVUxZrnaLAxjRo_Nf9pch7LJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        1456
      ],
      "id": "96e90228-a10c-435c-9554-7256f092f4f4",
      "name": "Upload file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request - Get Video').item.json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        1552
      ],
      "id": "eaf0ba13-5ffc-4c18-8b85-47b6beda5ec9",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1552
      ],
      "id": "fdf2de85-acd0-4845-b535-392bee447f4c",
      "name": "Analyze video",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\nimport random\n# Get real current date and time\nnow = datetime.now()\ndate_str = now.strftime(\"%m/%d/%Y\")\ntime_str = now.strftime(\"%H:%M\")\n# Define some dynamic hooks and actions\nhook_phrases = [\n    \"When {character} {action}!\",\n    \"You won't believe what {character} does!\",\n    \"Watch {character} {action} in pastel magic!\",\n    \"I can't believe {character} just {action}!\",\n    \"{character} {action} and it's adorable!\"\n]\nactions = [\n    \"dances in the candy clouds\",\n    \"discovers a rainbow waterfall\",\n    \"giggles while floating on lanterns\",\n    \"throws a sparkly magic spell\",\n    \"plays hide-and-seek in the pastel garden\",\n    \"slides down a fluffy cloud slide\",\n    \"spins under the twinkling stars\",\n    \"sings with magical sparkles around\",\n    \"jumps between floating petals\"\n]\n# Example character (you can replace with your generated character)\ncharacter = random.choice([\n    \"Cheerful Girl in Pink\", \n    \"Tiny Mermaid Girl\", \n    \"Adorable Elf Girl\", \n    \"Joyful Princess\", \n    \"Cute Wizard Girl\", \n    \"Playful School Girl\"\n])\naction = random.choice(actions)\ntitle = random.choice(hook_phrases).format(character=character, action=action)\n# Build the prompt for AI node\nPrompt = f\"\"\"\nVideo Analysis Result:\n{_input.first().json.content.parts[0].text}\nBased on this, generate a structured JSON output for Google Sheets with the following fields:\n- \"Date\" (MM/DD/YYYY)\n- \"Time\" (HH:MM)\n- \"YouTubeTitle\" (catchy, FOMO-style, MUST be under 90 characters)\n- \"YouTubeTitle2\" (DIFFERENT catchy title, under 90 characters, use a different hook/angle than YouTubeTitle)\n- \"YouTubeDescription\" (engaging, includes CTA like 'watch till the end' or 'subscribe for more')\n- \"YouTubeDescription2\" (DIFFERENT description with different CTA and angle than YouTubeDescription)\n- \"TikTokDescription\" (short, punchy, instant hook)\n- \"FacebookReelDescription\" (attention-grabbing, shareable, engaging)\n- \"InstagramDescription\" (short, emoji-rich, interaction-focused)\n- \"AdditionalNotes\" (hashtags, trends, posting tips)\nSTRICT RULES:\n1. Both \"YouTubeTitle\" and \"YouTubeTitle2\" MUST NOT exceed 90 characters.\n2. YouTubeTitle and YouTubeTitle2 MUST be COMPLETELY DIFFERENT - use different hooks, emotions, or angles.\n3. YouTubeDescription and YouTubeDescription2 MUST be COMPLETELY DIFFERENT - vary the CTAs and storytelling.\n4. The \"Date\" and \"Time\" should be accurate based on the current date and time provided below:\n   - CurrentDate: {date_str}\n   - CurrentTime: {time_str}\n5. The output MUST be valid JSON, properly escaped.\nExample structure:\n{{\n  \"Date\": \"{date_str}\",\n  \"Time\": \"{time_str}\",\n  \"YouTubeTitle\": \"{title}\",\n  \"YouTubeTitle2\": \"...\",\n  \"YouTubeDescription\": \"...\",\n  \"YouTubeDescription2\": \"...\",\n  \"TikTokDescription\": \"...\",\n  \"FacebookReelDescription\": \"...\",\n  \"InstagramDescription\": \"...\",\n  \"AdditionalNotes\": \"...\"\n}}\nCRITICAL: YouTubeTitle and YouTubeTitle2 must be DISTINCT. YouTubeDescription and YouTubeDescription2 must be DISTINCT. Do NOT repeat the same content.\nGenerate irresistible, high-CTR titles and descriptions that make viewers feel they CAN'T miss the video.\n\"\"\"\nreturn {\n    \"chatInput\": Prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1552
      ],
      "id": "ab581b3f-948a-49cc-b544-6cfc52ae1111",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        1552
      ],
      "id": "8de9c8e6-eb98-4631-811e-702eea474705",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nmodel_output = _input.first().json[\"output\"]\n\njson_match = re.search(r\"```json\\s*(\\{.*\\})\\s*```\", model_output, re.DOTALL)\nif not json_match:\n    json_match = re.search(r\"```(.*?)```\", model_output, re.DOTALL)\n\nif not json_match:\n    raise ValueError(\"No JSON found in the AI output!\")\n\njson_str = json_match.group(1)\n\nparsed_data = json.loads(json_str)\n\nreturn {\"json\": parsed_data}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1600
      ],
      "id": "b2b86ec7-f2c6-45af-93a6-9fc99d8fb463",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "content": "## Analyze Video | Create Descriptions",
        "height": 432,
        "width": 1696,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        1424
      ],
      "typeVersion": 1,
      "id": "e5066892-8add-4c27-83de-a3fa9bd63f55",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        1552
      ],
      "id": "3c9cd1f1-8345-4cf3-a77a-d2cab5968248",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        1552
      ],
      "id": "5fffdd74-e511-4f69-b6ff-97c32f6e95b4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Upload Videos",
        "height": 480,
        "width": 2048,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        816
      ],
      "typeVersion": 1,
      "id": "c07513dd-63b0-4c40-b9ee-4d10d57e3bbf",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $json['Video Url Download'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        960
      ],
      "id": "406d6f97-9da3-408a-9148-e97063527def",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.data[1].Date }}",
            "TikTok Description": "={{ $json.data[1].TikTokDescription }}",
            "Facebook Reel Description": "={{ $json.data[1].FacebookReelDescription }}",
            "Instagram Description": "={{ $json.data[1].InstagramDescription }}",
            "Additional Notes": "={{ $json.data[1].AdditionalNotes }}",
            "Video Url View": "={{ $('Upload file').item.json.webViewLink }}",
            "Video Url Download": "={{ $('Upload file').item.json.webContentLink }}",
            "Time ": "={{ $json.data[1].Time }}",
            "AlgoNova Youtube Title": "={{ $json.data[1].YouTubeTitle }}",
            "EchoNova Youtube Title": "={{ $json.data[1].YouTubeTitle2 }}",
            "AlgoNova YouTube Description": "={{ $json.data[1].YouTubeDescription }}",
            "EchoNova YouTube Description": "={{ $json.data[1].YouTubeDescription2 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova Youtube Title",
              "displayName": "AlgoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova Youtube Title",
              "displayName": "EchoNova Youtube Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AlgoNova YouTube Description",
              "displayName": "AlgoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EchoNova YouTube Description",
              "displayName": "EchoNova YouTube Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TikTok Description",
              "displayName": "TikTok Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Reel Description",
              "displayName": "Facebook Reel Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Description",
              "displayName": "Instagram Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Url View",
              "displayName": "Video Url View",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Url Download",
              "displayName": "Video Url Download",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        1552
      ],
      "id": "8b14ebff-f960-4d2d-9e37-2c6d92114bce",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5Go3qYtYJt4fClc",
          "name": "Google Sheets account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4",
          "mode": "list",
          "cachedResultName": "Generated Videos to Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        960
      ],
      "id": "754f41dc-8f92-4270-a700-4846fddcb875",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5Go3qYtYJt4fClc",
          "name": "Google Sheets account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1536,
        960
      ],
      "id": "3f038872-e3bb-428f-8f63-aeb546351db6",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        960
      ],
      "id": "73db96ba-e6b0-44c4-a034-4f778fde1f5a",
      "name": "Wait",
      "webhookId": "7762396d-b7cf-4d31-a968-5e38376aa9de"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Determine if the image contains a landscape/scenery, a product, or a character.\nIf the image contains more than one completely separate subject (for example, a product AND a scenery, or two distinct images inside one image), describe each separately.\nOnly describe what is visually present.\nDo NOT add characters, people, animals, figures, silhouettes, or anything not actually in the image.\nYour output must ONLY include the appearance description — nothing else.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        1088
      ],
      "id": "95dcf195-b915-4ca8-a0f7-1f2b5092f374",
      "name": "Analyze image1",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1888,
        1072
      ],
      "id": "204dcbc3-adc2-45f6-b564-413f01966fb5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\n\ndef escape_quotes(s):\n    return s.replace('\"', '\\\\\"')\n\n# --- Constraint-based entropy (NO GREEN BIAS) ---\nenvironment_hint = random.choice([\n    \"The environment appears utilitarian and minimally vegetated.\",\n    \"The setting contains no grass, trees, or visible vegetation.\",\n    \"The surroundings are primarily composed of dirt, gravel, or bare ground.\",\n    \"The area looks cleared and functional rather than natural or lush.\"\n])\n\nsurface_hint = random.choice([\n    \"Ground surfaces consist of wet dirt, gravel, or compacted soil.\",\n    \"The ground appears muddy with small stones and uneven texture.\",\n    \"Water collects on bare ground without any plant growth.\",\n    \"Surfaces appear worn, exposed, and free of vegetation.\"\n])\n\ncamera_context = random.choice([\n    \"The framing feels incidental, as if the camera was left running.\",\n    \"The shot looks practical and unplanned.\",\n    \"The camera position appears chosen for convenience, not composition.\"\n])\n\nprecipitation_type = random.choice([\n    \"steady rainfall\",\n    \"continuous rain\",\n    \"heavy rain falling straight down\",\n])\n\nlighting_condition = random.choice([\n    \"flat natural lighting from a fully overcast sky\",\n    \"uniform gray daylight with no strong shadows\",\n    \"soft, even outdoor lighting caused by thick cloud cover\",\n])\n\ntitle_variants = [\n    \"Rain Recorded by a Fixed Camera\",\n    \"Outdoor Rain Scene\",\n    \"Rain Falling on Bare Ground\",\n    \"Static Camera During Rain\",\n]\n\ngenerated_title = random.choice(title_variants)\n\n# --- Text Prompt (REALITY-LOCKED) ---\ntext_prompt = (\n    \"Photorealistic outdoor scene recorded by a fixed tripod camera with absolutely no movement. \"\n    \"The camera remains completely still. \"\n    f\"The scene shows {precipitation_type}. \"\n    f\"{environment_hint} \"\n    f\"{surface_hint} \"\n    f\"{camera_context} \"\n    f\"Lighting is {lighting_condition}. \"\n    \"Rain falls vertically with no visible wind. \"\n    \"Surfaces appear realistically wet with subtle reflections. \"\n    \"Nothing in the scene changes over time except the falling rain. \"\n    \"No grass, no trees, no bushes, no plants, no vegetation of any kind. \"\n    \"No people, no animals, no vehicles, no stylized or cinematic effects.\"\n)\n\n# --- Image Prompt (SHORT & STRICT) ---\nimage_prompt = (\n    f\"Photorealistic outdoor scene with {precipitation_type}. \"\n    \"Fixed tripod camera, no movement. \"\n    f\"{lighting_condition}. \"\n    \"Wet dirt or gravel ground, realistic rain streaks. \"\n    \"No grass, no trees, no vegetation. \"\n    \"Documentary-style realism.\"\n)\n\n# --- Escape ---\ngenerated_title_escaped = escape_quotes(generated_title)\ntext_prompt_escaped = escape_quotes(text_prompt)\nimage_prompt_escaped = escape_quotes(image_prompt)\n\n# --- n8n RETURN ---\nreturn {\n    \"chatInput\": f\"\"\"\nEnsure to return the output in this EXACT FORMAT:\n{{\n'imagePrompt':'{image_prompt_escaped}',\n'textPrompt':'{text_prompt_escaped}',\n'generatedTitle':'{generated_title_escaped}'\n}}\n\"\"\"\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        992
      ],
      "id": "fc21730c-ca3b-4c7b-a311-60e1bfdb9fb2",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nai_output = _input.first().json.get(\"output\", \"\")\n\n# Extract JSON block\njson_match = re.search(r\"\\{.*\\}\", ai_output, re.DOTALL)\nif not json_match:\n    raise ValueError(\"No JSON found in AI output.\")\njson_str = json_match.group(0)\n\n# Replace single quotes with double quotes (for keys and string values)\njson_str = re.sub(r\"(?<!\\\\)'\", '\"', json_str)\n\n# Remove trailing commas\njson_str = re.sub(r\",(\\s*})\", r\"\\1\", json_str)\njson_str = re.sub(r\",(\\s*\\])\", r\"\\1\", json_str)\n\n# Fallback: sanitize backslashes in strings\ndef sanitize_json_string(s):\n    # Escape unescaped backslashes\n    s = re.sub(r'\\\\(?![\"\\\\/bfnrtu])', r'\\\\\\\\', s)\n    return s\n\njson_str = sanitize_json_string(json_str)\n\n# Attempt to parse JSON\ntry:\n    parsed = json.loads(json_str)\nexcept json.JSONDecodeError as e:\n    # As a last resort: remove problematic backslashes entirely\n    json_str_clean = json_str.replace(\"\\\\\", \"\")\n    try:\n        parsed = json.loads(json_str_clean)\n    except Exception as e2:\n        raise ValueError(f\"Failed to parse JSON even after fallback: {e2}\\nContent: {json_str}\")\n\n# Return clean output\nreturn [{\n    \"json\": {\n        \"imagePrompt\": parsed.get(\"imagePrompt\", \"\"),\n        \"textPrompt\": parsed.get(\"textPrompt\", \"\"),\n        \"generatedTitle\": parsed.get(\"generatedTitle\", \"Untitled\")\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        992
      ],
      "id": "479c684b-8a4e-4c98-b2fe-5432a8aea524",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI that generates photorealistic outdoor rain tent scenes. \nThe camera must always be completely static and locked. \nOnly environmental elements like rain and water move. \nDo not include people, animals, or fantasy. \nFocus on realistic outdoor textures and wet surfaces. \nDo not specify exact trees, streams, or forest features. \nUse single quotes only. \nInclude terms like 'static camera', 'locked position', 'fixed frame'.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1440,
        992
      ],
      "id": "9f815048-b80f-4f6f-ae62-60ead6059951",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -816,
        912
      ],
      "id": "8fb34799-7366-4659-bfea-bf94f2a3461f",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1936,
        1520
      ],
      "id": "273a97b4-da17-4f89-9913-a84c6c483c45",
      "name": "Merge1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1760,
        1520
      ],
      "id": "8b6b0e73-a51c-4372-bc45-fe22a7f63597",
      "name": "Limit1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"scene\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"scene\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        1136
      ],
      "id": "07e9a92b-2751-4382-a1bb-f1ca9ddb4d76",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "img_link = _input.first().json.webContentLink\n\nreturn {\n  \"img_link\": img_link\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        864
      ],
      "id": "8908c5b2-e705-4b4d-8bf2-f626e1610733",
      "name": "Code in Python (Beta)4"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        944
      ],
      "id": "27e44801-1d57-4dfb-9d9a-6a6abe0c4ccd",
      "name": "HTTP Request - Get Video",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9db206739109671db64f1a06c8eb8b03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.scene }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"imageUrls\": \"{{ $('HTTP Request - Get Image 1').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        944
      ],
      "id": "6938e473-0315-45b2-8b09-d2155e5c1471",
      "name": "HTTP Request - Make Video1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## For Tiktok Upload\n\n[Tiktok For Developers](https://developers.tiktok.com/app/7568099330684225548/pending)\n\n[Client key](\nawueea9a9ibxpnd3)\n\n[Client secret](\nPtNO3aWgbHkCPFClAoSg7ZoEUXH5wE41)\n\n\n## Facebook \nCredentials for fb graph API expires ever 1-2 hrs",
        "height": 336,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        128
      ],
      "typeVersion": 1,
      "id": "3f0d57a6-c306-45f8-bdf4-d1659d91b918",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Take note of costs\n\n# * Fal.AI\n# * Railway.com\n# * Kie.ai\n\n\n\n\n# [Spreadsheet](https://docs.google.com/spreadsheets/d/1GewppwnQ5aItwjddVOKrUkONutNN7PB0Oy5peflujf4/edit?usp=sharing)",
        "height": 528,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        16
      ],
      "typeVersion": 1,
      "id": "5f48de09-1560-4e3e-adbf-f0f9b95c99f5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Facebook Post",
        "height": 240,
        "width": 246,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        896
      ],
      "typeVersion": 1,
      "id": "6141678c-9c84-424a-9e93-5fb9c2928298",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Youtube Post - AlgoNova [Link](https://www.youtube.com/@algonovalabs)",
        "height": 224,
        "width": 486,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        896
      ],
      "typeVersion": 1,
      "id": "ad154bd7-bbb1-4ead-b043-29ff2c73c602",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Tiktok Post",
        "height": 240,
        "width": 262,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        896
      ],
      "typeVersion": 1,
      "id": "fb8edfd7-a6ea-4571-be24-d7686e27c156",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Instagram Post",
        "height": 224,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        896
      ],
      "typeVersion": 1,
      "id": "ffcfd923-5fe6-4ed8-9c33-c6c53364cc04",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3184,
        960
      ],
      "id": "143a9d73-4783-43da-85d9-4ac6c60f3bd2",
      "name": "Instagram Post",
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=61582619558041",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json[\"Facebook Post\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2896,
        960
      ],
      "id": "7e90a575-659a-4baf-94b6-1e239aee1e8e",
      "name": "Facebook Post",
      "disabled": true,
      "notes": "702571242870419 (FB Page ID)\nEdge: feed (To post)\nEdge: photos (To post with Image) "
    },
    {
      "parameters": {
        "url": "https://example.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        960
      ],
      "id": "165980cc-f966-4388-b921-3f662316c92b",
      "name": "Tiktok Post",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $('Code in Python (Beta)3').item.json.generatedTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1D-7GLLCIt7geHkwZH4iklYqYKkpnVBEY",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        944
      ],
      "id": "8b7b2314-be7b-4cf9-b95c-9fd3c584b675",
      "name": "Upload file2",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ArIUQPOkqI84L2K6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1520
      ],
      "id": "ad9fa694-dc8b-4c3d-9149-ea6c45e59223",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[UPLOAD CONFIRMED]\nStatus: AUTOMATED PERFECTION\nThe Echonova Engine never sleeps.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2352,
        960
      ],
      "id": "61cd14a0-5f4b-41b7-b0e8-bf881807c088",
      "name": "Send a text message",
      "webhookId": "32170839-080c-44b0-92fb-b7b404fc1632",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PL3S1q3_3y1Qsv-JtGJakVKjP7OiTeYKH3",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2176,
        960
      ],
      "id": "c14cd474-3aeb-4be0-9817-d735dbfd5004",
      "name": "Add a playlist item",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ls0zawE8FI2uctox",
          "name": "YouTube account | LettersNeverSent"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        912
      ],
      "id": "0c41c360-29f8-4903-9291-7cf399fcf96e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1568,
        1696
      ],
      "id": "db0e279e-a6dc-4c5e-9118-551afa2bc4d1",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -960,
        992
      ],
      "id": "acfc33da-88b4-4d39-8cca-4d98a5367464",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        1792
      ],
      "id": "f2a3abba-9b71-4ded-94b6-99e91d79757d",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        1184
      ],
      "id": "e6451467-4e8f-4fbc-a400-7a411215b1aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        1168
      ],
      "id": "34b9bef1-b127-4ca2-a0e3-e85affcbceda",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "tAI89OLMq06uUcQE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Limit').first().json['AlgoNova Youtube Title'] }}",
        "regionCode": "PH",
        "categoryId": "1",
        "binaryProperty": "=data",
        "options": {
          "description": "={{ $('Limit').first().json['EchoNova YouTube Description'] }}",
          "embeddable": true,
          "selfDeclaredMadeForKids": false,
          "tags": "anime shorts, cinematic anime, anime aesthetic, studio quality animation, demon slayer style, makoto shinkai, anime edit, atmospheric anime, viral anime shorts, anime vibes"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2000,
        960
      ],
      "id": "b090a2dc-b57b-4c0f-9291-d1ca26ce072f",
      "name": "Echonova Labs Upload",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "buXpxt448yigQv78",
          "name": "YouTube account | AlgoNova"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1024,
        1520
      ],
      "id": "1fa97abd-b4ed-4ab8-9201-c1018d18fbcd",
      "name": "Wait - 60s",
      "webhookId": "e3bed0b6-fffe-46a3-bbbe-6451f28480da"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        944
      ],
      "id": "30fbd4a0-4fc9-4052-bc30-f144f625fe1b",
      "name": "Wait 4m",
      "webhookId": "13c932ca-4dc7-4551-8261-73b4e17538c5"
    }
  ],
  "connections": {
    "AI Agent - Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image 1": {
      "main": [
        [
          {
            "node": "Wait - 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image 1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "HTTP Request - Make Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tiktok Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Echonova Labs Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Make Video1": {
      "main": [
        [
          {
            "node": "Wait 4m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a playlist item": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Echonova Labs Upload": {
      "main": [
        [
          {
            "node": "Add a playlist item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 60s": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4m": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
