Whale Channel Reply System | Comment Support Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        3408,
        2816
      ],
      "id": "a87fd00c-18a6-41ad-9818-30dba6fda0cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\nnow = datetime.now()\n\nQueries = {\n    \"Monday\": \"Automation\",\n    \"Tuesday\": \"Affiliate Marketing\",\n    \"Wednesday\": \"YouTube Growth\",\n    \"Thursday\": \"Comment Ops\",\n    \"Friday\": \"Video Production\",\n    \"Saturday\": \"AI Workflows\",\n    \"Sunday\": \"Strategy Review\"\n}\n\nSearch_ = Queries.get(now.strftime(\"%A\"), \"Automation\")  \nreturn {\"Search_\": Search_}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        2816
      ],
      "id": "a7c78f14-5d67-4fc2-b675-acacdc42a3da",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/search\n?part=snippet&q={{ $json.Search_ }}&type=video&maxResults=50&key=AIzaSyDV5etfLvMaBIVgmrRx8X2QZ-H4sMYZrvQ\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3856,
        2816
      ],
      "id": "5e26a6ae-cdcd-4430-b88e-a4adcbbe1f90",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items;\n\nconst channelIds = items.map(item => item.snippet.channelId);\n\nconst uniqueChannelIds = [...new Set(channelIds)];\n\nreturn uniqueChannelIds.map(id => ({ json: { channelId: id } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        2816
      ],
      "id": "7cc44147-23f2-492f-8384-87b583199449",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4304,
        2816
      ],
      "id": "b373dca5-764f-4641-a589-530074c19f20",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Done",
      "typeVersion": 1,
      "position": [
        4528,
        2336
      ],
      "id": "701186a7-e9ab-40fc-a2c2-df0750d2f04b",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/channels?part=contentDetails&id={{ $json.channelId }}&key=AIzaSyDV5etfLvMaBIVgmrRx8X2QZ-H4sMYZrvQ\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4528,
        2528
      ],
      "id": "c6a8613b-7093-4024-8e01-35ea9f5b3bae",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId={{ $json.items[0].contentDetails.relatedPlaylists.uploads }}&maxResults=2&key=AIzaSyDV5etfLvMaBIVgmrRx8X2QZ-H4sMYZrvQ\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4752,
        2528
      ],
      "id": "85730259-b0bc-48c4-91b3-644845ecf6d5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/comments?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"parentId\": \"{{ $('Code in Python (Beta)1').item.json.commentID }}\",\n    \"textOriginal\": \"{{ $('Code in Python (Beta)1').item.json.Suggested_Reply }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8688,
        2608
      ],
      "id": "c8f93463-6c87-4435-b3f9-812a35c79d40",
      "name": "Reply To Comment",
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f6c8b17-7750-4a72-82cf-d293ebf77b46",
              "leftValue": "={{ $('Video Comments').item.json.pageInfo.totalResults || 0}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5872,
        2528
      ],
      "id": "8db36c9b-7f86-4a9a-848d-e431fc582a1f",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "videoID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5200,
        2528
      ],
      "id": "fc32fb64-e823-4bb2-9b6b-ff695ef53f8d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json.videoID).flat();\nreturn items.map(id => ({ json: { videoID: id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        2528
      ],
      "id": "b97805b3-1307-4127-824b-e4fb5e724c9c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6096,
        2624
      ],
      "id": "ce7169ba-1db3-4f42-bfea-2b866760499c",
      "name": "Dumping Site"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"part\": \"snippet\",\n  \"videoId\": \"{{ $json.videoID }}\",\n  \"maxResults\": 11,\n  \"order\":\"relevance\"\n\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5648,
        2528
      ],
      "id": "9c253c79-4fa4-434a-bba0-dab14d5486bd",
      "name": "Video Comments",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "all_items = _input.all()\n\ncomments_data = []\nfor item in all_items:\n    if 'json' in item and 'items' in item['json']:\n        for comment_item in item['json']['items']:\n            comment_id = comment_item['id']\n            comment_text = comment_item['snippet']['topLevelComment']['snippet']['textOriginal']\n            \n            video_id = comment_item['snippet']['videoId']\n            channel_id = comment_item['snippet']['channelId']\n            \n            video_url = f\"https://www.youtube.com/watch?v={video_id}\"\n            channel_url = f\"https://www.youtube.com/channel/{channel_id}\"\n            \n            comments_data.append({\n                'commentID': comment_id,\n                'videoID': video_id,\n                'channelID': channel_id,\n                'Comment': comment_text,\n                'videoURL': video_url,\n                'channelURL': channel_url\n            })\n\ncomments_list = \"\\n\\n\".join([\n    f\"Video ID: {c['videoID']}\\nChannel ID: {c['channelID']}\\nComment ID: {c['commentID']}\\nComment: {c['Comment']}\" \n    for c in comments_data\n])\n\nprompt = f\"\"\"\nYou are helping someone reply to YouTube comments on OTHER people's videos to generate leads for YouTube automation services.\n\nCONTEXT: You provide YouTube automation services (comment management, workflow automation, content scheduling). You're replying to comments on COMPETITOR/RELATED channels to subtly showcase your expertise as a PEER, not as the video creator.\n\nTARGET COMMENTS - Reply ONLY to comments mentioning:\n✅ Time management struggles (\"takes too much time\", \"so time consuming\")\n✅ Scaling challenges (\"want to grow faster\", \"can't keep up\", \"need to scale\")\n✅ Manual work frustration (\"doing this manually\", \"repetitive tasks\")\n✅ Automation concerns/questions (\"how to automate\", \"is automation safe\", \"automation tools\")\n✅ Content creation struggles (\"hard to create content\", \"upload schedule\")\n✅ Engagement/reply struggles (\"can't reply to all\", \"managing comments is hard\")\n✅ Business/monetization questions (\"how to earn\", \"monetization tips\")\n✅ Workflow/productivity questions (\"your workflow\", \"how you manage\")\n✅ Tool recommendations requests (\"what tools do you use\", \"recommend software\")\n\nIGNORE COMPLETELY:\n❌ Generic praise (\"nice video\", \"good job\", \"love it\")\n❌ Just emojis or very short comments\n❌ \"First\", \"Second\", position markers\n❌ Spam or promotional links\n❌ Religious/personal statements (unless they ask a question)\n❌ Simple thanks without context\n❌ Comments about subscribers/views without asking how\n\nREPLY RULES (CRITICAL):\n1. Keep replies SHORT: 2-3 sentences MAX (30-50 words total)\n2. Speak as a PEER/FELLOW CREATOR, NOT the video creator\n3. Share YOUR experience naturally (\"I struggled with this too\", \"I automated my workflow\")\n4. Never say \"my videos\", \"my channel\", \"in my content\" (you're not the video creator!)\n5. DON'T sound salesy or promotional\n6. Match their language/tone (English/Urdu/Roman Urdu)\n7. End with a light question or soft offer to help\n\nGOOD EXAMPLES:\nComment: \"I spend 5 hours daily replying to comments 😢\"\nReply: \"I feel you! I was spending the same until I automated my replies. Cut it from 5 hours to 30 mins. DM if you want tips!\"\n\nComment: \"Hard to keep up with content creation\"\nReply: \"Same here bro! I automated my workflow and now upload 3x more. Happy to share what tools I use if interested 👍\"\n\nBAD EXAMPLES (don't do this):\n\"That's a great point! In my videos, I've found that automation really helps my content creation process...\" ❌ (sounds like video creator)\n\"I completely understand the challenges you're facing with YouTube growth. Automation can be incredibly powerful when implemented correctly...\" ❌ (too long, too salesy)\n\nComments to analyze:\n{comments_list}\n\nReturn ONLY high-value comments worth replying to in this JSON format:\n[\n  {{\n    \"videoID\": \"video_id_here\",\n    \"channelID\": \"channel_id_here\",\n    \"commentID\": \"comment_id_here\",\n    \"Comment\": \"original comment text\",\n    \"Suggested_Reply\": \"SHORT 2-3 sentence reply as a helpful peer (30-50 words)\",\n    \"Opportunity_Type\": \"automation_question|scaling_struggle|time_management|tool_request|workflow_question|content_creation|monetization\",\n    \"Sales_Potential\": \"high|medium|low\"\n  }}\n]\n\nCRITICAL RULES:\n1. videoID and channelID MUST be the FIRST fields in each JSON object\n2. Be VERY selective. Out of 100 comments, maybe only 5-15 are worth replying to\n3. Quality over quantity!\n\"\"\"\n\nreturn {\n    \"prompt\": prompt, \n    \"total_comments_analyzed\": len(comments_data),\n    \"comments_with_urls\": comments_data \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        2432
      ],
      "id": "4094fd2a-5817-4283-9385-f3240d52d7b4",
      "name": "Prompt",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prompt').first().json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        7888,
        2432
      ],
      "id": "ad315bb4-8635-48a6-88c7-1832c8a39972",
      "name": "AI Agent",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items;\n\nreturn items.map(item => {\n  const videoID = item.snippet.resourceId.videoId;\n\n  return {\n    json: {\n      videoID,\n      videoTitle: item.snippet.title,\n      publishedAt: item.snippet.publishedAt,\n      videoURL: `https://www.youtube.com/watch?v=${videoID}`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        2528
      ],
      "id": "0e1c9d66-9d9d-46f4-9836-8c49d40a6b04",
      "name": "Videos"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "replies = _input.first().json.output\n\n# Case-insensitive filtering\nhigh_priority = [r for r in replies if r['Sales_Potential'].lower() == 'high'][:15]\nmedium_priority = [r for r in replies if r['Sales_Potential'].lower() == 'medium'][:5]\n\nfinal_replies = high_priority + medium_priority  \n\nreturn final_replies"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8240,
        2432
      ],
      "id": "2b5f99db-fe1c-48eb-94ff-1d4522636a51",
      "name": "Code in Python (Beta)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\",\n\t\"items\": {\n\t\t\"type\": \"object\",\n\t\t\"properties\": {\n\t\t\t\"commentID\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"videoID\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"channelID\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"Comment\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"Suggested_Reply\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"Opportunity_Type\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"Sales_Potential\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"required\": [\"commentID\", \"videoID\", \"channelID\", \"Comment\", \"Suggested_Reply\", \"Opportunity_Type\", \"Sales_Potential\"]\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        8032,
        2656
      ],
      "id": "87e67ab8-39ff-4431-afde-5efc091f0dc9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date & Time": "={{ $now.setZone('Asia/Manila').format('yyyy-MM-dd hh:mm a') }}",
            "CommentID": "={{ $json.commentID }}",
            "Comment": "={{ $json.Comment }}",
            "Opportunity Type": "={{ $json.Opportunity_Type }}",
            " \nSuggested Reply": "={{ $json.Suggested_Reply }}",
            "Sales Potential": "={{ $json.Sales_Potential }}",
            "Video URL": "=https://www.youtube.com/watch?v={{ $json.videoID }}",
            "YouTube Channel URL": "=https://www.youtube.com/channel/{{ $json.channelID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date & Time",
              "displayName": "Date & Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YouTube Channel URL",
              "displayName": "YouTube Channel URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CommentID",
              "displayName": "CommentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " \nSuggested Reply",
              "displayName": " \nSuggested Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opportunity Type",
              "displayName": "Opportunity Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sales Potential",
              "displayName": "Sales Potential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8464,
        2432
      ],
      "id": "df6cafb5-f452-4388-94ab-62e08c4ff896",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7904,
        2656
      ],
      "id": "59474442-a624-43c9-b9c0-feb34f734acc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const promptOutput = $input.first().json;\n\n// Extract the comments array\nconst comments = promptOutput.comments_with_urls || [];\n\n// Return each comment as a separate item\nreturn comments.map(comment => ({\n  json: {\n    commentID: comment.commentID,\n    videoID: comment.videoID,\n    channelID: comment.channelID,\n    Comment: comment.Comment,\n    videoURL: comment.videoURL,\n    channelURL: comment.channelURL\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        2432
      ],
      "id": "2f5a4f5a-6d64-470e-a227-d8b601fadc4a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f954e8a0-cb95-4804-b498-58f0908d4211",
              "leftValue": "={{ $json.commentID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6992,
        2432
      ],
      "id": "4dfb6b37-6ce3-40e9-95ab-4c92bc6356c3",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        7664,
        2432
      ],
      "id": "33d4413e-c481-4b14-a495-9295c782b965",
      "name": "Limit"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# NUCLEAR-PROOF DEDUPLICATION\n\nnew_comments = _('Code in JavaScript1').all() or []\ntracking_data = _('Get row(s) in sheet1').all() or []\n\n# STEP 1: Find the damn column\ncolumn_name = None\nif tracking_data:\n    cols = list(tracking_data[0]['json'].keys())\n    print(\"ALL COLUMNS:\", cols)\n    \n    # Try to find it\n    for col in cols:\n        if 'comment' in col.lower() and 'id' in col.lower():\n            column_name = col\n            break\n        elif 'comment' in col.lower() or 'id' in col.lower():\n            column_name = col\n\nif not column_name:\n    print(\"WARNING: No comment ID column found, assuming empty sheet\")\n    existing_ids = set()\nelse:\n    # STEP 2: Extract IDs (brute force)\n    existing_ids = set()\n    for row in tracking_data:\n        raw_value = row['json'].get(column_name)\n        \n        if raw_value:\n            str_val = str(raw_value).strip()\n            \n            # Split by commas if multiple IDs in one cell\n            if ',' in str_val:\n                for part in str_val.split(','):\n                    part = part.strip()\n                    if part:\n                        existing_ids.add(part)\n            elif str_val:\n                existing_ids.add(str_val)\n\nprint(f\"Found {len(existing_ids)} existing IDs\")\n\n# STEP 3: Filter with paranoid checks\nfiltered = []\nseen_in_this_run = set()\n\nfor comment in new_comments:\n    # safely get commentID\n    cid = str(comment.get('json', {}).get('commentID') or '').strip()\n    \n    if not cid:\n        print(\"Skipping comment: missing ID\")\n        continue\n    \n    if cid in existing_ids:\n        print(f\"Blocked: {cid} (in sheet)\")\n        continue\n    \n    if cid in seen_in_this_run:\n        print(f\"Blocked: {cid} (duplicate in this batch)\")\n        continue\n    \n    # ALL CLEAR\n    seen_in_this_run.add(cid)\n    filtered.append(comment['json'])\n\nprint(f\"Passing {len(filtered)} comments after deduplication\")\nreturn [{\"json\": item} for item in filtered]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6768,
        2432
      ],
      "id": "3ea56752-1f63-45f8-a948-569db1f02eba",
      "name": "Code in Python (Beta)2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw",
          "mode": "list",
          "cachedResultName": "YouTube Comment IDs Sub Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comment IDs": "={{ $json.commentID }}"
          },
          "matchingColumns": [
            "Comment IDs"
          ],
          "schema": [
            {
              "id": "Comment IDs",
              "displayName": "Comment IDs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7216,
        2432
      ],
      "id": "7d5d696c-2234-4541-a91b-1e6475064340",
      "name": "Append row in sheet1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw",
          "mode": "list",
          "cachedResultName": "YouTube Comment IDs Sub Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6544,
        2432
      ],
      "id": "d505cd3e-4118-4678-b040-746b022cd245",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "all_items = _input.all()\n\ncomments_data = []\nfor item in all_items:\n    if 'json' in item and 'items' in item['json']:\n        for comment_item in item['json']['items']:\n            comment_id = comment_item['id']\n            comment_text = comment_item['snippet']['topLevelComment']['snippet']['textOriginal']\n            \n            video_id = comment_item['snippet']['videoId']\n            channel_id = comment_item['snippet']['channelId']\n            \n            video_url = f\"https://www.youtube.com/watch?v={video_id}\"\n            channel_url = f\"https://www.youtube.com/channel/{channel_id}\"\n            \n            comments_data.append({\n                'commentID': comment_id,\n                'videoID': video_id,\n                'channelID': channel_id,\n                'Comment': comment_text,\n                'videoURL': video_url,\n                'channelURL': channel_url\n            })\n\ncomments_list = \"\\n\\n\".join([\n    f\"Video ID: {c['videoID']}\\nChannel ID: {c['channelID']}\\nComment ID: {c['commentID']}\\nComment: {c['Comment']}\" \n    for c in comments_data\n])\n\nprompt = f\"\"\"\nYou are helping someone reply to YouTube comments on OTHER people's videos to generate leads for YouTube automation services.\n\nCONTEXT: You provide YouTube automation services (comment management, workflow automation, content scheduling). You're replying to comments on COMPETITOR/RELATED channels to subtly showcase your expertise as a PEER, not as the video creator.\n\nTARGET COMMENTS - Reply ONLY to comments mentioning:\n✅ Time management struggles (\"takes too much time\", \"so time consuming\")\n✅ Scaling challenges (\"want to grow faster\", \"can't keep up\", \"need to scale\")\n✅ Manual work frustration (\"doing this manually\", \"repetitive tasks\")\n✅ Automation concerns/questions (\"how to automate\", \"is automation safe\", \"automation tools\")\n✅ Content creation struggles (\"hard to create content\", \"upload schedule\")\n✅ Engagement/reply struggles (\"can't reply to all\", \"managing comments is hard\")\n✅ Business/monetization questions (\"how to earn\", \"monetization tips\")\n✅ Workflow/productivity questions (\"your workflow\", \"how you manage\")\n✅ Tool recommendations requests (\"what tools do you use\", \"recommend software\")\n\nIGNORE COMPLETELY:\n❌ Generic praise (\"nice video\", \"good job\", \"love it\")\n❌ Just emojis or very short comments\n❌ \"First\", \"Second\", position markers\n❌ Spam or promotional links\n❌ Religious/personal statements (unless they ask a question)\n❌ Simple thanks without context\n❌ Comments about subscribers/views without asking how\n\nREPLY RULES (CRITICAL):\n1. Keep replies SHORT: 2-3 sentences MAX (30-50 words total)\n2. Speak as a PEER/FELLOW CREATOR, NOT the video creator\n3. Share YOUR experience naturally (\"I struggled with this too\", \"I automated my workflow\")\n4. Never say \"my videos\", \"my channel\", \"in my content\" (you're not the video creator!)\n5. DON'T sound salesy or promotional\n6. Match their language/tone (English/Urdu/Roman Urdu)\n7. End with a light question or soft offer to help\n\nGOOD EXAMPLES:\nComment: \"I spend 5 hours daily replying to comments 😢\"\nReply: \"I feel you! I was spending the same until I automated my replies. Cut it from 5 hours to 30 mins. DM if you want tips!\"\n\nComment: \"Hard to keep up with content creation\"\nReply: \"Same here bro! I automated my workflow and now upload 3x more. Happy to share what tools I use if interested 👍\"\n\nBAD EXAMPLES (don't do this):\n\"That's a great point! In my videos, I've found that automation really helps my content creation process...\" ❌ (sounds like video creator)\n\"I completely understand the challenges you're facing with YouTube growth. Automation can be incredibly powerful when implemented correctly...\" ❌ (too long, too salesy)\n\nComments to analyze:\n{comments_list}\n\nReturn ONLY high-value comments worth replying to in this JSON format:\n[\n  {{\n    \"videoID\": \"video_id_here\",\n    \"channelID\": \"channel_id_here\",\n    \"commentID\": \"comment_id_here\",\n    \"Comment\": \"original comment text\",\n    \"Suggested_Reply\": \"SHORT 2-3 sentence reply as a helpful peer (30-50 words)\",\n    \"Opportunity_Type\": \"automation_question|scaling_struggle|time_management|tool_request|workflow_question|content_creation|monetization\",\n    \"Sales_Potential\": \"high|medium|low\"\n  }}\n]\n\nCRITICAL RULES:\n1. videoID and channelID MUST be the FIRST fields in each JSON object\n2. Be VERY selective. Out of 100 comments, maybe only 5-15 are worth replying to\n3. Quality over quantity!\n\"\"\"\n\nreturn {\n    \"prompt\": prompt, \n    \"total_comments_analyzed\": len(comments_data),\n    \"comments_with_urls\": comments_data \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        2432
      ],
      "id": "0b2c235f-c2c1-4c0f-b2bf-4bc0db524914",
      "name": "Code in Python (Beta)3"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "Xa3Un5HYidE8VMKZu",
          "mode": "list",
          "cachedResultName": "Youtube Channel Email Scraper (dataovercoffee/Youtube-Channel-Business-Email-Scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/Xa3Un5HYidE8VMKZu/input"
        },
        "customBody": "={\n    \"channels\": [{{ JSON.stringify($json[\"YouTube Channel URL\"]) }}]\n} "
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        7344,
        3040
      ],
      "id": "dfa54614-4592-4073-a365-03f4425f4658",
      "name": "Run an Actor and get dataset",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "wq9rLBaaDPzl48FA",
          "name": "Apify account | jaymeselwyn@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3408,
        3136
      ],
      "id": "0c7bc8b3-6f9d-46e3-b494-0930d7eccc88",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $('Code in JavaScript3').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ $('Code in JavaScript3').item.json[\"Generated Message\"] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7568,
        3040
      ],
      "id": "76debd55-fbfd-46b8-a90f-bc93b57bf53d",
      "name": "Send a message",
      "webhookId": "fc5c94eb-ffe3-4699-9e5c-3c47d000d0a7",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "bG4MqC26LX77VMP0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json.channels;\n\nconst results = [];\n\nfor (const url of input) {\n  let channelId = null;\n\n  if (url.includes(\"/channel/\")) {\n    channelId = url.split(\"/channel/\")[1].split(/[/?]/)[0];\n  }\n\n  results.push({\n    json: {\n      channelUrl: url,\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        3040
      ],
      "id": "bf48ef8f-a1a7-4575-8af5-80534abf98cb",
      "name": "Channel IDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw",
          "mode": "list",
          "cachedResultName": "Messaged Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4528,
        3040
      ],
      "id": "d0205fa0-bca0-45b5-83c6-430cc6319167",
      "name": "Messaged Leads Data",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38",
          "mode": "list",
          "cachedResultName": "Whale Channel Reply System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3632,
        3136
      ],
      "id": "2a2286d9-68d9-4b8f-8fec-957841a99d94",
      "name": "Whale Channel Reply System Data",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst uniqueUrls = new Set();\n\nitems.forEach(item => {\n  const channelUrl = item.json[\"YouTube Channel URL\"];\n  if (channelUrl && channelUrl.trim() !== \"\") {\n    uniqueUrls.add(channelUrl.trim());\n  }\n});\n\nconst channelsArray = Array.from(uniqueUrls);\n\n\nreturn [{\n  json: {\n    channels: channelsArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        3136
      ],
      "id": "f94ba0ef-3ce9-4480-84cb-dabc763368f5",
      "name": "Deduplication | YouTube Channels"
    },
    {
      "parameters": {
        "jsCode": "const WCRSD_items = $('Whale Channel Reply System Data').all();\nconst MLD_items = $input.all();\n\nconst WCRSD_channels = WCRSD_items.map(item => item.json['YouTube Channel URL']).filter(url => url);\n\nconst MLD_channels_set = new Set(\n  MLD_items.map(item => item.json['YouTube Channel URL']).filter(url => url)\n);\n\nconst newChannels = WCRSD_channels.filter(url => !MLD_channels_set.has(url));\n\nconst uniqueNewChannels = [...new Set(newChannels)];\n\nconst channelsWithIds = uniqueNewChannels.map(url => {\n  const channelId = url.split('/').pop(); \n  return {\n    url: url,\n    channelId: channelId\n  };\n});\n\nreturn [{\n  json: {\n    channels: channelsWithIds,\n    channelIds: channelsWithIds.map(ch => ch.channelId),\n    channelUrls: uniqueNewChannels,\n    totalWCRSD: WCRSD_channels.length,\n    totalMLD: MLD_channels_set.size,\n    newChannelsFound: uniqueNewChannels.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        3040
      ],
      "id": "452c0ffd-ac1e-4f2a-8cdb-cd2f20c785f7",
      "name": "Deduplication | For Google Sheets"
    },
    {
      "parameters": {
        "fieldToSplitOut": "channels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4976,
        3040
      ],
      "id": "b878d015-b499-46dd-b164-38d731b4cbf8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst results = items\n  .filter(item => {\n    return item.json.items && item.json.items.length > 0;\n  })\n  .map(item => {\n    const channelData = item.json.items[0];\n    const uploadsPlaylistId = channelData.contentDetails.relatedPlaylists.uploads;\n    \n    return {\n      json: {\n        channelId: channelData.id,\n        channelTitle: channelData.snippet.title,\n        channelDescription: channelData.snippet.description,\n        \n        uploadsPlaylistId: uploadsPlaylistId\n      }\n    };\n  });\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        3040
      ],
      "id": "e5ce7def-fa53-40e2-b604-7b66078a9e2f",
      "name": "Upload Playlists"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId={{ $json.uploadsPlaylistId }}&maxResults=1&key=AIzaSyDV5etfLvMaBIVgmrRx8X2QZ-H4sMYZrvQ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5648,
        3040
      ],
      "id": "833d4a12-73a7-4f1a-b4b8-25f52ee22af6",
      "name": "LATEST video"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/channels?part=contentDetails,snippet&id={{ $json.channelId }}&key=AIzaSyDV5etfLvMaBIVgmrRx8X2QZ-H4sMYZrvQ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5200,
        3040
      ],
      "id": "feabf254-bd15-48c3-914b-6afc765e472a",
      "name": "Channel Details"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst uploadPlaylistItems = $('Upload Playlists').all();\n\nconst results = items.map((item, index) => {\n  const channelInfo = uploadPlaylistItems[index].json;\n  \n  const latestVideo = item.json.items[0].snippet;\n  \n  return {\n    json: {\n      channelId: channelInfo.channelId,\n      channelTitle: channelInfo.channelTitle,\n      channelDescription: channelInfo.channelDescription,\n      \n      latestVideoTitle: latestVideo.title,\n      latestVideoDescription: latestVideo.description,\n      latestVideoPublishedAt: latestVideo.publishedAt,\n      videoId: latestVideo.resourceId.videoId,\n      videoUrl: `https://www.youtube.com/watch?v=${latestVideo.resourceId.videoId}`\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        3040
      ],
      "id": "37ee0d84-5f07-4f57-93f4-f25006fb176e",
      "name": "Data For AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const prompt = `You are writing cold outreach emails on behalf of AlgoNova Labs.\n\nWe offer a YouTube AI Community Manager — a 24/7 AI agent that replies to comments, pins CTAs, and flags leads automatically. Our hook is a FREE Channel Audit that shows exactly where engagement and leads are being lost.\n\nTARGET: YouTubers with 10k–500k subscribers who are already posting consistently. These are people who have traction but are losing engagement and leads because they can't keep up manually.\n\nTHE CORE INSIGHT TO COMMUNICATE:\nThey don't lack views. They lack a SYSTEM. Manual comment management at their scale leaks 15-20% of high-intent leads — people who commented, were interested, but never got a response fast enough.\n\nFOR EACH CHANNEL BELOW, write ONE outreach message using the Channel Title, Description, and Latest Video Title provided.\n\nOUTPUT: Valid JSON array only. No extra text, no markdown, no explanation.\n\nJSON Structure:\n[\n  {\n    \"YouTube Channel URL\": \"https://www.youtube.com/channel/CHANNEL_ID\",\n    \"Channel ID\": \"CHANNEL_ID\",\n    \"Niche\": \"identified_niche\",\n    \"Generated Message\": \"the outreach message\",\n    \"Subject\": \"the subject line\"\n  }\n]\n\nCHANNELS TO PROCESS:\n${formattedData}`;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        3040
      ],
      "id": "28ac14fa-e108-487c-a3c1-e8499d90b8a2",
      "name": "AI Agent Prompt"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6096,
        3040
      ],
      "id": "3e99eecc-f24e-4d06-a800-57be5a96b402",
      "name": "Limit1"
    },
    {
      "parameters": {
        "jsCode": "let aiResponse;\ntry {\n  const inputData = $input.first().json;\n\n  if (inputData.output && Array.isArray(inputData.output)) {\n    // Your actual structure: output[0].content[0].text\n    const firstOutput = inputData.output[0];\n    if (firstOutput && firstOutput.content && firstOutput.content[0] && firstOutput.content[0].text) {\n      aiResponse = firstOutput.content[0].text;\n    } else {\n      throw new Error('output array exists but missing content[0].text');\n    }\n  } else if (inputData.content && inputData.content.parts && inputData.content.parts[0]) {\n    aiResponse = inputData.content.parts[0].text;\n  } else if (inputData.message && inputData.message.content && inputData.message.content[0]) {\n    aiResponse = inputData.message.content[0].text;\n  } else if (inputData.text) {\n    aiResponse = inputData.text;\n  } else if (typeof inputData === 'string') {\n    aiResponse = inputData;\n  } else {\n    return [{\n      json: {\n        error: true,\n        message: 'Unknown AI response structure',\n        rawResponse: JSON.stringify(inputData, null, 2)\n      }\n    }];\n  }\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: `Error accessing AI response: ${error.message}`,\n      rawInput: JSON.stringify($input.first().json, null, 2)\n    }\n  }];\n}\n\nlet parsedData;\ntry {\n  let cleanedResponse = aiResponse.trim();\n\n  if (cleanedResponse.startsWith('```json')) {\n    cleanedResponse = cleanedResponse.replace(/^```json\\n?/, '').replace(/\\n?```$/, '');\n  } else if (cleanedResponse.startsWith('```')) {\n    cleanedResponse = cleanedResponse.replace(/^```\\n?/, '').replace(/\\n?```$/, '');\n  }\n\n  parsedData = JSON.parse(cleanedResponse);\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: `Failed to parse JSON: ${error.message}`,\n      rawResponse: aiResponse\n    }\n  }];\n}\n\nif (!Array.isArray(parsedData)) {\n  return [{\n    json: {\n      error: true,\n      message: 'AI response is not an array',\n      parsedData: parsedData\n    }\n  }];\n}\n\nconst results = parsedData.map((item) => {\n  const channelId = item['Channel ID'] || 'ERROR: Missing Channel ID';\n  return {\n    json: {\n      \"YouTube Channel URL\": `https://www.youtube.com/channel/${channelId}`,\n      \"Channel ID\": channelId,\n      \"Niche\": item['Niche'] || 'ERROR: Missing Niche',\n      \"Generated Message\": item['Generated Message'] || 'ERROR: Missing Message',\n      \"Subject\": item['Subject'] || 'ERROR: Missing Subject'\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6896,
        3040
      ],
      "id": "6498578e-a077-4c4d-992f-29e486303410",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw",
          "mode": "list",
          "cachedResultName": "Messaged Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date & Time": "={{ $now.setZone('Asia/Manila').format('yyyy-MM-dd hh:mm a') }}",
            "YouTube Channel URL": "={{ $('Code in JavaScript3').item.json[\"YouTube Channel URL\"] }}",
            "Niche": "={{ $('Code in JavaScript3').item.json.Niche }}",
            "Generated Message": "={{ $('Code in JavaScript3').item.json[\"Generated Message\"] }}",
            "Email": "=selwyn@selwynbuilds.com",
            "Subject": "={{ $('Code in JavaScript3').item.json.Subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date & Time",
              "displayName": "Date & Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Channel URL",
              "displayName": "YouTube Channel URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Message",
              "displayName": "Generated Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7792,
        3040
      ],
      "id": "af54f44d-71ae-4f46-a213-bfa0a7ef935a",
      "name": "Messaged Leads New Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wa3G2Z5nJqoCy4I7",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      },
      "notes": "{{ $('Run an Actor and get dataset').item.json.Email }} "
    },
    {
      "parameters": {
        "content": "# SpreadSheets\n\n## [Whale Channel Reply System](https://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/edit?gid=0#gid=0)\n\n## [YouTube Comment IDs Sub Database](https://docs.google.com/spreadsheets/d/1mYI0HXZMEWH_tBOK3lXCWeajSGnqUEes8a3e5N0wkjw/edit?gid=0#gid=0)\n\n## [Messaged Leads](https://docs.google.com/spreadsheets/d/1IMiQjoTJRrAddEVLTcBCKvriz2J5m8PKekqq0Qx-iZw/edit?gid=0#gid=0)",
        "height": 480,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5360,
        1776
      ],
      "typeVersion": 1,
      "id": "0fb2a833-f6c5-438e-b7b1-a295b015f650",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are an Outreach Architect for AlgoNova Labs. You write cold outreach emails for YouTube creators. Direct, confident, peer-to-peer. Not salesy. Not robotic.\n\n---\n\nWHAT WE SELL:\nA Free YouTube Channel Audit. That is the ONLY ask.\nThe audit shows creators where their leads are leaking because they have no system managing their comments.\nFunnel: Audit → Demo → Trial → Paid.\n\n---\n\nWHO WE'RE WRITING TO:\nYouTubers with 10k–500k subscribers. Already posting. Already have an audience. Losing leads in comments every day because they can't keep up manually. They don't lack views. They lack a SYSTEM.\n\n---\n\nDATA INTEGRITY (DO NOT BREAK THESE):\n- Output EXACTLY one JSON object per channel provided in the input. No more. No less.\n- \"YouTube Channel URL\" and \"Channel ID\" must be copied EXACTLY from the input. Do not construct, modify, or guess.\n- Do not invent or fabricate any data not provided in the input.\n- Output order must match input order.\n- If a field is missing from the input, work with what you have. Do not make something up.\n\n---\n\nNICHE IDENTIFICATION:\nIdentify each channel's niche from the Channel Title, Description, and Latest Video Title provided.\n\"YouTube Creator\" is NOT a niche. You are not allowed to use it.\nBe specific and accurate to what the channel actually covers:\n- Finance & Investing\n- Productivity & Self-Improvement\n- YouTube Shorts Growth\n- Creator Monetization & Side Hustles\n- Health & Fitness\n- Tech Reviews & Gadgets\n- Real Estate\n- Social Media Marketing\n- Personal Development\n- E-Commerce & Dropshipping\n- Mindset & Mental Health\n- Business & Entrepreneurship\nIf genuinely unclear, pick the closest accurate category. Never default to \"YouTube Creator.\"\n\n---\n\nSUBJECT LINE RULES:\n- 6-10 words MAX.\n- The subject must be the natural entry point into the first sentence of the body. Someone reads the subject, opens the email, and the first sentence feels like the continuation of that thought. They must feel like one connected piece — not two separate things.\n- Must sound like a real person noticed something specific. Not an ad. Not a report. Not a template.\n- Think: if a fellow creator you actually respect sent you this, would you open it?\n\nBANNED in subject lines:\n- The words: \"Projected,\" \"Benchmark,\" \"Identified,\" \"Evaluating,\" \"Audit,\" \"Leak\"\n- Any percentage number\n- Any colon followed by a video title\n- \"Quick question,\" \"Just wanted to,\" \"Free\"\n\nEvery subject in the batch must use a completely different structure. Before outputting, check all subjects. If any two follow the same pattern, rewrite one.\n\nGOOD direction (understand the intent, do not copy):\n  \"your bad ideas video got me thinking\"\n  \"real talk about your comment replies\"\n  \"something off with your engagement lately?\"\n  \"the monetization video — worth a second look\"\n  \"resourcefulness pays, but not for lost comments\"\n\n---\n\nMESSAGE BODY: EXACTLY 3 SENTENCES. NO MORE. NO LESS.\n\nSentence 1 — THE HOOK:\n- Must connect naturally to the subject line. The reader should feel like they are continuing the same thought.\n- Reference something SPECIFIC from their latest video or channel. Reference WHY it caught your attention — not WHAT the video is about.\n- Do not summarize the video back at them.\n\nBANNED in the hook:\n- \"insights,\" \"great strategy,\" \"game-changing,\" \"really hit home,\" \"stood out to me,\" \"love the content,\" \"awesome,\" \"inspiring,\" \"valuable,\" \"crucial,\" \"refreshing\"\n- Any generic praise. Any rephrasing of the video title back at them.\n\nHOOK EXAMPLES (study these, understand WHY they work):\n\nInput: Latest Video = \"What 1,000+ Hours of Bad YouTube Ideas Taught Me\"\nGOOD: \"Spending 1,000 hours testing bad ideas before finding what works — that's a brutal filter most creators skip.\"\nBAD:  \"Your insights on bad YouTube ideas really hit home.\"\n\nInput: Latest Video = \"How Much YouTube Paid Me in My First Year Monetized\"\nGOOD: \"First year monetization is where most creators hit a wall they don't talk about publicly — yours was refreshingly honest.\"\nBAD:  \"Your discussion on YouTube revenue growth stood out to me.\"\n\nInput: Latest Video = \"NEW YouTube Shorts Algorithm Hacks for More Views\"\nGOOD: \"Shorts algorithm is shifting fast — curious how you're seeing it land with actual view numbers.\"\nBAD:  \"The algorithm hacks you shared are game-changing.\"\n\n---\n\nSentence 2 — THE PUNCH:\n- Name their specific niche. Tie it to the lead leakage problem.\n- The 15-20% benchmark must feel niche-specific — not generic.\n- Say \"In the [niche] space\" or \"Creators in [niche]\" — never \"at your scale\" or \"channels like yours.\"\n- Vary the percentage between 15-20 across the batch. Do not use the same number twice.\n\n---\n\nSentence 3 — THE CTA:\n- One ask only: the free audit.\n- Direct and confident. Not soft. Not apologetic.\n- Before outputting, scan all CTAs in the batch. If any two match, rewrite one.\n\nCTA options (use each one only once per batch):\n  \"Want me to run that audit on your channel today?\"\n  \"I can have that ready for you by tomorrow.\"\n  \"Should I send over what I find?\"\n  \"Worth me taking a look?\"\n  \"Want me to have that ready for you this week?\"\n\n---\n\nFINAL CHECKLIST BEFORE OUTPUTTING:\n- Every message is exactly 3 sentences? YES or rewrite.\n- Every subject is 6-10 words? YES or rewrite.\n- Subject and first sentence feel like one connected thought? YES or rewrite.\n- No two subjects follow the same structure? YES or rewrite one.\n- No two CTAs are the same? YES or rewrite one.\n- No percentage appears in any subject line? YES or rewrite.\n- No banned words appear anywhere? YES or rewrite.\n- Channel IDs and URLs are copied exactly from input? YES or rewrite.\n- Output count matches input count? YES or rewrite.\n\n---\n\nOUTPUT: Valid JSON array only. Nothing else. No markdown. No explanation. No text before or after.\n\n[\n  {\n    \"YouTube Channel URL\": \"copied exactly from input\",\n    \"Channel ID\": \"copied exactly from input\",\n    \"Niche\": \"specific niche identified\",\n    \"Generated Message\": \"exactly 3 sentences\",\n    \"Subject\": \"6-10 words\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6544,
        3040
      ],
      "id": "5c4586a4-6faa-4b36-a2c5-1e4a36340d93",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "7wRe2whxERwY0gjz",
          "name": "OpenAi account 2 | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3aa8975f-8e09-4513-bc03-af950757869a",
              "leftValue": "={{ $json.channels }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4080,
        3136
      ],
      "id": "33a6b063-d849-42da-9bd8-0cd5116af657",
      "name": "Check If there's any data"
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[Whale Channel Reply System]\n\nNo Found leads. Need to scrape first.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4304,
        3232
      ],
      "id": "6093a4a7-b9c4-4e79-b8f1-b0a2e423353a",
      "name": "Send a text message",
      "webhookId": "aac31dde-10b9-4f38-834f-9e890c6c429c",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[Whale Channel Reply System]\n\nNew Leads handled successfully!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8016,
        3040
      ],
      "id": "91a3258f-1340-458f-adb0-af8ce381fcde",
      "name": "Send a text message1",
      "webhookId": "aac31dde-10b9-4f38-834f-9e890c6c429c",
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6472037679",
        "text": "=[Whale Channel Reply System]\n\nFirst System Ran Succesfully. Result: \nhttps://docs.google.com/spreadsheets/d/1xc9oj03ep3FECCOCFDpnjfIjhJt57YV29SYzSKRlp38/edit?gid=0#gid=0",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4768,
        2336
      ],
      "id": "f27d5728-9cd1-450b-8cd1-67a638b199fc",
      "name": "Send a text message2",
      "webhookId": "aac31dde-10b9-4f38-834f-9e890c6c429c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "uH4mDEtyZeadnoI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        7120,
        3040
      ],
      "id": "2fb5ae6c-c0f8-4470-af45-7f2609153c6c",
      "name": "Limit2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply To Comment": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dumping Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Video Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dumping Site": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Comments": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videos": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Reply To Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Whale Channel Reply System Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Messaged Leads New Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel IDs": {
      "main": [
        [
          {
            "node": "Messaged Leads Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messaged Leads Data": {
      "main": [
        [
          {
            "node": "Deduplication | For Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whale Channel Reply System Data": {
      "main": [
        [
          {
            "node": "Deduplication | YouTube Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication | YouTube Channels": {
      "main": [
        [
          {
            "node": "Check If there's any data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication | For Google Sheets": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Channel Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Playlists": {
      "main": [
        [
          {
            "node": "LATEST video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LATEST video": {
      "main": [
        [
          {
            "node": "Data For AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Details": {
      "main": [
        [
          {
            "node": "Upload Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data For AI Agent": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messaged Leads New Data": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If there's any data": {
      "main": [
        [
          {
            "node": "Channel IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
