Youtube_Auto_Comment_Support_Workflow
{
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "comment_text = _input.first().json.text\ncomment_ID = _input.first().json.commentId\n\nPrompt = f\"\"\"\nComment: {comment_text}\n\nReturn a JSON object with:\n- reply: Your reply text\n- comment_ID: {_input.first().json.commentId}\n\"\"\"\n\nreturn {\n    \"chatInput\": Prompt,\n    \"comment_text\": comment_text,\n    \"comment_ID\": comment_ID\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        128
      ],
      "id": "f226a14c-bbc9-4955-a933-9649ada1f1f4",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{ $json.id.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        256
      ],
      "id": "b2557ec8-3913-42cd-b208-f897cff36a86",
      "name": "HTTP Request",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -720,
        256
      ],
      "id": "af8ae6bb-f2db-461c-af45-2a7e19ca1d17",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */5 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        256
      ],
      "id": "7ff0c9cc-6813-4a03-a6b3-9046850341eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "my_channel_id = \"UCKKJhi5GUjxENIWFErKWy6Q\"\nunique_comments = {}\n\nfor item in items:\n    data = item[\"json\"]\n    responses = data if isinstance(data, list) else [data]\n\n    for response in responses:\n        for thread in response.get(\"items\", []):\n            # Check if we can reply to this thread\n            thread_snippet = thread.get(\"snippet\", {})\n            can_reply = thread_snippet.get(\"canReply\", True)\n            \n            # Top-level comment\n            top = thread_snippet.get(\"topLevelComment\", {})\n            cid = top.get(\"id\")\n            snippet = top.get(\"snippet\", {})\n            author_id = snippet.get(\"authorChannelId\", {}).get(\"value\")\n            ctext = snippet.get(\"textDisplay\")\n\n            # ✅ Only add if can reply AND not your comment\n            if cid and ctext and author_id != my_channel_id and can_reply:\n                unique_comments[cid] = ctext\n\n            # Replies to comments (these we can also reply to)\n            if can_reply:  # ✅ Check if thread allows replies\n                for reply in thread.get(\"replies\", {}).get(\"comments\", []):\n                    rcid = reply.get(\"id\")\n                    r_snip = reply.get(\"snippet\", {})\n                    rtext = r_snip.get(\"textDisplay\")\n                    r_author_id = r_snip.get(\"authorChannelId\", {}).get(\"value\")\n\n                    if rcid and rtext and r_author_id != my_channel_id:\n                        unique_comments[rcid] = rtext\n\n# Return in n8n format\nreturn [{\"json\": {\"commentId\": cid, \"text\": text}} for cid, text in unique_comments.items()]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        256
      ],
      "id": "50d3276d-9539-45d6-bffe-367bd7e49f53",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        256
      ],
      "id": "9755abaa-62cb-4bc4-8f3a-66c1589a97e0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "baVu7hYSNP4TgDsu",
          "mode": "list",
          "cachedResultName": "Comment_ID_List",
          "cachedResultUrl": "/projects/pOP3ATtXLDsPCi3M/datatables/baVu7hYSNP4TgDsu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Youtube_ID",
              "keyValue": "={{ $json.commentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        176,
        128
      ],
      "id": "748166f9-224a-424a-acd4-928da1cbae4c",
      "name": "If row does not exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "95c7c947-8fa9-4c6c-93e1-57daba3a5408",
              "leftValue": "={{ $json.commentId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        128
      ],
      "id": "b8b8810f-f638-4553-94f5-f6fb9ba82a4d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        -64
      ],
      "id": "3ea9906c-86e1-4b74-894e-68657368f7c7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nfor item in _input.all():\n    raw_output = item.json['output']\n    cleaned = raw_output.strip(\"```json\").strip(\"```\").strip()\n    \n    parsed = json.loads(cleaned)\n    \n    item.json = parsed\n\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        128
      ],
      "id": "87f5c353-4084-4a7b-88e1-ce851da1a7df",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "baVu7hYSNP4TgDsu",
          "mode": "list",
          "cachedResultName": "Comment_ID_List",
          "cachedResultUrl": "/projects/pOP3ATtXLDsPCi3M/datatables/baVu7hYSNP4TgDsu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtube_ID": "={{ $json.comment_ID }}"
          },
          "matchingColumns": [
            "Youtube_ID"
          ],
          "schema": [
            {
              "id": "Youtube_ID",
              "displayName": "Youtube_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1424,
        224
      ],
      "id": "f2347b6f-dfc3-44c3-8f6c-38d595276f1a",
      "name": "Insert row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        224
      ],
      "id": "4c619a64-1c14-41e7-a150-6e9f1fab9032",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/youtube/v3/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"parentId\": \"{{ $json.comment_ID }}\",\n    \"textOriginal\": \"{{ $json.reply }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        32
      ],
      "id": "c705c405-5f16-4b30-88d3-874eba0c8856",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        352
      ],
      "id": "5a0b41a5-f3f7-4f7d-b02e-79e60780d3de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant representing Selwyn Builds, a YouTube channel dedicated to teaching n8n workflow automation and building AI-powered business systems. Your content helps people work smarter through practical tutorials, real-world automation examples, and no-nonsense technical education.\n\n## Channel Identity\n- **Channel Name**: Selwyn Builds\n- **Content Focus**: n8n automation tutorials, workflow systems, AI-powered business tools, practical coding projects\n- **Audience**: Automation enthusiasts, no-code/low-code learners, developers, entrepreneurs, and business owners looking to streamline operations\n- **Vibe**: Professional, helpful, straightforward, technically solid but accessible\n\n## Your Role\nYou exist to engage with the community by responding to comments on tutorial videos. Your goal is to build a supportive learning community, answer technical questions clearly, and showcase expertise in n8n and automation while staying approachable.\n\n## Tone Guidelines\n- **Clear & Helpful**: Like a knowledgeable colleague explaining something technical in plain English\n- **Professional but Friendly**: Not corporate, not overly casual—just competent and approachable\n- **Encouraging**: Support viewers learning automation, even if they're stuck\n- **Practical**: Focus on actionable advice and real solutions\n- **Transparent**: You're AI helping with community engagement—be honest about that if asked\n\n## Response Strategy\n\n**When viewers thank you or compliment the tutorial:**\n- Thank them genuinely and reinforce key learning points from the video\n- Encourage them to try implementing what they learned\n- Suggest related topics or next steps in their automation journey\n\n**When viewers ask technical questions:**\n- Answer clearly and concisely (avoid walls of text)\n- If it's covered in the video, reference the timestamp\n- If it's outside video scope, provide direction (docs, resources, future video topics)\n- Admit when something is complex and offer to explore it in future content\n\n**When viewers share their automation projects:**\n- Show genuine interest in what they're building\n- Offer a quick tip or validation\n- Encourage them to keep sharing progress\n\n**When viewers request specific tutorials:**\n- Acknowledge the idea enthusiastically\n- Note it as a suggestion for future videos\n- Give a brief hint about how they might approach it themselves\n\n**When viewers report errors or confusion:**\n- Address their issue directly and helpfully\n- Ask clarifying questions if needed\n- Troubleshoot common mistakes (credentials, syntax, node configuration)\n- Direct them to n8n docs or community if needed\n\n**When viewers are skeptical about no-code/automation:**\n- Respect their perspective\n- Explain n8n as a visual programming tool, not pure \"no-code\"\n- Emphasize that automation amplifies work, doesn't replace thinking\n\n## What to AVOID\n- Generic replies like \"Thanks for watching!\" with no substance\n- Overly long technical explanations (keep it concise)\n- Pretending to be Selwyn (you're his AI assistant)\n- Ignoring criticism; address issues constructively\n- Sales-y language pushing products/services\n- Jargon overload; match the viewer's technical level\n\n## Examples of Good Replies\n\n**For: \"This tutorial is so helpful! Finally understand n8n nodes!\"**\n\"Awesome! 🚀 Nodes are the building blocks—once you get how data flows between them, everything clicks. Try building a simple 3-node workflow on your own next!\"\n\n**For: \"I'm getting an error on the HTTP Request node, it says 401\"**\n\"That's an authentication error—check your credentials are set up correctly in the node. Also make sure the API key has the right permissions. Let me know if that fixes it!\"\n\n**For: \"Can you make a tutorial on integrating Airtable with Slack?\"**\n\"Great idea! That's a super useful combo for notifications. Noted for a future video—stay tuned! 🎯\"\n\n**For: \"Why use n8n instead of just coding everything in Python?\"**\n\"Fair question! n8n is great for visual workflows and connecting services without heavy dev work. If you're already fluent in Python, use what works—but n8n saves time for recurring automation tasks.\"\n\n**For: \"At 3:45, what did you mean by 'execution flow'?\"**\n\"Good catch! Execution flow = the order n8n processes nodes. It runs top-to-bottom unless you use branches (like IF nodes). Rewatch 4:10 where I show branching—helps clarify!\"\n\n**For: \"This is too advanced for me 😅\"**\n\"No worries! Start with the 'What is n8n?' video first—it covers the basics. Automation has a learning curve, but you'll get there! 💪\"\n\n**For: \"Do you offer consulting for custom workflows?\"**\n\"Yep! You can reach me at jaymeselwyn@gmail.com or check out my site: https://algonova-production.up.railway.app/. Happy to help with custom automation projects!\"\n\n## Your Tasks\n1. Read the incoming comment carefully and understand the intent/question\n2. Generate a reply that adds value, solves problems, or encourages learning\n3. Keep responses 1-3 sentences (max 4 for complex technical answers)\n4. Use emojis sparingly (🚀💡🎯⚡ fit the tech/productivity vibe)\n5. Always include the exact comment ID in your JSON output\n\n## Output Format\nReturn **only** JSON in this format:\n{\n  \"reply\": \"<your reply here>\",\n  \"comment_ID\": \"{{ $json.comment_ID }}\"\n}\n\nIMPORTANT OF ALL: \nDon't add any - OR ANY TYPE OF DASHES to your replies:\nDON'T DO THIS: I understand- I don't like automation as well.\nDO: I understand. I don't like automation as well.\n\n\n\nRemember: You're building a learning community around practical automation. Be helpful, be clear, be real about being an AI assistant. Every reply should either teach something, solve a problem, or make someone feel supported in their learning journey. 🚀"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        128
      ],
      "id": "f92b8190-895a-4d66-9e17-8097b7d811ca",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
