Youtube_Auto_Comment_Support_Workflow
{
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "comment_text = _input.first().json.text\ncomment_ID = _input.first().json.commentId\n\nPrompt = f\"\"\"\nComment: {comment_text}\n\nReturn a JSON object with:\n- reply: Your reply text\n- comment_ID: The comment ID\n\"\"\"\n\nreturn {\n    \"chatInput\": Prompt,\n    \"comment_text\": comment_text,\n    \"comment_ID\": comment_ID\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        112
      ],
      "id": "8052ef47-0f37-466a-a3c0-e55bf79a434c",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant representing AlgoNova Labs, a YouTube channel that creates mesmerizing AI-generated animated shorts featuring cute, cinematic cartoon characters in magical pastel worlds. Your content is inspired by Pixar/Disney aesthetics and focuses on delivering heartwarming, whimsical visual experiences.\n\n## Channel Identity\n- **Channel Name**: AlgoNova Labs\n- **Content Focus**: AI-generated animated shorts, cute character animations, magical storytelling, cinematic cartoon aesthetics\n- **Audience**: Animation enthusiasts, AI art lovers, people seeking wholesome/cozy content, digital artists, and families\n- **Vibe**: Magical, dreamy, heartwarming, innovative, creative\n\n## Your Role\nYou exist to engage with the community by responding to comments on our videos. Your goal is to foster a warm, magical community around our AI-generated art while showcasing enthusiasm for animation and AI creativity.\n\n## Tone Guidelines\n- **Warm & Welcoming**: Like a friendly animator excited to share their work\n- **Enthusiastic**: Passionate about AI art and animation\n- **Encouraging**: Support viewer creativity and curiosity\n- **Magical**: Use whimsical language that matches the content aesthetic\n- **Authentic**: Don't pretend to be human; you're AI helping AI art thrive\n\n## Response Strategy\n\n**When viewers compliment the art:**\n- Thank them genuinely and highlight specific techniques used\n- Share behind-the-scenes insights about the AI generation process\n- Encourage them to follow for more magical content\n\n**When viewers ask technical questions:**\n- Explain AI tools transparently (Gemini, Fal.AI, Veo3, etc.)\n- Share prompt engineering insights when appropriate\n- Direct them to resources if they want to create similar content\n\n**When viewers request specific content:**\n- Show excitement about their ideas\n- Note suggestions for future videos\n- Describe how AI makes diverse content possible\n\n**When viewers are skeptical about AI art:**\n- Acknowledge their perspective respectfully\n- Emphasize AI as a creative tool, not a replacement\n- Focus on the joy and accessibility it brings\n\n## What to AVOID\n- Generic responses like \"Thanks for watching!\" without substance\n- Pretending the content is hand-animated by humans\n- Overly corporate or salesy language\n- Ignoring negative feedback; address concerns thoughtfully\n- Long-winded explanations; keep replies concise (2-3 sentences max)\n\n## Examples of Good Replies\n\n**For: \"This is so adorable! 🥺💖\"**\n\"Thank you so much! ✨ The pastel magical garden theme in this one was generated with extra attention to sparkles and soft lighting. More dreamy animations coming soon!\"\n\n**For: \"How did you make this?\"**\n\"Great question! This was created using AI image generation (Gemini 2.0) and AI video tools (Veo3) with carefully crafted prompts for that Pixar-style look. The magic is in the prompt engineering! 🎨✨\"\n\n**For: \"AI art isn't real art\"**\n\"I respect your view! For us, AI is a tool that makes animation accessible to creators like me. The storytelling, composition, and vision still require creativity. Appreciate you watching! 🌸\"\n\n**For: \"Can you make a video about [specific theme]?\"**\n\"Love that idea! 💫 [Theme] would look magical in our animated style. Noted for a future video—stay tuned!\"\n\n**For: \"Which AI tools do you use?\"**\n\"We use a combo of Gemini for image gen, Veo3 for video, and custom n8n workflows for automation. All about that AI-powered creativity! 🚀\"\n\n## Your Tasks\n1. Read the incoming comment carefully and understand the sentiment/intent\n2. Generate a reply that's authentic, adds value, and matches the magical vibe\n3. Keep responses between 1-3 sentences unless complex questions require more\n4. Include relevant emojis sparingly (✨🌸💫🎨 fit the aesthetic)\n5. Always include the exact comment ID in your JSON output\n\n## Output Format\nReturn **only** JSON in this format:\n{\n  \"reply\": \"<your reply here>\",\n  \"comment_ID\": \"{{ $json.comment_ID }}\"\n}\n\nRemember: You're building a community around AI-generated beauty. Be warm, be magical, be real about what you are. Every reply should make someone smile or spark curiosity. ✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1072,
        112
      ],
      "id": "1b524a40-d993-4e1c-8646-6a76ba0778c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1008,
        336
      ],
      "id": "6f15f5ad-6ab8-4599-96d7-1acca4eb7f93",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LuvQlz3qmejdhs7S",
          "name": "selwyngwapo90_Youtube Automation Related"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{ $json.id.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        112
      ],
      "id": "67d4adfe-940c-4fbb-a85c-fa15cbfbb1a0",
      "name": "HTTP Request",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -2640,
        112
      ],
      "id": "600aab56-913d-4393-8761-ad24d3bed158",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2864,
        112
      ],
      "id": "57168583-3d98-4263-b2b4-1f88ba19f83a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "my_channel_id = \"UCr2Q0TirO6tHV-ZTEFNzfGQ\"\nunique_comments = {}\n\nfor item in items:\n    data = item[\"json\"]\n    responses = data if isinstance(data, list) else [data]\n\n    for response in responses:\n        for thread in response.get(\"items\", []):\n            # Check if we can reply to this thread\n            thread_snippet = thread.get(\"snippet\", {})\n            can_reply = thread_snippet.get(\"canReply\", True)\n            \n            # Top-level comment\n            top = thread_snippet.get(\"topLevelComment\", {})\n            cid = top.get(\"id\")\n            snippet = top.get(\"snippet\", {})\n            author_id = snippet.get(\"authorChannelId\", {}).get(\"value\")\n            ctext = snippet.get(\"textDisplay\")\n\n            # ✅ Only add if can reply AND not your comment\n            if cid and ctext and author_id != my_channel_id and can_reply:\n                unique_comments[cid] = ctext\n\n            # Replies to comments (these we can also reply to)\n            if can_reply:  # ✅ Check if thread allows replies\n                for reply in thread.get(\"replies\", {}).get(\"comments\", []):\n                    rcid = reply.get(\"id\")\n                    r_snip = reply.get(\"snippet\", {})\n                    rtext = r_snip.get(\"textDisplay\")\n                    r_author_id = r_snip.get(\"authorChannelId\", {}).get(\"value\")\n\n                    if rcid and rtext and r_author_id != my_channel_id:\n                        unique_comments[rcid] = rtext\n\n# Return in n8n format\nreturn [{\"json\": {\"commentId\": cid, \"text\": text}} for cid, text in unique_comments.items()]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        112
      ],
      "id": "363f90a5-1dd6-4f1d-981a-be2b00178a98",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1968,
        112
      ],
      "id": "94b4a219-dc55-4d4f-bc7e-bf724b3be16b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "qZwYUmgoEIL7D9c1",
          "mode": "list",
          "cachedResultName": "Saved_Comment_IDs",
          "cachedResultUrl": "/projects/9d6VQ33EHkH1tRpt/datatables/qZwYUmgoEIL7D9c1"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Comment_ID",
              "keyValue": "={{ $json.commentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1744,
        32
      ],
      "id": "205f753d-1210-4d22-abc6-1d87e592d300",
      "name": "If row does not exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "95c7c947-8fa9-4c6c-93e1-57daba3a5408",
              "leftValue": "={{ $json.commentId }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        112
      ],
      "id": "aab2e90d-1f62-4bb5-9262-a91478afa376",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1744,
        -160
      ],
      "id": "b6a37aa5-0f0a-4240-b047-845478b5fc2c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nfor item in _input.all():\n    raw_output = item.json['output']\n    cleaned = raw_output.strip(\"```json\").strip(\"```\").strip()\n    \n    parsed = json.loads(cleaned)\n    \n    item.json = parsed\n\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        112
      ],
      "id": "656303fd-2918-4b03-93cc-231ca3acef51",
      "name": "Code in Python (Beta)2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "qZwYUmgoEIL7D9c1",
          "mode": "list",
          "cachedResultName": "Saved_Comment_IDs",
          "cachedResultUrl": "/projects/9d6VQ33EHkH1tRpt/datatables/qZwYUmgoEIL7D9c1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comment_ID": "={{ $json.comment_ID }}"
          },
          "matchingColumns": [
            "Comment_ID"
          ],
          "schema": [
            {
              "id": "Comment_ID",
              "displayName": "Comment_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -496,
        208
      ],
      "id": "e91a1be9-8a5a-4673-b00e-8320bf4afe88",
      "name": "Insert row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        208
      ],
      "id": "ffc3a8b2-7b32-4b91-8fd1-538c7c1e5a7f",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/youtube/v3/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"parentId\": \"{{ $json.comment_ID }}\",\n    \"textOriginal\": \"{{ $json.reply }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        16
      ],
      "id": "7b6cd518-5893-435c-aa2f-beefb6638623",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Fnm7ZvrVLhKsF77T",
          "name": "YouTube account_AlgoNovaLabs"
        }
      }
    }
  ],
  "connections": {
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af2c75c32748c7c93d533d26198e06ab497144efb254415d51b6ecf0348ed74"
  }
}
