YouTube_Affiliate_Update.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {},
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -496,
        2048
      ],
      "id": "91e17574-bdb9-4602-9eee-a462a8addbb4",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\n# Get all input items\nitems_list = []\n# When \"Run Once for All Items\" is enabled, access .json property\nfor item in items:\n    youtube_title = item.json[\"snippet\"][\"title\"]\n    youtube_description = item.json[\"snippet\"][\"description\"]\n    \n    # Clean the description for JSON formatting\n    youtube_description_clean = youtube_description.replace(\"\\n\", \" \").replace('\"', '\\\\\"')\n    \n    prompt = f\"\"\"You are a YouTube description optimizer for Selwyn Builds - teaching n8n automation and workflow systems that help people work smarter! 🚀\n\nYOUR MISSION:\n1. FIRST: Use the datatable tool to get ALL available links\n2. Read what types of links exist (resources? tools? community? courses?)\n3. Create a RELEVANT header that matches n8n/automation content\n4. Write clear, helpful copy for EACH link based on its actual purpose\n5. Add a SHORT, professional closing (2-3 sentences MAX!)\n6. Use \\\\n for line breaks!\n\nTitle: {youtube_title}\nDescription: {youtube_description_clean}\n\nCRITICAL INSTRUCTIONS:\n- Call datatable tool FIRST\n- Use EVERY link from datatable (use exact URLs, never make up links)\n- Create FRESH, ORIGINAL content every time - NO repetition across videos!\n- Read each link's purpose and write helpful copy for it\n- END with a BRIEF, friendly closing (keep it SHORT!)\n\nOUTPUT FORMAT:\n{{\n  \"Title\": \"{youtube_title}\",\n  \"New_Description\": \"enhanced description with ALL real links AND warm closing\",\n  \"What_Changed\": \"summary\"\n}}\n\nLINKS SECTION - HEADER CREATION:\nRead the links first, then CREATE YOUR OWN unique header for an n8n/automation tutorial channel. Don't copy these - use them as inspiration:\n\nStyle inspiration (create your own versions):\n- Resource vibe: \"Helpful Resources\", \"Tools & Links\", \"What I Use\"\n- Learning vibe: \"Continue Learning\", \"More Automation Content\", \"Dive Deeper\"\n- Community vibe: \"Connect With Me\", \"Join the Automation Journey\"\n- Business vibe: \"Work With Me\", \"Automation Services\", \"Let's Build Together\"\n\nUse varied emojis, varied phrasing, varied energy. Never repeat headers!\n\nLINKS WRITING:\n[Your creative header]\n\n[For each link, write SHORT helpful copy - 1 sentence max per link]\n[Clear description] [emoji]\n[ACTUAL URL from datatable]\n\n[Next link - keep it snappy!]\n\nCLOSING SECTION - KEEP IT SHORT & PROFESSIONAL:\n⚠️ MAXIMUM 2-3 SENTENCES! ⚠️\n\nAfter all links, write a BRIEF closing that:\n- Thanks them OR invites engagement\n- Mentions like/subscribe naturally (don't overdo it)\n- Signs off warmly but professionally\n- Matches the tutorial/educational vibe\n\nGOOD CLOSING EXAMPLES (short & effective):\n✅ \"Thanks for watching! 🚀 If this helped you understand n8n better, hit subscribe for more automation tutorials. Questions? Drop them below!\"\n\n✅ \"Hope this made n8n click for you! 💡 Like and subscribe for more workflow automation content. What should I cover next?\"\n\n✅ \"Appreciate you learning with me! 🎯 Subscribe for practical n8n tutorials every week. Let me know what you want to automate!\"\n\n✅ \"That's it for today's tutorial! ⚡ Hit like if this was helpful, and subscribe for more n8n content. See you in the next one!\"\n\nBAD CLOSING EXAMPLES (too long, too fluffy):\n❌ \"Thank you so much for joining me on this incredible automation journey! I really hope this tutorial has empowered you to take your workflows to the next level and unlock the full potential of n8n. If you found value in this content, I'd be incredibly grateful if you could show your support by liking this video and subscribing to the channel for more amazing tutorials!\"\n\n❌ Any closing over 3 sentences\n❌ Using marketing speak or overly salesy language\n❌ Multiple CTAs crammed together\n\nCLOSING FORMULA:\n[Quick thank you OR value statement] + [Brief CTA] + [Short sign-off]\nThat's it! Keep it tight and professional!\n\nTONE GUIDELINES:\n- Be CLEAR and HELPFUL (you're teaching!)\n- Professional but approachable (not corporate, not too casual)\n- Match the tutorial's technical level\n- Keep link descriptions to ONE sentence each\n- Keep closing to 2-3 sentences MAX\n- Sound like a knowledgeable friend explaining something\n- Focus on VALUE, not hype\n\nFORMAT RULES:\n- Use \\\\n for line breaks\n- Pattern: brief_text\\\\nURL\\\\n\\\\n (double break between links)\n- Include ALL links from datatable\n- End with SHORT closing (2-3 sentences!)\n\nCREATIVITY MANDATE:\n🚨 Never repeat yourself across videos! 🚨\n- Every header should be ORIGINAL\n- Every closing should be UNIQUE but BRIEF\n- Let the video title/topic inspire your tone\n- Make each description feel handcrafted, not templated\n- Be educational but CONCISE\n\"\"\"\n    \n    items_list.append({\n        \"json\": {\n            \"chatInput\": prompt,\n            \"videoId\": item.json[\"id\"][\"videoId\"],\n            \"snippet\": item.json[\"snippet\"]\n        }\n    })\n\nreturn items_list"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        2048
      ],
      "id": "a3837ac4-fa8a-4138-a3b6-267343aeef0a",
      "name": "Code in Python (Beta)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        2048
      ],
      "id": "cf0cf07e-2a0b-43ea-a071-87be064b396d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import os\n\nAI_nodes = ['AI Agent - Video Prompter', 'AI Agent - Video Prompter2', 'AI Agent - Video Prompter3']\n\ncounter_file = '/tmp/n8n_ai_counter.txt'\n\nif os.path.exists(counter_file):\n    with open(counter_file, 'r') as f:\n        current_index = int(f.read().strip())\nelse:\n    current_index = 0\n\nassigned_ai = AI_nodes[current_index % len(AI_nodes)]\n\nnext_index = (current_index + 1) % len(AI_nodes)\nwith open(counter_file, 'w') as f:\n    f.write(str(next_index))\n\nprint(f\"Iteration: {current_index + 1}, Assigned: {assigned_ai}\")\n\nreturn {\n    'assignedAI': assigned_ai,\n    'chatInput': _json['chatInput'],\n    'videoId': _json['videoId'],\n    'title': _json['snippet']['title'],\n    'description': _json['snippet']['description']\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        2048
      ],
      "id": "a3a95fff-fee5-4095-a904-ce2010d1d743",
      "name": "Assign AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.assignedAI }}",
                    "rightValue": "AI Agent - Video Prompter2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c4144621-bdad-4dd5-a007-8ee388135062"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29887cbf-9a73-4f09-91bf-f142fa570055",
                    "leftValue": "={{ $json.assignedAI }}",
                    "rightValue": "AI Agent - Video Prompter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "93814a0d-e7ff-4ad8-8cbf-66335e8de582",
                    "leftValue": "={{ $json.assignedAI }}",
                    "rightValue": "AI Agent - Video Prompter3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        2032
      ],
      "id": "23ec4623-5d33-480d-846e-bd2be21f7911",
      "name": "Switch"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"The YouTube video title\"\n    },\n    \"New_Description\": {\n      \"type\": \"string\",\n      \"description\": \"The enhanced description with affiliate links\"\n    },\n    \"What_Changed\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of changes made\"\n    }\n  },\n  \"required\": [\"Title\", \"New_Description\", \"What_Changed\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        1552
      ],
      "id": "28feeaf7-462c-472e-ac81-722d778535e3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sHHirlfbchihjnIs",
          "mode": "list",
          "cachedResultName": "AffiliateLinks",
          "cachedResultUrl": "/projects/pOP3ATtXLDsPCi3M/datatables/sHHirlfbchihjnIs"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        704,
        1552
      ],
      "id": "f1b2424e-13f8-44b0-a7ea-07aa650d0543",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "jsCode": "let x = $input.first().json.output;\n\nx.New_Description = x.New_Description\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nx.What_Changed = x.What_Changed.replace(/\\n+/g, ' ').trim();\n\nreturn x;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        2144
      ],
      "id": "f5f58961-1ec9-44d1-8408-7833819511f0",
      "name": "Code in JavaScript",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "content": "# API Keys\n\njaymeselwyn@gmail.com - YouTube Automation Related [API_KEY](AIzaSyBdiMWDS_hWgmSXSvteOngPoXpYbVFmsWA)\nalgonovalabs@gmail.com - YOUTUBE AUTOMATION RELATED [API_KEY](AIzaSyBz2QIu6HgrZPXtyG123q8hsgsogqZds70)\n\n## [Spreadsheet Here](https://docs.google.com/spreadsheets/d/12-pAQisSOVLPXx6TL0914T4hUzDHxa3BJ9pKxuVuxxA/edit?usp=sharing)\n\n## Affiliate Links\n* [Amazon](https://affiliate-program.amazon.com/home)\n* [Canva(Soon)](https://public.canva.site/empower-canvassador-program)\n* [Awin Login](https://ui.awin.com/)\n* [My Gumroad](https://zkllmt.gumroad.com)",
        "height": 432,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        1328
      ],
      "typeVersion": 1,
      "id": "6067d294-125b-4464-afe0-c042b06be31d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"The YouTube video title\"\n    },\n    \"New_Description\": {\n      \"type\": \"string\",\n      \"description\": \"The enhanced description with affiliate links\"\n    },\n    \"What_Changed\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of changes made\"\n    }\n  },\n  \"required\": [\"Title\", \"New_Description\", \"What_Changed\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        2976
      ],
      "id": "43a5aab5-7e0f-4466-9235-4b3ead941444",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sHHirlfbchihjnIs",
          "mode": "list",
          "cachedResultName": "AffiliateLinks",
          "cachedResultUrl": "/projects/pOP3ATtXLDsPCi3M/datatables/sHHirlfbchihjnIs"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        704,
        2160
      ],
      "id": "0316141a-7022-46c9-a038-247e30afe085",
      "name": "Get row(s) in Data table1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"The YouTube video title\"\n    },\n    \"New_Description\": {\n      \"type\": \"string\",\n      \"description\": \"The enhanced description with affiliate links\"\n    },\n    \"What_Changed\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of changes made\"\n    }\n  },\n  \"required\": [\"Title\", \"New_Description\", \"What_Changed\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        2160
      ],
      "id": "3ab652bc-3614-4ba5-832e-392006323dc0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sHHirlfbchihjnIs",
          "mode": "list",
          "cachedResultName": "AffiliateLinks",
          "cachedResultUrl": "/projects/pOP3ATtXLDsPCi3M/datatables/sHHirlfbchihjnIs"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        704,
        2976
      ],
      "id": "41a3a4df-3094-4fa0-bc93-5e2f5a06a93a",
      "name": "Get row(s) in Data table2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zJ_ghaxdjCXYtJ8z42v9w_hVEXFTShZB6CCZjookK4g",
          "mode": "list",
          "cachedResultName": "Youtube Description Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zJ_ghaxdjCXYtJ8z42v9w_hVEXFTShZB6CCZjookK4g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12-pAQisSOVLPXx6TL0914T4hUzDHxa3BJ9pKxuVuxxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "New_Description": "={{ $json.New_Description }}",
            "What_Changed": "={{ $json.What_Changed }}",
            "Youtube Link": "=https://www.youtube.com/shorts/{{ $('Get many videos').item.json.id.videoId }}",
            "Title ": "={{ $json.Title }}",
            "Old_Description ": "={{ $('Get many videos').item.json.snippet.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Old_Description ",
              "displayName": "Old_Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "New_Description",
              "displayName": "New_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "What_Changed",
              "displayName": "What_Changed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        2144
      ],
      "id": "a549b81b-cca1-449d-a9da-c54000d55720",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        1856
      ],
      "id": "0aa16506-f462-40f9-8c5a-ce058d154c93",
      "name": "Done"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $('Get many videos').item.json.id.videoId }}",
        "title": "={{ $('Get many videos').item.json.snippet.title }}",
        "regionCode": "PH",
        "categoryId": "28",
        "updateFields": {
          "description": "={{ $json.New_Description }}",
          "embeddable": true,
          "notifySubscribers": true
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1648,
        2624
      ],
      "id": "5b286d7b-af76-41af-9a4f-7cb9180d4eb4",
      "name": "Update a video",
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bulw9qSSLviW2aW9",
          "name": "YouTube account | Selwyn Builds"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        2048
      ],
      "id": "60fd2f5c-879d-40be-b6fa-a67a6943bc5e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        1760
      ],
      "id": "7b5bed67-9933-474a-ada2-e7dd84b3c184",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Copy the exact links you find in datatable tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        1328
      ],
      "id": "c429a558-995c-4118-974c-3a8607a811c3",
      "name": "AI Agent - Video Prompter2"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Copy the exact links you find in datatable tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        1936
      ],
      "id": "fe2227bc-c50c-4326-97c7-699616583231",
      "name": "AI Agent - Video Prompter"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Copy the exact links you find in datatable tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        2752
      ],
      "id": "130c6c7e-5dd7-4282-9ba8-fd1c94fa1e22",
      "name": "AI Agent - Video Prompter3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        2368
      ],
      "id": "eb1f77c5-b256-45d0-96cf-442959c43e75",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        3184
      ],
      "id": "f6944112-9ae5-4086-8490-b1fd57f2a24c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ZaIblaOs0sHA2vzl",
          "name": "OpenAi account | jaymeselwyn@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Get many videos": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Video Prompter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Video Prompter2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Video Prompter3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent - Video Prompter2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b5795ef3a4c9f21772ed779f224a8776fb0b15a1fe23b9b48a11d4e439596f6"
  }
}
